﻿
@{
    ViewBag.Title = "Panel Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CountryWide.Models.PanelFormModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}

<div class="container">
    <h1>
        Panel Form: New Item
    </h1>
    <br />
    @using (Html.BeginForm("NewPanelForm", "PanelForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Type Of Panel</label>
            <div class="col-md-8">
                @Html.DropDownListFor(pt => pt.TypeOfPanelID, Model.NewCompliantModel.PanelModelList, "Select Panel Type", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select panel type')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Reason For Panel</label>
            <div class="col-md-8">
                @Html.DropDownListFor(pt => pt.ReasonForPanelID, Model.NewCompliantModel.PanelReasonList, "Select Reason For Panel ", new { @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" name="ClientName" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" required="required" oninvalid="this.setCustomValidity('Please enter client name')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Address</label>
            <div class="col-md-8">
                <input class="form-control" id="Address" name="Address" placeholder="Enter Address" title="" type="text" value="@Model.Address" required="required" oninvalid="this.setCustomValidity('Please enter address')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">TMID/eDIF No</label>
            <div class="col-md-8">
                <input class="form-control" id="TMID" name="TMID" placeholder="Enter TMID/eDIF No" title="" type="text" value="@Model.TMID" required="required" oninvalid="this.setCustomValidity('Please enter TMID/eDIF no')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Details</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Details" name="Details" rows="10" required="required" oninvalid="this.setCustomValidity('Please enter details')" oninput="this.setCustomValidity('')">@(Model.Details)</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Panel Firm (Funds going to)</label>
            <div class="col-md-8">
                <input class="form-control" id="PanelFrim_FundsGoing" name="PanelFrim_FundsGoing" placeholder="Panel Firm (Funds going to)" title="" type="text" value="@Model.PanelFrim_FundsGoing" required="required" oninvalid="this.setCustomValidity('Please enter panel firm (funds going to)')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Panel firm (Funds coming from)</label>
            <div class="col-md-8">
                <input class="form-control" id="PanelFrim_FundsComing" name="PanelFrim_FundsComing" placeholder="Panel firm (Funds coming from)" title="" type="text" value="@Model.PanelFrim_FundsComing" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Awaiting funds?</label>
            <div class="col-md-8">
                @Html.DropDownListFor(pt => pt.AwaitingFundsId, Model.NewCompliantModel.PanelAwaitingFundsList, "Select Funds Status", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select funds status')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" id="Amount" name="Amount" placeholder="Enter Amount" onpaste="return false;"  title="" type="text" min="0" value="@Model.Amount" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" required="required" oninvalid="this.setCustomValidity('Please enter amount')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Client accounts - complete</label>
            <div class="col-md-8">

                <input id="ClientAccounts_complete" name="ClientAccounts_complete" type="checkbox" value="true" @(Model.ClientAccounts_complete != null && Model.ClientAccounts_complete.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Action required by panel</label>
            <div class="col-md-8">

                <input id="ActionrequiredByPanel" name="ActionrequiredByPanel" type="checkbox" value="true" @(Model.ActionrequiredByPanel != null && Model.ActionrequiredByPanel.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Panel team complete</label>
            <div class="col-md-8">

                <input id="PanelTeamComplete" name="PanelTeamComplete" type="checkbox" value="true" @(Model.PanelTeamComplete != null && Model.PanelTeamComplete.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Panel firm allocated/appointed</label>
            <div class="col-md-8">
                <input class="form-control" id="PanelFirmAllocated_Appointed" name="PanelFirmAllocated_Appointed" placeholder="Panel Firm Allocated / Appointed" title="" type="text" value="@Model.PanelFirmAllocated_Appointed" />
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>

    }
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#Amount').val("");

    })
    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
</script>


