﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Countrywide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link href="~/css/BootstrapCSS/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />


    <!-- Font Awesome CSS-->
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Fontastic Custom icon font-->
    <link href="~/css/fontastic.css" rel="stylesheet" />
    <!-- jQuery Circle-->
    <link href="~/css/grasp_mobile_progress_circle-1.0.0.min.css" rel="stylesheet" />
    <!-- theme stylesheet-->
    <link href="~/css/style.default.css" rel="stylesheet" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link href="~/css/custom.css" rel="stylesheet" />

    <link href="~/css/style.default.css" rel="stylesheet" />

    <link href="~/css/jquery.dataTables1.10.23.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- Main File-->
    <script src="~/Scripts/front.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

</head>
<body>
    <!-- Side Navbar -->
    <nav class="side-navbar" style="width:245px;">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">


                    <a href="@Url.Action("Index", "Home")" title="Home">
                        <img src="~/Images/imagecountry.jpg" alt="CountryWideLogo" width="500" height="600">


                    </a>
                    <span>Conveyancing Services</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">

                @using CountryWide.Utility

                @{ List<CountryWide.Models.MenuItems> menuList = Session["MenuList"] as List<CountryWide.Models.MenuItems>;
                    GenericUtility objGenericUtility = new GenericUtility();
                    int getRoleId = 0;
                    if (Session["UserRoleId"] != null)
                    {
                        getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

                    }
                    //List<SelectListItem> reportList = Session["ReportList"] as List<SelectListItem>;
                }


                @if (menuList != null && menuList.Count > 0)
                {

                    menuList = menuList.OrderBy(o => o.MenuName).ToList();
                    int fullControlCount = menuList.Where(e => e.SubMenuId == 401).Count();


                    int userLevelAccessCount = menuList.Select(s => s.TrackerTeam).Distinct().ToList().Count();

                    if (userLevelAccessCount == 1)
                    {
                        <h5 class="sidenav-heading">@menuList.FirstOrDefault().TrackerName</h5>

                        <ul id="side-main-menu" class="side-menu list-unstyled">


                            @foreach (var item in menuList.GroupBy(Obj => new { Obj.MenuId }).Distinct().ToList())
                            {
                                <li>

                                    <a href="#Menu@(item.FirstOrDefault().MenuId)" aria-expanded="false" data-toggle="collapse" class="dynamicExpand">  @item.FirstOrDefault().MenuName </a>
                                    <ul id="Menu@(item.FirstOrDefault().MenuId)" class="collapse list-unstyled ">

                                        @{ foreach (var firstItem in item)
                                            {
                                                if (firstItem.SubMenuName == "Create")
                                                {
                                                    <li>@Html.ActionLink(firstItem.SubMenuName, firstItem.ActionName, firstItem.ControllerName)</li>
                                                }
                                                else if (firstItem.SubMenuName != "Configure")
                                                {
                                                    <li>
                                                        @Html.ActionLink(linkText: firstItem.SubMenuName, actionName: firstItem.ActionName, controllerName: firstItem.ControllerName, routeValues: new { TrackerId = firstItem.MenuId, ProcessorId = firstItem.SubMenuId }, htmlAttributes: null)
                                                    </li>
                                                }

                                            }

                                        }
                                    </ul>
                                </li>

                            }

                            @if (fullControlCount > 0)
                            {
                                var getFullControlData = menuList.Where(e => e.SubMenuId == 401).FirstOrDefault();

                                <li>
                                    <a href="#ConfigurationMenu" aria-expanded="false" data-toggle="collapse">Configuration</a>
                                    <ul id="ConfigurationMenu" class="collapse list-unstyled ">
                                        <li>
                                            @Html.ActionLink("Multi View", actionName: getFullControlData.ActionName, controllerName: getFullControlData.ControllerName)
                                        </li>

                                        <li><a id="QueryBuilder" href="@Url.Action("GetBuildQueryDetails", "Configuration")">Query Builder</a></li>
                                    </ul>
                                </li>
                            }

                            @if (getRoleId == objGenericUtility.Read_ClientAccounting || getRoleId != objGenericUtility.Read_Gen || getRoleId == objGenericUtility.Full_ClientAccounting || getRoleId != objGenericUtility.Full_Gen)
                            {

                        <li>
                            <a href="@Url.Action("LoadReportNames", "Report")"  aria-expanded="false">Reports</a>
                            <ul id="ReportMenu" class="collapse list-unstyled ">
                                <li></li>
                            </ul>
                        </li>

                                

                            }

                        </ul>

                    }

                    else
                    {
            <ul id="side-main-menu" class="side-menu list-unstyled">


                @foreach (var item in menuList.GroupBy(Obj => new { Obj.TrackerTeam }).Distinct().ToList())
                {
                    <li>
                        @{
                            string TeamName = "";
                            TeamName = item.FirstOrDefault().TrackerTeam.Replace(" ", string.Empty);
                        }
                        <a href="#Menu@(TeamName)" class="dynamicExpand" aria-expanded="false" data-toggle="collapse">  @item.FirstOrDefault().TrackerTeam </a>
                        <ul id="Menu@(TeamName)" class="collapse list-unstyled ">

                            @foreach (var subData in item.GroupBy(Obj => new { Obj.MenuId }).Distinct().ToList())
                            {
                                <li>

                                    <a href="#Menu@(subData.FirstOrDefault().MenuId)" class="childDynamicExpand" aria-expanded="false" data-toggle="collapse">  @subData.FirstOrDefault().MenuName </a>
                                    <ul id="Menu@(subData.FirstOrDefault().MenuId)" class="collapse list-unstyled ">

                                        @{ foreach (var firstItem in subData)
                                            {
                                                if (firstItem.SubMenuName == "Create")
                                                {
                                                    <li class="customcss">@Html.ActionLink(firstItem.SubMenuName, firstItem.ActionName, firstItem.ControllerName)</li>
                                                }
                                                else if (firstItem.SubMenuName != "Configure")
                                                {
                                                    <li class="customcss">
                                                        @Html.ActionLink(linkText: firstItem.SubMenuName, actionName: firstItem.ActionName, controllerName: firstItem.ControllerName, routeValues: new { TrackerId = firstItem.MenuId, ProcessorId = firstItem.SubMenuId }, htmlAttributes: null)
                                                    </li>
                                                }

                                            }

                                        }
                                    </ul>
                                </li>

                            }
                        </ul>
                    </li>


                }

                @if (fullControlCount > 0)
                {
                    var getFullControlData = menuList.Where(e => e.SubMenuId == 401).FirstOrDefault();

                    <li>
                        <a href="#ConfigurationMenu" aria-expanded="false" data-toggle="collapse">Configuration</a>
                        <ul id="ConfigurationMenu" class="collapse list-unstyled ">
                            <li>
                                @Html.ActionLink("Multi View", actionName: getFullControlData.ActionName, controllerName: getFullControlData.ControllerName)
                            </li>

                            <li><a id="QueryBuilder" href="@Url.Action("GetBuildQueryDetails", "Configuration")">Query builder</a></li>
                        </ul>
                    </li>
                }


                @if (getRoleId == objGenericUtility.Read_ClientAccounting || getRoleId != objGenericUtility.Read_Gen || getRoleId == objGenericUtility.Full_ClientAccounting || getRoleId != objGenericUtility.Full_Gen)
                {
                    <li>
                        <a href="@Url.Action("LoadReportNames", "Report")" aria-expanded="false">
                            Reports
                            <ul id="ReportMenu" class="collapse list-unstyled ">
                                <li></li>
                            </ul>
                        </a>
                    </li>



                }

            </ul>

                    }
                }
                else if (getRoleId == objGenericUtility.Admin_Gen)
                {
                    <h5 class="sidenav-heading">Admin</h5>
                    <ul id="side-main-menu" class="side-menu list-unstyled">
                        <li><a id="User" href="@Url.Action("GetReviewUsers", "Admin")">User Access</a></li>
                    </ul>
                }



            </div>
        </div>
    </nav>
    <div class="page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <div class="brand-text d-none d-md-inline-block"><strong style="color: #edf3ef">Conveyance Dashboard</strong></div>
                        </div>

                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-end">
                            <!-- Log out-->
                            <li class="nav-item"><a href="#" class="nav-link logout"> <span class="d-none d-sm-inline-block">@User.Identity.Name</span>  <em class="fa fa-sign-out"></em></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Counts Section -->

        <div class="container body-content" style="max-width:90%">
            <span></span>
            @RenderBody()


        </div>
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>CountryWide &copy; 2020-2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <button type="button" style="display:none" id="btnAlert" class="btn btn-info" data-toggle="modal" data-target="#alertModel" data-backdrop="static" data-keyboard="false">
        <span>Alert</span>
    </button>
    @* This modal popup we are using for common alert messages across apllication instead of showing as javscript alert box.*@
    <div class="modal fade" id="alertModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:400px;margin-left:40%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: gold; ">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center">
                    <label class="control-label" id="messageshowid" style=" font-size: 1.2em;"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-right: 170px; margin-top: 0px;" class="btn btn-info" data-dismiss="modal"> Ok </button>
                </div>
            </div>
        </div>
    </div>
   
    @* This modal popup we are using for where as we show options exit tracker and stay tracker. *@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="control-label">You have clicked on Cancel button. To continue, please click "Exit Tracker" and you will lose any data you have entered in the tracker. To stay back in the tracker, click on "Stay in Tracker"</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="ExitTracker">Exit tracker</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Stay in tracker</button>
                </div>
            </div>
        </div>
    </div>
</body>


</html>

@if (Session["MenuList"] == null || Session["UserRoleId"] == null)
{
<script>
                $(document).ready(function () {

                    document.location = '@Url.Action("Index","Home")';

            });

</script>
}
<script type="text/javascript">

    $(document).ready(function () {


        $("input[type='text']").attr("autocomplete", "off");
    $(".customcss a").css("padding-left", "30px");

     $('#ExitTracker').click(function () {
        document.location = '@Url.Action("Index","Home")';
     });

    });

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();

    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    $(".dynamicExpand").click(function () {

        var getExpandbleMenuId = $(this).attr("href");
        ShowHideExpandableTeam(getExpandbleMenuId);
    });

    $(".childDynamicExpand").click(function () {

        var getChildExpandbleMenuId = $(this).attr("href");
        ShowHideExpandableChild(getChildExpandbleMenuId);

    });


    function ShowHideExpandableChild(ExpandId) {

        $(".childDynamicExpand").each(function () {

            var getExpandbleId = $(this).attr("href");

            if (ExpandId != getExpandbleId) {

                $(this).attr("aria-expanded", false);
                $(getExpandbleId).removeClass("show");
                //child loop values need to be collpased when they are clicking another item.
                $(getExpandbleId).find("a").attr("aria-expanded", false);
                $(getExpandbleId).find("ul").removeClass("show");

            }

        });

    }

    function ShowHideExpandableTeam(ExpandId) {

        $(".dynamicExpand").each(function () {

            var getExpandbleId = $(this).attr("href");

            if (ExpandId != getExpandbleId) {

                $(this).attr("aria-expanded", false);
                $(getExpandbleId).removeClass("show");
                //child loop values need to be collpased when they are clicking another item.
                $(getExpandbleId).find("a").attr("aria-expanded", false);
                $(getExpandbleId).find("ul").removeClass("show");

            }

        });

    }

    function ShowMessage(alertMessage) {
        $("#messageshowid").text(alertMessage);
        $("#btnAlert").trigger('click');
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


</script>
