﻿
@{
    ViewBag.Title = "Unallocated Funds Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CountryWide.Models.UnallocatedFundsFormModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        ShowMessage("@ViewBag.Message");
    </script>
}

<div class="container">
    <h1>
        Unallocated Funds: New Item
    </h1>
    <br />
    @using (Html.BeginForm("NewUnallocatedFundsForm", "UnallocatedFundsForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group required">
            <label class="col-md-4 control-label">Date</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" id="Date" name="Date" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="Amount" name="Amount" s oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Amount" title="" value="@Convert.ToInt64(Model.Amount)" />
            </div>
        </div>   
        
        <div class="row form-group required">
            <label class="col-md-4 control-label">Payment Method</label>
            <div class="col-md-8">
                @Html.DropDownListFor(uf => uf.PaymentMethodID, Model.NewCompliantModel.UnallocatedFundsPaymentMethodList, "Select Payment Method", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select payment method')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Payment Details</label>
            <div class="col-md-8">
                <input class="form-control" maxlength="50" id="PaymentDetails" name="PaymentDetails" placeholder="Payment Details" title="" type="text" value="@Model.PaymentDetails" required="required" oninvalid="this.setCustomValidity('Please enter payment details')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CA Notes</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="CANotes" name="CANotes" rows="10" oninvalid="this.setCustomValidity('Please enter CANotes')" oninput="this.setCustomValidity('')">@(Model.CANotes)</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                @if (Model.MatterNumber != "")
                {
                    <input class="form-control" id="MatterNumber" name="MatterNumber" placeholder="Matter Number" title="" readonly="readonly" required="required" type="text" value="@Model.MatterNumber" />
                }
                else
                {
                    <input class="form-control" id="MatterNumber" name="MatterNumber" placeholder="Matter Number" title="" required="required" type="text" value="@Model.MatterNumber" oninvalid="this.setCustomValidity('Please enter matter number')" oninput="this.setCustomValidity('')" />
                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                @Html.DropDownListFor(uf => uf.StatusID, Model.NewCompliantModel.UnallocatedFundsStatusList, "Select Status", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select status')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Unallocated No </label>
            <div class="col-md-8">
                <input class="form-control" id="UnallocatedNumber" name="UnallocatedNumber" placeholder="Unallocated Number" title="" required="required" type="text" value="@Model.UnallocatedNumber" oninvalid="this.setCustomValidity('Please enter unallocated number')" oninput="this.setCustomValidity('')" />
                @*@Html.DropDownListFor(uf => uf.UnallocatedNoID, Model.NewCompliantModel.UnallocatedFundsNoList, "Select Unallocated No", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select unallocated no')", @oninput = "this.setCustomValidity('')" })*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Unallocated Monies VF2</label>
            <div class="col-md-8">
                <input class="form-control" id="UnallocatedMoniesVF2" name="UnallocatedMoniesVF2" placeholder="Unallocated Monies VF2" title="" type="text" value="@Model.UnallocatedMoniesVF2" maxlength="50" />
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#unallocatedFundsFormModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    }
    <div class="modal fade" id="unallocatedFundsFormModal" tabindex="-1" role="dialog" aria-labelledby="unallocatedFundsFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unallocatedFundsFormModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="control-label">You have clicked on Cancel button. To continue, please click "Exit Tracker" and you will lose any data you have entered in the tracker. To stay back in the tracker, click on "Stay in Tracker"</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="ExitTracker">Exit tracker</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Stay in tracker</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#Amount').val("");

    })
    $('#ExitTracker').click(function () {
        document.location = '@Url.Action("Index","Home")';
    });
    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });
    $("#ClientIsExpectingCall").prop("checked", false);

   
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    var txt = document.getElementById('Amount');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
    $(function () {
        $('.col-sm-4.date').datepicker({
            autoclose: true,
            dateFormat: "dd/MM/YYYY"

        });
        $("#Amount")[0].oninvalid = function () {
            this.setCustomValidity("Please enter amount");
        }
    });
</script>

