﻿@using CountryWide.Utility

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

}

@model CountryWide.Models.SalesLeadsModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Sales Leads: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Sales Leads: View
        </h1>

    }
    <br />


    @using (Html.BeginForm("UpdateSalesLead", "SalesLeads", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadSalesLeadFile", "SalesLeads", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>
                }


            </div>
        </div>

        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <div class="row form-group required">
            <label class="col-md-4 control-label">Consultant</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.ConsultantId, Model.NewCompliantModel.ConsultantList, "Select Consultant", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Consultant')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Lead Received</label>
            <div class="col-md-8">

                <input type="date" class="form-control inputstl" id="LeadReceived" name="LeadReceived" oninvalid="this.setCustomValidity('Please Select Lead Received')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select Date" value="@(Model.LeadReceived.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Source</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.SourceID, Model.NewCompliantModel.SourceList, "Select Source", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Source')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Team / Office</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.TeamOfficeId, Model.TeamOfficeList, "Select Team / Office", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team / Office')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Area</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.AreaID, Model.NewCompliantModel.AreaList, "Select Area", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Area')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Region</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.RegionId, Model.RegionList, "Select Region", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Region')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>


        <div class=" row form-group required">
            <label class="col-md-4 control-label">Brand</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.BrandId, Model.NewCompliantModel.BrandList, "Select Brand", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Brand')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Branch</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.BranchId, Model.NewCompliantModel.BranchList, "Select Branch", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Branch')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Referrer</label>
            <div class="col-md-8">


                <input class="form-control textReferrer" id="ReferrerText" name="ReferrerText" required="required" oninvalid="this.setCustomValidity('Please Enter Referrer')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.ReferrerText" maxlength="50" />

            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Transaction Type</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TransactionId, Model.NewCompliantModel.TransactionTypeList, "Select Transaction Type", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control rounded-0" id="CustomerName" name="CustomerName" oninvalid="this.setCustomValidity('Please Enter Customer Name')" oninput="this.setCustomValidity('')" required="required" value="@(Model.CustomerName)" maxlength="50" />
            </div>
        </div>

        @*<div class="row form-group">
                <label class="col-md-4 control-label">Customer Mobile</label>
                <div class="col-md-8">
                    <input type="text" class="form-control rounded-0" id="CustomerMobile" name="CustomerMobile" value="@(Model.CustomerMobile)" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" maxlength="10" />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-4 control-label">Customer Email</label>
                <div class="col-md-8">
                    <input type="text" class="form-control rounded-0" id="CustomerEmail" name="CustomerEmail" value="@(Model.CustomerEmail)" maxlength="50" />
                </div>
            </div>*@
        <div class="row form-group">
            <label class="col-md-4 control-label">Property Price</label>
            <div class="col-md-8">
                <input type="number" class="form-control rounded-0" id="PropertyPrice" min="0" name="PropertyPrice" value="@(Model.PropertyPrice)" onkeypress="return (event.charCode != 46 && event.charCode > 31 || (event.charCode < 48 || event.charCode > 57))" />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Next Follow Up Due</label>
            <div class="col-md-8">
                @if (Model.NextFollowUpDue != null)
                {
                    <input type="date" class="form-control inputstl" id="NextFollowUpDue" name="NextFollowUpDue" onkeydown="return false;" placeholder="Select Date" value="@(Model.NextFollowUpDue.Value.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                }
                else
                {
                    <input type="date" class="form-control inputstl" id="NextFollowUpDue" name="NextFollowUpDue" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Lead Status</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.LeadStatusId, Model.NewCompliantModel.LeadList, "Select Lead", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Lead Status')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Pending Reason</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.PendingReasonId, Model.NewCompliantModel.PendingReasonList, "Select Pendng Reason", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Decline Reason</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.DeclineReasonId, Model.NewCompliantModel.DeclineReasonList, "Select Decline Reason", new { @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Not Valid Reason</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.NotValidreasonId, Model.NewCompliantModel.NotValidReasonList, "Select Not Valid Reason", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Notes</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Notes" name="Notes" rows="10" oninvalid="this.setCustomValidity('Please Enter Notes')" oninput="this.setCustomValidity('')">@(Model.Notes)</textarea>
            </div>
        </div>
        <!--<div class="row form-group">
            <label class="col-md-4 control-label">PC</label>
            <div class="col-md-8">-->
        @*@Html.CheckBox("PC", false)*@
        <!--<input id="PC" name="PC" type="checkbox" value="true" @(Model.PC != null && Model.PC.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>-->
        <div class="row form-group">
            <label class="col-md-4 control-label">Instruction Date</label>
            <div class="col-md-8">
                @if (Model.NextFollowUpDue != null)
                {
                    <input type="datetime-local" class="form-control date-picker" id="InstructionDate" onkeydown="return false;" name="InstructionDate" value="@(Convert.ToDateTime(Model.InstructionDate).ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                }
                else
                {
                    <input type="datetime-local" class="form-control date-picker" id="InstructionDate" onkeydown="return false;" name="InstructionDate"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">eDIF or TMID</label>
            <div class="col-md-8">
                <input type="text" class="form-control rounded-0" id="eDif_Or_TMID" name="eDif_Or_TMID" value="@(Model.eDif_Or_TMID)" maxlength="50" />

            </div>
        </div>
        @*<div class="row form-group">
                <label class="col-md-4 control-label">Total Fee Quoted (exc VAT & LR)</label>
                <div class="col-md-8">
                    <input type="text" class="form-control rounded-0" id="TotalFeeQuoted" name="TotalFeeQuoted" value="@(Model.TotalFeeQuoted)" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" />

                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Discount</label>
                <div class="col-md-8">
                    <input type="number" class="form-control rounded-0" id="Discount" name="Discount" value="@(Model.Discount)" onkeypress="return (event.charCode != 46 && event.charCode > 31 || (event.charCode < 48 || event.charCode > 57))" />

                </div>
            </div>*@

        <div class="row form-group">
            <label class="col-md-4 control-label">Revenue (ref cost calc)</label>
            <div class="col-md-8">
                <input type="number" class="form-control rounded-0" id="Revenue" name="Revenue" value="@(Model.Revenue)" onkeypress="return (event.charCode != 46 && event.charCode > 31 || (event.charCode < 48 || event.charCode > 57))" />

            </div>
        </div>


        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {

                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }


                <a href="@Url.Action(ViewBag.ActionName,"SalesLeads", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["SalesLeadViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">
                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewSalesLeads","SalesLeads", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["SalesLeadViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>

    }
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="control-label">You have clicked on Cancel button. To continue, please click "Exit Tracker" and you will lose any data you have entered in the tracker. To stay back in the tracker, click on "Stay in Tracker"</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="ExitTracker">Exit tracker</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Stay in tracker</button>
                </div>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript">



    $(document).ready(function () {


        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }


        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").attr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],select").attr("disabled", "disabled");



        $("#btnEdit").click(function () {

            var dtToday = new Date();
            var dd = dtToday.getDate();
            var mm = dtToday.getMonth() + 1; //January is 0!
            var yyyy = dtToday.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            dtToday = yyyy + '-' + mm + '-' + dd;

            document.getElementById("NextFollowUpDue").setAttribute("min", dtToday);

            //$('.dropdownReferrer').prop("disabled", true);
            //$(".textReferrer").attr("disabled", false);


            $(".row input,textarea").not("input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("readonly", "readonly");
            $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
            $("#RecievedFrom , #id_Matter_Number").attr("readonly", "readonly");
            $("#divedit").hide();
            $("#divsave").show();
            setRequiredValidation($('input[name="ReferrerId"]:checked').val());

        });

        //$(':radio[name=ReferrerId]').change(function () {
        //    setRequiredValidation(this.value);
        //});

    });
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });
    //function setRequiredValidation(value) {
    //    if (value == '1') {

    //        $('.dropdownReferrer').prop("disabled", false);
    //        $('.dropdownReferrer').attr("required", "required");

    //        $('.textReferrer').val('');
    //        $(".textReferrer").attr("disabled", true);
    //    }
    //    else {
    //        $('.textReferrer').prop("disabled", false);
    //        $('.textReferrer').attr("required", "required");

    //        $('.dropdownReferrer').prop('selectedIndex', 0);
    //        $('.dropdownReferrer').prop("disabled", true);
    //    }
    //}

</script>







