﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditHighValueIndemnity";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.HighValueIndemnity.HighValueIndemnityModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            High Value Indemnity: Edit/View
        </h1>
    }
    else
    {
        <h1>
            High Value Indemnity: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateHighValueIndemnity", "HighValueIndemnity", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />
        @Html.HiddenFor(M => M.IsMatterNumberExisted)




        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadHighValueIndemnityFile", "HighValueIndemnity", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>

                }

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">


                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">


                <input class="form-control" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" />

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.CenterID)

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Address</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="PropertyAddress" name="PropertyAddress" rows="10" oninvalid="this.setCustomValidity('Please Enter Property Address')" oninput="this.setCustomValidity('')" required="required">@Model.PropertyAddress</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Exchange Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="ExchangeDate" name="ExchangeDate" value="@Model.ExchangeDate.ToString("yyyy-MM-dd")" onchange="this.CheckDates()" oninvalid="this.setCustomValidity('Please Select Exchange Date')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Exchange Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="CompletionDate" name="CompletionDate" oninvalid="this.setCustomValidity('Please Select Completion Date')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01"  onkeydown="return false;" placeholder="Select Completion Date" value="@Model.CompletionDate.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Price</label>
            <div class="col-md-8">
                <input class="form-control text" type="number" id="PropertyPrice" value="@Convert.ToInt32(Model.PropertyPrice)" oninvalid="this.setCustomValidity('Please Enter Property Price')" oninput="this.setCustomValidity('')" name="PropertyPrice" min="0" required="required" placeholder="Enter Property Price" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Premium IP Amount (In Pounds)</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.PremiumAmountId, Model.PremiumAmountList, "Select Premium IP Amount", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Premium IP Amount')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

               @* <input class="form-control text" type="number" id="PremiumIPAmount" value="@Convert.ToInt32(Model.PremiumIPAmount)" name="PremiumIPAmount" oninvalid="this.setCustomValidity('Please Enter Premium IP Amount')" oninput="this.setCustomValidity('')" min="0" required="required" placeholder="Enter Premium IP Amount" onkeypress="return isNumberKey(event)" title="" />*@
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Fee Earner</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" id="FeeEarner" maxlength="50" name="FeeEarner" value="@Model.FeeEarner" onchange="this." oninvalid="this.setCustomValidity('Please Enter Fee Earner')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Fee Earner" title="" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CA Only</label>
            <div class="col-md-8">
                <input id="CAOnly" name="CAOnly" type="checkbox" value="true" @(Model.CAOnly != null && Model.CAOnly.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Notes</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" id="Notes" name="Notes" value="@Model.Notes" placeholder="Enter Notes" title="" />
            </div>
        </div>


        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {

                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"HighValueIndemnity", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["HighVolumnIndemnityViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary" onclick="return CheckDates('Completion date cannot be less than Exchange Date');">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewHighValueIndemnity","HighValueIndemnity", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId ,ViewName = Session["HighVolumnIndemnityViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>




<script type="text/javascript">


    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });

    $(".row input,textarea").not("input[type=checkbox],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],select").attr("disabled", "disabled");


    $("#btnEdit").click(function () {

        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],select").removeAttr("disabled", "disabled");

        //if ($("#IsMatterNumberExisted").val() == "True") {
        //    $("#MatterNumber,#ClientName").attr("readonly", "readonly");
        //    $("#CenterID").attr("disabled", "disabled");
        //}
        $("#MatterNumber").attr("readonly", "readonly");
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('#ExchangeDate,#CompletionDate').change(function () {
        if ($(this).attr("name") == "ExchangeDate") {
            CheckDates("Exchange Date cannot be greater than Completion Date");
        }
        else {
            CheckDates("Completion date cannot be less than Exchange Date");

        }

    });

    function CheckDates(alertMessage) {
        var getExchangeDate = new Date($('#ExchangeDate').val());

        var getCompletionDate = new Date($('#CompletionDate').val());

        if (getExchangeDate != null && getCompletionDate != null && (getExchangeDate > getCompletionDate)) {

            ShowMessage(alertMessage);

            return false;
        } else {
            return true;
        }

    }


</script>




