﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.ComplaintsForm
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Complaints Tracker: Edit / View
        </h1>
    }
    else
    {
        <h1>
            Complaints Tracker: View
        </h1>

    }
    <br />

    @using (Html.BeginForm("UpdateComplaintsTracker", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="AttachFile" id="AttachFile" value="@Model.AttachFile" />

        <div class="row form-group required">
            <label class="col-md-4 control-label">Attach a file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile" value="@Model.AttachFile">
                @if (Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadComplaintFile","Home",new { Filepath = Model.AttachFile} )"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>

                }
            </div>
        </div>


        <div class="row form-group required" style="margin-top:10px">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.CenterID, Model.NewCompliantModel.CenterNameList, "Select Center", new { @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @required = "required", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TeamID, Model.NewCompliantModel.TeamList, "Select Team", new { @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @required = "required", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumberID" name="MatterNumberID" value="@Model.MatterNumberID" placeholder="Matter Number" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" readonly="readonly" required="required" title="" type="text" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">ABS With</label>
            <div class="col-md-8">
                <input class="form-control" id="ABSWith" value="@Model.ABSWith" name="ABSWith" placeholder="ABS With" maxlength="50" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Fee Earner</label>
            <div class="col-md-8">
                <input class="form-control" id="FeeEarner" maxlength="50" value="@Model.FeeEarner" name="FeeEarner" oninvalid="this.setCustomValidity('Please Enter Fee Earner')" oninput="this.setCustomValidity('')" placeholder="Free Earner" required="required" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" maxlength="30" value="@Model.ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" name="ClientName" placeholder="Client Name" required="required" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Transaction Type</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TransactionTypeID, Model.NewCompliantModel.TransactionTypeList, "Select Transaction Type", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Transaction Type')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Subsidiary / Branch</label>
            <div class="col-md-8">
                <input class="form-control" id="SubsidaryBranch" value="@Model.SubsidaryBranch" maxlength="30" name="SubsidaryBranch" placeholder="Subsidiary Branch" title="" type="text" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Region</label>
            <div class="col-md-8 dropdown" required>
                @Html.DropDownListFor(M => M.RegionID, Model.NewCompliantModel.RegionList, "Select Region", new { @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Date instruction received</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="InstructionDateReceived" value="@(Model.InstructionDateReceived == "" ? Model.InstructionDateReceived : Convert.ToDateTime(Model.InstructionDateReceived).ToString("yyyy-MM-dd"))" name="InstructionDateReceived" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Date 1st call made</label>
            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="FirstCallMadeOn" name="FirstCallMadeOn" value="@(Model.FirstCallMadeOn == "" ? Model.FirstCallMadeOn : Convert.ToDateTime(Model.FirstCallMadeOn).ToString("yyyy-MM-dd"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon">  <em class="glyphicon glyphicon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Date of Exchange</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="DateofExchange" name="DateofExchange" value="@(Model.DateOfExchange == "" ? Model.DateOfExchange : Convert.ToDateTime(Model.DateOfExchange).ToString("yyyy-MM-dd"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar" data-date-icon="icon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Time taken from instruction to exchange</label>
            <div class="col-md-8">
                <input class="form-control" id="InstructionToExchange" maxlength="30" value="@Model.InstructionToExchange" oninvalid="this.setCustomValidity('Please Enter Time taken from instruction to exchange')" oninput="this.setCustomValidity('')" name="InstructionToExchange" required="required" title="" type="number" min="0" onkeypress="return isNumberKey(event)" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Completion Date</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="CompletionDate" min="1900-01-01" value="@Convert.ToDateTime(Model.CompletionDate).ToString("yyyy-MM-dd")" onkeydown="return false;" required="required" name="CompletionDate" oninvalid="this.setCustomValidity('Please Enter Completion Date')" oninput="this.setCustomValidity('')" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Complaint received date</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="ComplaintReceivedDate" min="2000-01-01" value="@(Model.ComplaintReceivedDate == "" ? Model.ComplaintReceivedDate : Convert.ToDateTime(Model.ComplaintReceivedDate).ToString("yyyy-MM-dd"))" onkeydown="return false;" name="ComplaintReceivedDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">How was the complaint received?</label>
            <div class="col-md-8 form-input">
                @Html.DropDownListFor(M => M.ComplaintReceivedID, Model.NewCompliantModel.CompliantModeList, "Select Complaint Mode", new { @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Do compliance need to be made aware?</label>
            <div class="col-md-8">
                <input id="ComplianceAwareness" name="ComplianceAwareness" type="checkbox" value="true" @(Model.ComplianceAwareness != null && Model.ComplianceAwareness.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Has a note been added to critical?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.CriticalNote, "true") Yes</label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(model => model.CriticalNote, "false") No
                    </label>
                    <br />
                    <a>Note should take the form of:</a>
                    <a>Complaint in the progress date and signed off with name and extension</a>
                </div>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Remember to send copy to Resolutions team </label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.ResolutionTeamCopy, "true") Yes</label>
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.ResolutionTeamCopy, "false") No</label>
                    <br />
                    <a>Ensure copy of Complaint is sent to Res.</a>
                </div>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Attributed to?</label>
            <div class="col-md-8">
                <input class="form-control" id="AttributedTo" maxlength="50" value="@Model.AttributedTo" oninvalid="this.setCustomValidity('Please Enter Attributed to?')" oninput="this.setCustomValidity('')" name="AttributedTo" required="required" title="" type="text" />
                <a> Who does the complaint primarily relate to? </a>
                <a>(Either put PL's initials or Post comp/ Post exc/offshore/cp's or if not upheld in any way state n/A Not upheld</a>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Ensure copy complaint saved to file and catalogued in Cust Experience folder</label>
            <div class="col-md-8">
                <input id="EnsurecopycomplaintsavedtofileandcataloguedinCustExperienceFolder" name="EnsurecopycomplaintsavedtofileandcataloguedinCustExperienceFolder" type="checkbox" value="true" @(Model.EnsurecopycomplaintsavedtofileandcataloguedinCustExperienceFolder != null && Model.EnsurecopycomplaintsavedtofileandcataloguedinCustExperienceFolder.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Summary of issues</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" required="required" id="SummaryIssues" oninvalid="this.setCustomValidity('Please Enter Summary of issues?')" oninput="this.setCustomValidity('')" name="SummaryIssues" rows="10">@Model.SummaryIssues</textarea>

                <span>This should be the clients perspective of the complaint and not the root cause</span>
                <span>e.g. not being kept updated = issue, root cause = lack of PL / CP interaction</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">UD-Updates</label>
            <div class="col-md-8">
                <input id="UpdatesUD" name="UpdatesUD" type="checkbox" value="true" @(Model.UpdatesUD != null && Model.UpdatesUD.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PPW-Paperwork went missing</label>
            <div class="col-md-8">
                <input id="PPW_PaperworkWentMissing" name="PPW_PaperworkWentMissing" type="checkbox" value="true" @(Model.PPW_PaperworkWentMissing != null && Model.PPW_PaperworkWentMissing.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">TS-OC not happy with timescales</label>
            <div class="col-md-8">
                <input id="TS_OCNotHappyWithTimescales" name="TS_OCNotHappyWithTimescales" type="checkbox" value="true" @(Model.TS_OCNotHappyWithTimescales != null && Model.TS_OCNotHappyWithTimescales.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">ERR-Errors on paperwork</label>
            <div class="col-md-8">
                <input id="ERR_ErrorsOnPaperwork" name="ERR_ErrorsOnPaperwork" type="checkbox" value="true" @(Model.ERR_ErrorsOnPaperwork != null && Model.ERR_ErrorsOnPaperwork.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CB-Call backs not returned</label>
            <div class="col-md-8">
                <input id="CB_CallBacksnotReturned" name="CB_CallBacksnotReturned" type="checkbox" value="true" @(Model.CB_CallBacksnotReturned != null && Model.CB_CallBacksnotReturned.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">LOC-OC preferred a local service</label>
            <div class="col-md-8">
                <input id="LOC_OCPreferredalocalservice" name="LOC_OCPreferredalocalservice" type="checkbox" value="true" @(Model.LOC_OCPreferredalocalservice != null && Model.LOC_OCPreferredalocalservice.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">WEB-Website issues</label>
            <div class="col-md-8">
                <input id="WebsiteIssues" name="WebsiteIssues" type="checkbox" value="true" @(Model.WebsiteIssues != null && Model.WebsiteIssues.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INC-OC told incorrect things</label>
            <div class="col-md-8">
                <input id="INC_OCToldIncorrectThings" name="INC_OCToldIncorrectThings" type="checkbox" value="true" @(Model.INC_OCToldIncorrectThings != null && Model.INC_OCToldIncorrectThings.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PLS-Hard to speak to PL</label>
            <div class="col-md-8">
                <input id="PLS_HardToSpeakToPL" name="PLS_HardToSpeakToPL" type="checkbox" value="true" @(Model.PLS_HardToSpeakToPL != null && Model.PLS_HardToSpeakToPL.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">EA-EA said it would take less time</label>
            <div class="col-md-8">
                <input id="EA_EASaidItWouldTakeLessTime" name="EA_EASaidItWouldTakeLessTime" type="checkbox" value="true" @(Model.EA_EASaidItWouldTakeLessTime != null && Model.EA_EASaidItWouldTakeLessTime.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">COMP-Error at completion</label>
            <div class="col-md-8">
                <input id="COMP_ErrorAtCompletion" name="COMP_ErrorAtCompletion" type="checkbox" value="true" @(Model.COMP_ErrorAtCompletion != null && Model.COMP_ErrorAtCompletion.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">POC-Fewer points of contact</label>
            <div class="col-md-8">
                <input id="POC_FewerPointsOfContact" name="POC_FewerPointsOfContact" type="checkbox" value="true" @(Model.POC_FewerPointsOfContact != null && Model.POC_FewerPointsOfContact.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CW-Long call waits</label>
            <div class="col-md-8">
                <input id="CW_LongCallWaits" name="CW_LongCallWaits" type="checkbox" value="true" @(Model.CW_LongCallWaits != null && Model.CW_LongCallWaits.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INF-OC asked for informed already provided</label>
            <div class="col-md-8">
                <input id="INF_OCAskedForInformedAlreadyProvided" name="INF_OCAskedForInformedAlreadyProvided" type="checkbox" value="true" @(Model.INF_OCAskedForInformedAlreadyProvided != null && Model.INF_OCAskedForInformedAlreadyProvided.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">RUD-OC was spoken to rudely</label>
            <div class="col-md-8">
                <input id="RUD_OCWasSpokenToRudely" name="RUD_OCWasSpokenToRudely" type="checkbox" value="true" @(Model.RUD_OCWasSpokenToRudely != null && Model.RUD_OCWasSpokenToRudely.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">SDLT</label>
            <div class="col-md-8">
                <input id="Sdlt" name="Sdlt" type="checkbox" value="true" @(Model.Sdlt != null && Model.Sdlt.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Root cause commentary</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="RootCauseCommentary" name="RootCauseCommentary" rows="10">@Model.RootCauseCommentary</textarea>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Responsible person</label>
            <div class="col-md-8">
                <input class="form-control" id="ResponsiblePerson" value="@Model.ResponsiblePerson" maxlength="5Response reviewed by0" oninvalid="this.setCustomValidity('Please Enter Responsible person')" oninput="this.setCustomValidity('')" name="ResponsiblePerson" required="required" title="" type="text" />
                <span>Who will be responsible for dealing with the complaint from the business?</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Holding letter issued date</label>
            <div class="col-md-8">

                <input type="date" class="form-control inputstl" id="HoldingLetterIssuedDate" value="@(Model.HoldingLetterIssuedDate == ""? Model.HoldingLetterIssuedDate : Convert.ToDateTime(Model.HoldingLetterIssuedDate).ToString("yyyy-MM-dd"))" name="HoldingLetterIssuedDate" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Complaint response due by</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="ComplaintResponseDueBy" value="@(Model.ComplaintResponseDueBy == ""? Model.ComplaintResponseDueBy : Convert.ToDateTime(Model.ComplaintResponseDueBy).ToString("yyyy-MM-dd"))" name="ComplaintResponseDueBy" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Actual response issued (date)</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="ActualResponseIssued" name="ActualResponseIssued" value="@(Model.ActualResponseIssued == "" ? Model.ActualResponseIssued : Convert.ToDateTime(Model.ActualResponseIssued).ToString("yyyy-MM-dd"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Response reviewed by?</label>
            <div class="col-md-8">
                <input class="form-control" id="Responsereviewed" maxlength="50" value="@Model.ResponseReviewed" name="ResponseReviewed" title="" type="text" />
                <span> Who has verified the response (e.g. another team manager or Head of)</span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Complaint Upheld or Partially Upheld?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.ComplaintUpheldorPartiallyUpheld, "true") Yes</label>
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.ComplaintUpheldorPartiallyUpheld, "false") No</label>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Gesture of goodwill offered?</label>
            <div class="col-md-8">
                <input id="GestureOfGoodwillOffered" name="GestureOfGoodwillOffered" type="checkbox" value="true" @(Model.GestureOfGoodwillOffered != null && Model.GestureOfGoodwillOffered.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Amount of goodwill offered?</label>
            <div class="col-md-8">
                <input class="form-control" id="AmountOfGoodwillOffered" value="@Model.AmountOfGoodwillOffered" maxlength="50" name="AmountOfGoodwillOffered" title="" type="text" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Payments to third parties</label>
            <div class="col-md-8">
                <input class="form-control" id="PaymentsToThirdParties" value="@Model.PaymentsToThirdParties" maxlength="50" name="PaymentsToThirdParties" title="" type="text" />
                <span>Payments made to third parties (ie NOT our client)</span>
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">L1 Dealt with in SLA?</label>
            <div class="col-md-8 form-input">
                @Html.DropDownListFor(m => m.L1DealtWithinSLA, new List<SelectListItem>
            {
               new SelectListItem{ Text="Select Y/N", Value = "" },
               new SelectListItem{ Text="Yes", Value = "true" },
               new SelectListItem{ Text="No", Value = "false" }
            }, new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select L1 Dealt with in SLA?')", @oninput = "this.setCustomValidity('')", @class = "form-control" })
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Reason for delay in response</label>
            <div class="col-md-8">

                <span><input id="DelayResponse1" name="DelayResponse1" type="checkbox" value="true" @(Model.DelayResponse1 != null && Model.DelayResponse1.Value ? "checked=\"checked\"" : "") />System issues</span><br />
                <span><input id="DelayResponse2" name="DelayResponse2" type="checkbox" value="true" @(Model.DelayResponse2 != null && Model.DelayResponse2.Value ? "checked=\"checked\"" : "") />TM absence</span><br />
                <span><input id="DelayResponse3" name="DelayResponse3" type="checkbox" value="true" @(Model.DelayResponse3 != null && Model.DelayResponse3.Value ? "checked=\"checked\"" : "") />Waiting on res / compliance</span><br />
                <span><input id="DelayResponse4" name="DelayResponse4" type="checkbox" value="true" @(Model.DelayResponse4 != null && Model.DelayResponse4.Value ? "checked=\"checked\"" : "") />Waiting on 3rd party</span><br />
                <span><input id="DelayResponse5" name="DelayResponse5" type="checkbox" value="true" @(Model.DelayResponse5 != null && Model.DelayResponse5.Value ? "checked=\"checked\"" : "") />Waiting for further information from client</span><br />
                <span><input id="DelayResponse6" name="DelayResponse6" type="checkbox" value="true" @(Model.DelayResponse6 != null && Model.DelayResponse6.Value ? "checked=\"checked\"" : "") />TM / HOPL workload</span><br />
                <span><input id="DelayResponse7" name="DelayResponse7" type="checkbox" value="true" @(Model.DelayResponse7 != null && Model.DelayResponse7.Value ? "checked=\"checked\"" : "") />Legal matter being dealt with by compliance</span><br />
                <span><input id="DelayResponse8" name="DelayResponse8" type="checkbox" value="true" @(Model.DelayResponse8 != null && Model.DelayResponse8.Value ? "checked=\"checked\"" : "") />Matthew Lewis</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Has complaint been escalated to stage 2?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.ComplaintBeenEscalatedToStage2, "true") Yes</label>
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(model => model.ComplaintBeenEscalatedToStage2, "false") No</label>
                </div>
            </div>
        </div>
        <div id="Complaintsstage2">
            <div class="row form-group">
                <label class="col-md-4 control-label">Level 2 complaint received date</label>
                <div class="col-sm-4 col-md-8 input-group date">
                    <input type="date" class="form-control inputstl" id="Level2ComplaintReceivedDate" min="2000-01-01" value="@(Model.Level2ComplaintReceivedDate == ""? Model.Level2ComplaintReceivedDate : Convert.ToDateTime(Model.Level2ComplaintReceivedDate).ToString("yyyy-MM-dd"))" onkeydown="return false;" name="Level2ComplaintReceivedDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-4 control-label">Level 2 acknowledgement issue date</label>


                <div class="col-sm-4 col-md-8 input-group date">
                    <input type="date" class="form-control inputstl" id="Level2AcknowledgementIssueDate" value="@(Model.Level2AcknowledgementIssueDate == "" ? Model.Level2AcknowledgementIssueDate : Convert.ToDateTime(Model.Level2AcknowledgementIssueDate).ToString("yyyy-MM-dd"))" min="2000-01-01" onkeydown="return false;" name="Level2AcknowledgementIssueDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Level 2 complaint response due date</label>

                <div class="col-sm-4 col-md-8 input-group date">
                    <input type="date" class="form-control inputstl" id="Level2ComplaintResponseDueDate" min="2000-01-01" value="@(Model.Level2ComplaintResponseDueDate == "" ? Model.Level2ComplaintResponseDueDate : Convert.ToDateTime(Model.Level2ComplaintResponseDueDate).ToString("yyyy-MM-dd"))" onkeydown="return false;" name="Level2ComplaintResponseDueDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-4 control-label">Level 2 complaint response actual date</label>

                <div class="col-sm-4 col-md-8 input-group date">
                    <input type="date" class="form-control inputstl" id="Level2ComplaintResponseActualDate" min="2000-01-01" value="@(Model.Level2ComplaintResponseActualDate == ""? Model.Level2ComplaintResponseActualDate : Convert.ToDateTime(Model.Level2ComplaintResponseActualDate).ToString("yyyy-MM-dd"))" onkeydown="return false;" name="Level2ComplaintResponseActualDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
                </div>
            </div>

            <div class="row form-group required sla">
                <label class="col-md-4 control-label">L2 Dealt with in SLA?</label>
                <div class="col-md-8 form-input">
                    @Html.DropDownListFor(m => m.L2DealtWithInSLA, new List<SelectListItem>
                  {
                     new SelectListItem{ Text="Select Y/N", Value = "" },
                     new SelectListItem{ Text="Yes", Value = "true" },
                     new SelectListItem{ Text="No", Value = "false" }
                  }, new { @required = "required", oninvalid = "this.setCustomValidity('Please Select L2 Dealt with in SLA?')", oninput = "this.setCustomValidity('')", @class = "form-control" })
                </div>
            </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Summary of any feedback from Resolutions</label>
                <div class="col-md-8">
                    <textarea class="form-control rounded-0" id="SummaryFeedbackResolutions" name="SummaryFeedbackResolutions" rows="10">@Model.SummaryFeedbackResolutions</textarea>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-4 control-label">Summary of any feedback from Compliance</label>
                <div class="col-md-8">
                    <textarea class="form-control rounded-0" id="SummaryFeedbackCompliance" name="SummaryFeedbackCompliance" rows="10">@Model.SummaryFeedbackCompliance</textarea>
                </div>
            </div>
            <div class="row form-group required">
                <label class="col-md-4 control-label">Copy sent to HOPL</label>
                <div class="col-md-8 form-input">
                    @Html.DropDownListFor(m => m.CopySentToHOPL, new List<SelectListItem>
                   {
                      new SelectListItem{ Text="Select Y/N", Value = "" },
                      new SelectListItem{ Text="Yes", Value = "true" },
                      new SelectListItem{ Text="No", Value = "false" }
                   }, new { @required = "required", oninvalid = "this.setCustomValidity('Please Select Copy sent to HOPL')", oninput = "this.setCustomValidity('')", @class = "form-control" })
                </div>

            </div>
            <div class="row form-group required">
                <label class="col-md-4 control-label">Exec complaint?</label>
                <div class="col-md-8 form-input">
                    @Html.DropDownListFor(m => m.ExecComplaint, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Select Y/N", Value = "" },
                       new SelectListItem{ Text="Yes", Value = "true" },
                       new SelectListItem{ Text="No", Value = "false" }
                    }, new { @required = "required", oninvalid = "this.setCustomValidity('Please Select Exec complaint?')", oninput = "this.setCustomValidity('')", @class = "form-control" })
                </div>

            </div>
            <div class=" row form-group required">
                <label class="col-md-4 control-label">Single / Multi</label>
                <div class="col-md-8 dropdown">
                    @Html.DropDownListFor(M => M.SingleMultiId, Model.NewCompliantModel.SingleMultiList, "Select Value", new { @required = "required", oninvalid = "this.setCustomValidity('Please Enter Single / Multi')", oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                </div>
            </div>

            <div class="row form-group required">
                <label class="col-md-4 control-label">Ensure no Feefo invite is sent</label>
                <div class="col-md-8 form-input">
                    @Html.DropDownListFor(m => m.EnsureNoFeefoInviteSent, new List<SelectListItem>

                     {
                        new SelectListItem{ Text="Select Y/N", Value = "" },
                        new SelectListItem{ Text="Yes", Value = "true" },
                        new SelectListItem{ Text="No", Value = "false" }
                     }, new { @required = "required", oninvalid = "this.setCustomValidity('Please Select Ensure no Feefo invite is sent')", oninput = "this.setCustomValidity('')", @class = "form-control" })
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-4 control-label">Complaint closed?</label>
                <div class="col-md-8 form-input">
                    @Html.DropDownListFor(m => m.ComplaintClosed, new List<SelectListItem>

                     {
                        new SelectListItem{ Text="Select Y/N", Value = "" },
                        new SelectListItem{ Text="Yes", Value = "true" },
                        new SelectListItem{ Text="No", Value = "false" }
                     }, new { @class = "form-control" })
                </div>
            </div>


            @*<div class="row form-group">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="Name" value="@Model.tblComplaintsForm.Name" maxlength="30" name="Name" title="" type="text" />
                    </div>
                </div>*@

            <div class="row form-group" id="divedit">
                <div class="offset-md-5">
                    @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                    {

                        <button type="button" id="btnEdit" class="btn btn-primary">
                            <span>  Edit  </span>
                        </button>
                    }


                    <a href="@Url.Action(ViewBag.ActionName,"Home", new{ TrackerId =ViewBag.Trackerid, ProcessorId =ViewBag.ProcessorId,ViewName = Session["CompliantsViewName"] })" class="btn btn-info"> Cancel</a>

                </div>
            </div>

            <div class="row form-group" id="divsave" style="display:none">
                <div class="offset-md-5">


                    @*<button type="submit" id="btnSubmit" name="command" value="Resolve" class="btn btn-primary ">
                            <span>  Resolve  </span>
                        </button>*@

                    <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                        <span>  Save  </span>
                    </button>

                    <a href="@Url.Action("GetReviewComplaints","Home", new{ TrackerId =ViewBag.Trackerid, ProcessorId =ViewBag.ProcessorId,ViewName = Session["CompliantsViewName"] })" class="btn btn-info"> Close</a>

                </div>
            </div>
            }
        </div>

        <script type="text/javascript">

            $('.selectpicker').on('hide.bs.select', function () {
                $(this).trigger("focusout");
            });


            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : evt.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
                return true;
            }

            $('.form-group label').on('mousedown', function (e) {
                e.preventDefault();
            });


            $(document).ready(function () {
                if ($("#hdnMyfile").val() != "") {
                    $("#myfile").css("color", "transparent");
                }

                
                $(".row input,textarea").not("input[type=checkbox],input[type=file],input[type=radio],select").attr("readonly", "readonly");
                $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");

                if ($('input[name="ComplaintBeenEscalatedToStage2"]:checked').val() == 'false') {
                    $("#Complaintsstage2").find('div.sla').removeClass("required");
                    $("#L2DealtWithInSLA").val('');
                    $("#Level2ComplaintReceivedDate").val('');
                    $("#Level2AcknowledgementIssueDate").val('');

                    $("#Level2ComplaintResponseDueDate").val('');
                    $("#Level2ComplaintResponseActualDate").val('');

                    
                }

                $("#btnEdit").click(function () {

                    $(".row input,textarea").not("input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("readonly", "readonly");
                    $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
                    $("#MatterNumberID").attr("readonly", "readonly");
                    $("#divedit").hide();
                    $("#divsave").show();
                    setRequiredValidation($('input[name="ComplaintBeenEscalatedToStage2"]:checked').val());
                });
              
                
            });
            $('.form-group label').on('mousedown', function (e) {
                e.preventDefault();
            });

            $('input[name="ComplaintBeenEscalatedToStage2"]').change(function () {

                setRequiredValidation(this.value);
            });
            function setRequiredValidation(value) {
                console.log(value);
                if (value == 'true') {


                    $("#Complaintsstage2").find('input,select').removeAttr("disabled");
                    $("#Complaintsstage2").find('div.sla').addClass("required");
                    
                }
                else {



                    $("#Complaintsstage2").find('input,select').attr("disabled", true);
                    $("#Complaintsstage2").find('div.sla').removeClass("required");
                    $("#L2DealtWithInSLA").val('');
                     $("#Level2ComplaintReceivedDate").val('');
                    $("#Level2AcknowledgementIssueDate").val('');

                    $("#Level2ComplaintResponseDueDate").val('');
                    $("#Level2ComplaintResponseActualDate").val('');
                }
            }
        </script>



