﻿@using System.Data
@using CountryWide.Utility
@using CountryWide.Models.Admin
@model List<AdminModel>

@{
    ViewBag.Title = "GetUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";


    DateTime dt;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<style>
    .interval {
        width: auto
    }

    .alignCenter {  
        margin-left: auto;
        margin-right: auto;
    }

    tr.odd td:first-child,
    tr.even td:first-child {
        padding-left: 4em;
    }
        
    .autodropdown {
        width: auto;
    }

    th, td {
        white-space: nowrap;
    }
</style>
<h2>Review: Users</h2>

<br />
<div class="row form-group" style="float:right !important">


    <div class="col-md-4" style="margin-right:auto;width:auto !important">
        <button type="button" id="btnNewUser" class="btn btn-primary" style="width:100px">
            <span>Add User  </span>
        </button>
    </div>
</div>

<table id="UserTable" class="display table table-bordered table-condensed table-striped table-hover sortable">
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="10">No Record's found.</td>
        </tr>

    }
    else
    {
        <thead class="thead-dark" style="width:100%;overflow:auto;border-collapse:collapse">

            <tr>
                
                <th>User</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody style="width:100%;overflow:auto;border-collapse:collapse">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.UserId
                    </td>
                    <td>
                        @item.RoleName
                    </td>
                    <td>
                        <a href="@Url.Action("EditUser", "Admin", new { Id = item.Id})">Edit</a>

                    </td>
                </tr>

            }

        </tbody>
    }
</table>
<script type="text/javascript">
    $(function () {

        $("#btnNewUser").click(function () {

            CreateUser();
        });
        function CreateUser() {
            document.location = '@Url.Action("Index", "Admin")';

        }
    })
</script>
