﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.CreditCardRefund.CreditCardRefundModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
<script type="text/javascript">

   $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });

</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Credit Card Refund: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Credit Card Refund: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateCreditCardRefundTracker", "CreditCardRefund", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" readonly="readonly" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client name')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Client name" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" readonly="readonly" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter Numbers')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Instructing branch</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.InstructingBranchID, Model.GetInstructingBranchesList, "Select Instructing branch", new {@oninvalid= "this.setCustomValidity('Please Select Instructing branch')", @oninput ="this.setCustomValidity('')", @required="required", @class = "form-control selectpicker" })
                @*<input class="form-control" id="InstructingBranch" name="InstructingBranch" required="required" placeholder="Enter PL/LA Name" title="" type="text" value="@Model.InstructingBranch" />*@
            </div>
        </div>
        <div class="row form-group ">
            <label class="col-md-4 control-label">eDIF Payment Ref (if applicable)</label>
            <div class="col-md-8">
                <input class="form-control" id="eDIFPaymentRef" name="eDIFPaymentRef" maxlength="20" placeholder="Enter eDIF Payment Ref" title="" type="text" value="@Model.eDIFPaymentRef" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Refund amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="RefundAmount" name="RefundAmount" min="0" oninvalid="this.setCustomValidity('Please Enter Refund amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Refund amount" onkeypress="return isNumberKey(event)" title="" value="@Convert.ToInt64(Model.RefundAmount)" />
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Reason for refund</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.ReasonForRefundID, Model.ReasonForRefundList, "Select Reason for refund", new {@oninvalid= "this.setCustomValidity('Please Select Reason for refund')", @oninput ="this.setCustomValidity('')", @required="required", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Further detail</label>
            <div class="col-md-8">
                <input class="form-control" id="FurtherDetail" name="FurtherDetail" maxlength="200" placeholder="Enter Further detail" title="" type="text" value="@Model.FurtherDetail" />
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.StatusID, Model.StatusList, "Select Status", new {@oninvalid= "this.setCustomValidity('Please Select Status')", @oninput="this.setCustomValidity('')", @required="required", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"CreditCardRefund", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["CreditCardRefundViewName"]  })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewCreditCardRefund","CreditCardRefund", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["CreditCardRefundViewName"]   })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }
    

</div>




<script type="text/javascript">

    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });
    

    $(".row input").not("input[type=text],select").attr("readonly", "readonly");
    $(".row input,select").attr("disabled", "disabled");



    $("#btnEdit").click(function () {

        $(".row input").not("select").removeAttr("readonly", "readonly");
        $(".row input,number,select").removeAttr("disabled", "disabled");
        $("#ClientName,#MatterNumber").attr("readonly", "readonly");
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>



