﻿@using CountryWide.Utility
@{
    ViewBag.Title = "EditUnallocatedFundsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

@model CountryWide.Models.UnallocatedFundsFormModel

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Unallocated Funds: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Unallocated Funds: View
        </h1>
    }
    <br />
    @using (Html.BeginForm("UpdateUnallocatedFundsForm", "UnallocatedFundsForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        @Html.HiddenFor(uf => uf.IsMatterNumberExisted)
        <div class="row form-group required">
            <label class="col-md-4 control-label">Date</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@Model.Date.ToString("yyyy-MM-dd")" onkeydown="return false;" id="Date" name="Date" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" id="Amount" name="Amount" placeholder="Enter Amount" title="" type="number" min="0" value="@Model.Amount" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" required="required" oninvalid="this.setCustomValidity('Please enter amount')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Payment Method</label>
            <div class="col-md-8">
                @Html.DropDownListFor(uf => uf.PaymentMethodID, Model.NewCompliantModel.UnallocatedFundsPaymentMethodList, "Select Payment Method", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select payment method')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Payment Details</label>
            <div class="col-md-8">
                <input class="form-control" id="PaymentDetails" maxlength="50" name="PaymentDetails" placeholder="Payment Details" title="" type="text" value="@Model.PaymentDetails" required="required" oninvalid="this.setCustomValidity('Please enter payment details')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CA Notes</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="CANotes" name="CANotes" rows="10"  oninvalid="this.setCustomValidity('Please enter CANotes')" oninput="this.setCustomValidity('')">@(Model.CANotes)</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" name="MatterNumber" placeholder="Matter Number" readonly="readonly" type="text" value="@Model.MatterNumber" oninvalid="this.setCustomValidity('Please enter matter number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                @Html.DropDownListFor(uf => uf.StatusID, Model.NewCompliantModel.UnallocatedFundsStatusList, "Select Status", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select status')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Unallocated No </label>
            <div class="col-md-8">
                @Html.DropDownListFor(uf => uf.UnallocatedNoID, Model.NewCompliantModel.UnallocatedFundsNoList, "Select Unnalocated No", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select unallocated no')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Unallocated Monies VF2</label>
            <div class="col-md-8">
                <input class="form-control" id="UnallocatedMoniesVF2" name="UnallocatedMoniesVF2" placeholder="Unallocated Monies VF2" title="" type="text" value="@Model.UnallocatedMoniesVF2" maxlength="50" />
            </div>
        </div>
        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {

                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"UnallocatedFundsForm", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["UnallocatedFundsViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewUnallocatedFundsForm","UnallocatedFundsForm", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["UnallocatedFundsViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>
    }

</div>
<script type="text/javascript">
    $(document).ready(function () { });
    $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");
    $('#Amount').val($('#Amount').val().substring(0, $('#Amount').val().lastIndexOf('.')));
    $('#MatterNumber').attr("readonly", "readonly");

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });

    $("#btnEdit").click(function () {
        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
        $("#divedit").hide();
        $("#divsave").show();
    //    if ($('#IsMatterNumberExisted').val() == 'True')
    //        $('#MatterNumber').attr("readonly", "readonly");
    //});

        $('#MatterNumber').attr("readonly", "readonly");
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    $(function () {
        $('.col-sm-4.date').datepicker({
            autoclose: true,
            dateFormat: "dd/MM/YYYY"

        });
    });
</script>
