﻿@{ ViewBag.Title = "About";
}


@*<div>
        <label>Attach file: </label>
        <input type="file" id="Myfile" name="Myfile" />
    </div>
    <div>
        <input type="button" id="btnSaveData" name="SaveData" value="ReadExcel" />
    </div>*@

<div class="container">
    <div class="alert alert-info">DOS Repoting under constuction</div>
</div>
@*
    <script type="text/javascript">
        $(document).ready(function(){

            $('#btnSaveData').click(function () {


              //  window.location = '@Url.Action("ReadExcel","Home")?ExcelPath=' + 'D://DosFile.xls';
            })
        })
    </script>*@

