﻿@using System.Data
@using CountryWide.Utility
@model CountryWide.Models.GridViewModel


@{
    ViewBag.Title = "GenericMultiView";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    DateTime dt;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = 0;

    if (Session["UserRoleId"] != null)
    {
        getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

    }
    

}

<link href="~/css/DatatableCustomStyle.css" rel="stylesheet" />

<script src="~/JS/DynamicTable.js"></script>
<h2>@Model.HeaderName</h2>



@if (ViewBag.Message != null)
{
<script type="text/javascript">
       $(document).ready(function () {
           ShowMessage('@ViewBag.Message');
          
    });
</script>
}

<br/>
<div class="row form-group required" style="margin-left:30%">
    <label class="col-md-offset-2 control-label">Select View: </label>
    <div style="width:250px;margin-left:15px;">
        @Html.DropDownList("ViewName", new SelectList(ViewBag.ViewNameList, "Value", "Text"), "Please Select View Name", new { @required = "required", @id = "ViewName", @class = "form-control selectpicker" })
    </div>
</div>


@if (Model.GenericDatatable != null)
{


    <div class="table-responsive">
        <input type="hidden" id="Pagecount" value="@Model.GenericDatatable.Rows.Count" name="Pagecount" />

        <input type="hidden" id="GridCount" value="@Model.GridColumnCount" name="GridCount" />

        <table class="table table-bordered table-condensed table-striped table-hover sortable dynamicTableClass">
            @if (Model.GenericDatatable.Rows.Count == 0 || Model.GridColumnCount == 1)
            {
                <tr>
                    <td colspan="10">No Record's found.</td>
                </tr>

            }
            else
            {
                <thead class="thead-dark">
                    <tr>
                        <th><input name="select_all" value="1" class="selectAllCheckBox" type="checkbox" /></th>

                        @{ int count = 0;
                            foreach (DataColumn col in Model.GenericDatatable.Columns)
                            {


                                if (count > 0)
                                {
                                    <th>@col.ColumnName</th>

                                }
                                count++;

                            }

                        }


                        <th>Actions</th>

                    </tr>
                </thead>
                <tdata>

                    @foreach (DataRow row in Model.GenericDatatable.Rows)
                    {


                        <tr>
                            @{ int columnCount = 0;
                                foreach (DataColumn col in Model.GenericDatatable.Columns)
                                {

                                    if (columnCount == 0)
                                    {
                                        <td>
                                            <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                        </td>
                                    }
                                    else
                                    {

                                        if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                        {

                                            bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                            if (isDate == true)
                                            {

                                                string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                                <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                            }
                                            else
                                            {

                                                <td>@row[col.ColumnName]</td>

                                            }
                                        }
                                        else
                                        {
                                            <td>@row[col.ColumnName]</td>
                                        }




                                    }
                                    columnCount++;

                                }

                        <td>

                            @if (Model.ReviewActionName != "GetReviewComplaints")
                            {
                                <a href="@Url.Action(Model.EditActionName, Model.ControllerName, new { id = row.Field<string>("Id"), TrackerId = Model.TrackerId, ProcessorId = Model.ProcessId, EditViewType = "Edit" })">   View</a>
                            }
                            else
                            {
                                <a href="@Url.Action(Model.EditActionName, Model.ControllerName, new { id = row.Field<string>("Id"), TrackerId =Model.TrackerId, ProcessorId = Model.ProcessId,EditViewType="Edit",ActionName=Model.ReviewActionName })">  View</a>

                            }
                            <a  style="margin-left:5px;" href="@Url.Action("Index","AuditTrail", new { id = row.Field<string>("Id"), TrackerId =Model.TrackerId, ProcessId = Model.ProcessId,Viewname=Model.ViewName})">Audit Info</a>
                           

                        </td>
                            }

                        </tr>
                    }


                </tdata>
            }


        </table>

        <div style="margin-left:45%">
            <button type="button" id="btnDownload" class="btn btn-primary commonShowHideButton">
                <span>  Download  </span>
            </button>
            <button type="button" id="btnDownloadAll" class="btn btn-primary commonShowHideButton">
                <span>  Download All </span>
            </button>
            @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen)
            {
                <button type="button" id="btnDelete" class="btn btn-primary commonShowHideButton">
                    <span>  Delete  </span>
                </button>
            }
        </div>


    </div>

}
else
{

    <div class="table-responsive">

        <table class="table table-bordered table-condensed table-striped table-hover sortable">
                <tr>
                    <td colspan="10">No view configured for Review screen.Please configure atleast one view</td>
                </tr>
        </table>
    </div>

}

<script>
      $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($("#GridCount").val() == 1 || PageCount == 0) {

            HideButtons();
        }
        else {
            applyDataTable(PageCount);
        }

        $("#btnDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnDelete").click(function () {

            DownloadOrDeleteOperations("Delete");
        });

          $("#btnDownloadAll").click(function () {
              document.location = '@Url.Action(Model.DownloadActionName,Model.ControllerName)?selectedData=AllRecords&Type=No&Trackerid=' + @Model.TrackerId + '&ProcessId=' + @Model.ProcessId;
          });

       function DownloadOrDeleteOperations(operationType) {

           const [selectedData, selectedCount] = checkedRecordsorNot();

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {

                    document.location = '@Url.Action(Model.DownloadActionName,Model.ControllerName)?selectedData=' + selectedData + '&Type=No&Trackerid=' + @Model.TrackerId + '&ProcessId=' + @Model.ProcessId ;

                }
                else {
                    $("#btnDownload,#btnDownloadAll").attr("disabled", "disabled");
                    document.location = '@Url.Action(Model.DeleteActionName, Model.ControllerName)?selectedData=' + selectedData + '&DeleteType=Delete&Trackerid=' + @Model.TrackerId + '&ProcessId=' +  @Model.ProcessId;

                }

            }

          }

          $("#ViewName").change(function () {

              if ($(this).val() != "") {
                  document.location = '@Url.Action(Model.ReviewActionName, Model.ControllerName)?TrackerId=' + @Model.TrackerId + '&ProcessorId=' + @Model.ProcessId + '&ViewName=' + $(this).val();
              }

          });

    });

</script>