﻿@model CountryWide.Models.StopCheque.StopChequeModel
@using CountryWide.Utility

@{
    ViewBag.Title = "NewClientToClientTransfersTracker";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">
    <h1>
        Stop Cheque: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewStopChequeForm", "StopCheque", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="hidden" name="ID" id="ID" value="@Model.ID" />

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control textMatterNumber" id="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") name="MatterNumber" placeholder="Enter Value" title="" type="text" value="@Model.MatterNumber" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control textClientName" required="required" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") placeholder="Enter Value" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">
                @if (Model.CenterID != 0)
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                }
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Payee</label>
            <div class="col-md-8">
                <input class="form-control textPayee" required="required" id="Payee" name="Payee" oninvalid="this.setCustomValidity('Please Enter Payee')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.Payee" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Issued Date</label>
            <div class="col-md-8">
                <input type="date" class="form-control textIssuedDate" id="IssuedDate" name="IssuedDate" oninvalid="this.setCustomValidity('Please Enter Issued Date')" oninput="this.setCustomValidity('')" max="@(Model.IssuedDate.ToString("yyyy-MM-dd"))" value="@Model.IssuedDate.ToString("yyyy-MM-dd")" onkeydown="return false" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="Amount" name="Amount"  oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Amount" title="" value="@Convert.ToInt64(Model.Amount)" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason for stopping cheque</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="ReasonForStoppingCheque" required="required" name="ReasonForStoppingCheque" rows="10" oninvalid="this.setCustomValidity('Please Enter Reason For Stopping Cheque')" oninput="this.setCustomValidity('')">@(Model.ReasonForStoppingCheque)</textarea>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Steps taken to advise payee that cheque will be stopped</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0 textAdvisePayeeChequeStopped" required="required" id="AdvisePayeeChequeStopped" name="AdvisePayeeChequeStopped" rows="10" oninvalid="this.setCustomValidity('Please Enter Advise Payee Cheque Stopped')" oninput="this.setCustomValidity('')">@(Model.AdvisePayeeChequeStopped)</textarea>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Assigned To</label>
            <div class="col-md-8">
                <input class="form-control textAssignedTo" required="required" id="AssignedTo" name="AssignedTo" oninvalid="this.setCustomValidity('Please Enter Assigned To')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.AssignedTo" maxlength="50" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.StatusID, Model.NewCompliantModel.StopChequeStatusList, "Select Status", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Status')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Chq No (CA Only)</label>
            <div class="col-md-8">
                <input class="form-control textChqNo" id="ChqNo" name="ChqNo" placeholder="Enter Value" title="" type="text" value="@Model.ChqNo" maxlength="20" />
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>





<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    $(document).ready(function () {

        $('#Amount').val("");


    })

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    var txt = document.getElementById('Amount');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
</script>
