﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

@model CountryWide.Models.EditComplimentModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
    <h1>
        Compliments Tracker: Edit / View
    </h1>
    }
    else
    {
        <h1>
             Compliments Tracker: View

        </h1>
    }
    <h1>
    </h1>
    <br />

    @using (Html.BeginForm("UpdateComplimentsTracker", "Compliments", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="FormId" id="FormId" value="@Model.ComplimentsForm.ID" />
        <input type="hidden" name="ProcessId" id="ProcessId" value="@Model.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@Model.Trackerid" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.ComplimentsForm.FileAttached" />

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.ComplimentsForm.FileAttached != "" && Model.ComplimentsForm.FileAttached != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadComplimentsFile","Compliments",new { Filepath = Model.ComplimentsForm.FileAttached} )"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.ComplimentsForm.FileAttached</a>

                }

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Received From</label>
            <div class="col-md-8">

                <input class="form-control" id="RecievedFrom" name="RecievedFrom" value="@Model.ComplimentsForm.ReceviedFrom" placeholder="Enter Received From" maxlength="50" readonly="readonly" title="" type="text" oninvalid="this.setCustomValidity('Please enter recieved from')" oninput="this.setCustomValidity('')" />
                <span>Enter the name of person who gave us the compliment</span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date Received</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control" required="required" min="2000-01-01" onkeydown="return false;" id="DateReceived" value="@Model.ComplimentsForm.DateReceived.ToString("yyyy-MM-dd")" name="DateReceived" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="id_Matter_Number" required="required" value="@Model.ComplimentsForm.CustomerMatterNumber" name="Matter_Number" placeholder="Enter Customer Matter Number" readonly="readonly" title="" type="text" oninvalid="this.setCustomValidity('Please enter customer matter number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Center</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.ComplimentsForm.Center, Model.ComplimentLookupModel.CenterNameList, "Select Center", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select centre')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.ComplimentsForm.Team, Model.ComplimentLookupModel.TeamList, "Select Team", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select team')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Individual being complimented</label>
            <div class="col-md-8">
                <input class="form-control" id="IndividiualComplimented" required="required" maxlength="50" value="@Model.ComplimentsForm.IndividualBeingComplimented" name="IndividiualComplimented" placeholder="Enter Individiual being Complimented" title="" type="text" oninvalid="this.setCustomValidity('Please enter individual being complimented')" oninput="this.setCustomValidity('')" />
            </div>
        </div>



        <div class="row form-group required">
            <label class="col-md-4 control-label">Regional subsidiary</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.ComplimentsForm.RegionalSubsidary, Model.ComplimentLookupModel.RegionList, "Select Regional subsidiary", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select regional subsidary')", @oninput = "this.setCustomValidity('')" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Branch</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.ComplimentsForm.Branch, Model.ComplimentLookupModel.BranchList, "Select Branch", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select branch')", @oninput = "this.setCustomValidity('')" })


            </div>
        </div>



        <div class="row form-group">
            <label class="col-md-4 control-label">Town</label>
            <div class="col-md-8">
                <input class="form-control" id="Town" value="@Model.ComplimentsForm.Town" maxlength="50" name="Town" placeholder="Enter Town" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Compliment text(Full Information)</label>
            <div class="col-md-8">
                @*@Html.TextAreaFor(m => m.ComplimentsForm.ComplimentTextFullInformation, new {  @class = "form-control rounded-0", rows = "10", @align = "right" , @draggable = "true",@required = "true"})*@

                <textarea class="form-control rounded-0" id="ComplimentText" required="required" name="ComplimentText" rows="10" oninvalid="this.setCustomValidity('Please enter compliment text')" oninput="this.setCustomValidity('')" >@Model.ComplimentsForm.ComplimentTextFullInformation</textarea>

                @*<input class="form-control" id="ComplimentText" value="@Model.ComplimentsForm.ComplimentTextFullInformation" name="ComplimentText" type="text" />*@
                <span>May be used for future PR Quotes</span>
            </div>
        </div>



        <div class="row form-group">
            <label class="col-md-4 control-label">TAT-Speed / Efficiency</label>
            <div class="col-md-8">
                @*@Html.CheckBox("TAT-Speed", Model.ComplimentsForm.TATSpeedEfficiency)*@
                <input id="TatSpeed" name="TAT-Speed" type="checkbox" value="true" @(Model.ComplimentsForm.TATSpeedEfficiency.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PRO-Pro active / Driving Progress</label>
            <div class="col-md-8">

                <input id="DrivingProgress" name="DrivingProgress" type="checkbox" value="true" @(Model.ComplimentsForm.ProActiveDrivingProgress.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">SUP-Client felt supported / appreciated help</label>
            <div class="col-md-8">
                <input id="SUP-Client" name="SUP-Client" type="checkbox" value="true" @(Model.ComplimentsForm.SUPClientFeltSupportedappreciatedhelp.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">COM-Good level of communication</label>
            <div class="col-md-8">
                <input id="COM-Good" name="COM-Good" type="checkbox" value="true" @(Model.ComplimentsForm.COMGoodLevelOfCummunication.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PLE-Pleasant to speak to</label>
            <div class="col-md-8">
                <input id="PLE-Pleasent" name="PLE-Pleasent" type="checkbox" value="true" @(Model.ComplimentsForm.PLEPleasentToSpeakTo.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CCU-Clear comprehensive updates</label>
            <div class="col-md-8">
                <input id="CCUC-Clear" name="CCUC-Clear" type="checkbox" value="true" @(Model.ComplimentsForm.CCUClearComprehensiveUpdates.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">STR-Made it less stressful </label>
            <div class="col-md-8">
                <input id="STR-Made" name="STR-Made" type="checkbox" value="true" @(Model.ComplimentsForm.STRMadeItLessStressful.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">RES-Quick response to emails/quesions</label>
            <div class="col-md-8">
                <input id="RES-Quick" name="RES-Quick" type="checkbox" value="true" @(Model.ComplimentsForm.RESQuickResponseToEmailsQuestions.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Who sent to CET</label>
            <div class="col-md-8">
                <input class="form-control" id="CET" maxlength="50" name="CET" title="" value="@Model.ComplimentsForm.WhoSentToCET" type="text" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Newsletter-Worthy?</label>
            <div class="col-md-8">
                <input id="Newsletter-Worthy" name="Newsletter-Worthy" type="checkbox" value="true" @(Model.ComplimentsForm.NewsletterWorthy.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>


        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {

                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }


                <a href="@Url.Action(ViewBag.ActionName,"Compliments", new{ TrackerId =Model.Trackerid, ProcessorId =Model.ProcessorId ,ViewName = Session["ComplimentsViewName"]})" class="btn btn-info"> Cancel</a>
            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>

                <a href="@Url.Action("GetReviewCompliments","Compliments", new{ TrackerId =Model.Trackerid, ProcessorId =Model.ProcessorId,ViewName = Session["ComplimentsViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>

    }

</div>




<script type="text/javascript">


    $(document).ready(function () {

        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }

        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").attr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],select").attr("disabled", "disabled");
      


        $("#btnEdit").click(function () {
           
            $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
            $(".row input[type=checkbox],input[type=file],select").removeAttr("disabled", "disabled");
            $("#id_Matter_Number").attr("readonly", "readonly");
            $("#divedit").hide();
            $("#divsave").show();


        });


    });
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });

    $(function () {
        $('.col-sm-4.date').datepicker({
            //dateFormat: "dd/MM/yyyy",
            autoclose: true
        });
    });

</script>



