﻿@using CountryWide.Utility
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.DissatisfactionModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">
         $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Dissatisfaction Tracker: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Dissatisfaction Tracker: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateDissatisfactionTracker", "Dissatisfaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadDissatisfactionFile", "Dissatisfaction", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>

                }

            </div>
        </div>

        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <div class="row form-group required">
            <label class="col-md-4 control-label">Received From</label>
            <div class="col-md-8">
                <input class="form-control" id="Receivedfrom" name="Receivedfrom" maxlength="50" placeholder="Enter Received From" title="" type="text" required="required" value="@Model.Receivedfrom" oninvalid="this.setCustomValidity('Please enter recieved from')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Exec complaint?</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Execcomplaint, Model.NewCompliantModel.ExceCompliantList, "Select Complaint", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select complaint')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Source</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Source, Model.SourceList, "Select Source", new { @class = "form-control selectpicker" })
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Date received</label>

            <div class="col-sm-4 col-md-8 input-group date">

                @if (Model.Datereceived == null)
                {
                    <input type="date" class="form-control inputstl" id="Datereceived" name="Datereceived" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }
                else
                {
                    <input type="date" class="form-control inputstl" id="Datereceived" name="Datereceived" min="2000-01-01" onkeydown="return false;" placeholder="Select Date" value="@(Model.Datereceived.Value.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumberID" name="MatterNumberID" required="required" placeholder="Matter Number" title="" type="text" value="@Model.MatterNumberID" oninvalid="this.setCustomValidity('Please enter customer matter number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">ABS</label>
            <div class="col-md-8">
                <input id="ABS" name="ABS" type="checkbox" value="true" @(Model.ABS != null && Model.ABS.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("ABS", false)*@
                <br />
                <span>Is this an ABS matter?</span>
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Center</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.CenterID, Model.NewCompliantModel.CenterNameList, "Select Center", new { @required = "required", @class = "form-control selectpicker autoPopulateDisable", @oninvalid = "this.setCustomValidity('Please select centre')", @oninput = "this.setCustomValidity('')" })
                @Html.HiddenFor(m=>m.CenterID)
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TeamID, Model.NewCompliantModel.TeamList, "Select Team", new { @required = "required", @class = "form-control selectpicker autoPopulateDisable", @oninvalid = "this.setCustomValidity('Please select team')", @oninput = "this.setCustomValidity('')" })
                @Html.HiddenFor(m => m.TeamID)

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Subsidiary / Branch</label>
            <div class="col-md-8">
                <input class="form-control" id="SubsidaryBranch" maxlength="50" name="SubsidaryBranch" placeholder="Subsidiary Branch" title="" type="text" value="@Model.SubsidaryBranch" />
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Region</label>
            <div class="col-md-8 dropdown" required>
                @Html.DropDownListFor(M => M.RegionID, Model.NewCompliantModel.RegionList, "Select Region", new { @class = "form-control selectpicker autoPopulateDisable", @oninvalid = "this.setCustomValidity('Please select region')", @oninput = "this.setCustomValidity('')" })
                @Html.HiddenFor(m => m.RegionID)

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Attributed to?</label>
            <div class="col-md-8">
                <input class="form-control" id="AttributedTo" maxlength="50" name="AttributedTo" title="" type="text" value="@Model.AttributedTo" />
                <span>This should be the person the complainant is expressing dissat about</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Key areas of dissat</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="KeyareaStr" name="KeyareaStr" rows="10">@Model.KeyareaStr</textarea>

                <span>This should be the dissatisfaction as the complainant sees it, not root cause.</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">UD-Updates</label>
            <div class="col-md-8">
                <input id="UpdatesUD" name="UpdatesUD" type="checkbox" value="true" @(Model.UpdatesUD != null && Model.UpdatesUD.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("UD_Updates", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PPW-Paperwork went missing</label>
            <div class="col-md-8">
                <input id="PPW_PaperworkWentMissing" name="PPW_PaperworkWentMissing" type="checkbox" value="true" @(Model.PPW_PaperworkWentMissing != null && Model.PPW_PaperworkWentMissing.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("PPW_Paperwork", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">TS-OC not happy with timescales</label>
            <div class="col-md-8">
                <input id="TS_OCNotHappyWithTimescales" name="TS_OCNotHappyWithTimescales" type="checkbox" value="true" @(Model.TS_OCNotHappyWithTimescales != null && Model.TS_OCNotHappyWithTimescales.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("TS_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">ERR-Errors on paperwork</label>
            <div class="col-md-8">
                <input id="ERR_ErrorsOnPaperwork" name="ERR_ErrorsOnPaperwork" type="checkbox" value="true" @(Model.ERR_ErrorsOnPaperwork != null && Model.ERR_ErrorsOnPaperwork.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("ERR_Errors", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CB-Call backs not returned</label>
            <div class="col-md-8">
                <input id="CB_CallBacksnotReturned" name="CB_CallBacksnotReturned" type="checkbox" value="true" @(Model.CB_CallBacksnotReturned != null && Model.CB_CallBacksnotReturned.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("CB_Call", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">LOC-OC preferred a local service</label>
            <div class="col-md-8">
                <input id="LOC_OCPreferredalocalservice" name="LOC_OCPreferredalocalservice" type="checkbox" value="true" @(Model.LOC_OCPreferredalocalservice != null && Model.LOC_OCPreferredalocalservice.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("LOC_OC", false)*@
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">WEB-Website issues</label>
            <div class="col-md-8">
                <input id="WebsiteIssues" name="WebsiteIssues" type="checkbox" value="true" @(Model.WebsiteIssues != null && Model.WebsiteIssues.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("WEB_Website", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INC-OC told incorrect things</label>
            <div class="col-md-8">
                <input id="INC_OCToldIncorrectThings" name="INC_OCToldIncorrectThings" type="checkbox" value="true" @(Model.INC_OCToldIncorrectThings != null && Model.INC_OCToldIncorrectThings.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("INC_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PLS-Hard to speak to PL</label>
            <div class="col-md-8">
                <input id="PLS_HardToSpeakToPL" name="PLS_HardToSpeakToPL" type="checkbox" value="true" @(Model.PLS_HardToSpeakToPL != null && Model.PLS_HardToSpeakToPL.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("PLS_Hard", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">EA-EA said it would take less time</label>
            <div class="col-md-8">
                <input id="EA_EASaidItWouldTakeLessTime" name="EA_EASaidItWouldTakeLessTime" type="checkbox" value="true" @(Model.EA_EASaidItWouldTakeLessTime != null && Model.EA_EASaidItWouldTakeLessTime.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("EA_EA", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">COMP-Error at completion</label>
            <div class="col-md-8">
                <input id="COMP_ErrorAtCompletion" name="COMP_ErrorAtCompletion" type="checkbox" value="true" @(Model.COMP_ErrorAtCompletion != null && Model.COMP_ErrorAtCompletion.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("COMP_Error", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">POC-Fewer points of contact</label>
            <div class="col-md-8">
                <input id="POC_FewerPointsOfContact" name="POC_FewerPointsOfContact" type="checkbox" value="true" @(Model.POC_FewerPointsOfContact != null && Model.POC_FewerPointsOfContact.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("POC_Fewer", false)*@
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CW-Long call waits</label>
            <div class="col-md-8">
                <input id="CW_LongCallWaits" name="CW_LongCallWaits" type="checkbox" value="true" @(Model.CW_LongCallWaits != null && Model.CW_LongCallWaits.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("CW_Long", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INF-Asked for information already provided</label>
            <div class="col-md-8">
                <input id="INF_OCAskedForInformedAlreadyProvided" name="INF_OCAskedForInformedAlreadyProvided" type="checkbox" value="true" @(Model.INF_OCAskedForInformedAlreadyProvided != null && Model.INF_OCAskedForInformedAlreadyProvided.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("INF_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">RUD-OC was spoken to rudely</label>
            <div class="col-md-8">
                <input id="RUD_OCWasSpokenToRudely" name="RUD_OCWasSpokenToRudely" type="checkbox" value="true" @(Model.RUD_OCWasSpokenToRudely != null && Model.RUD_OCWasSpokenToRudely.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("RUD_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">SDLT</label>
            <div class="col-md-8">
                <input id="Sdlt" name="Sdlt" type="checkbox" value="true" @(Model.Sdlt != null && Model.Sdlt.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("SDLT", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">ALL - Delays allocating to VF/Team/PL</label>
            <div class="col-md-8">
                <input id="ALLDelaysallocatingtoVFTeamPL" name="ALLDelaysallocatingtoVFTeamPL" type="checkbox" value="true" @(Model.ALLDelaysallocatingtoVFTeamPL != null && Model.ALLDelaysallocatingtoVFTeamPL.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("AllDelays", false)*@
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">Transaction status</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Transactionstatus, Model.NewCompliantModel.TransactionstatusList, "Select Transaction Status", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Has note been added to critical to confirm dissatisfaction</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Hasnotebeenaddedtocriticaltoconfirmdissatisfaction, "true") Yes</label>
                    @*<label><input type="radio" name="confirmdissatisfaction" value="1" checked>Yes</label>*@
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Hasnotebeenaddedtocriticaltoconfirmdissatisfaction, "false") No</label>
                    @*<label><input type="radio" name="confirmdissatisfaction" value="0">No</label>*@

                </div>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Ensure team manager is aware of dissat</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Ensureteammanagerisawareofdissat, "true") Yes</label>
                    @*<label><input type="radio" name="Ensureteammanager" value="1">Yes</label>*@
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Ensureteammanagerisawareofdissat, "false") No</label>
                    @*<label><input type="radio" name="Ensureteammanager" value="0" checked>No</label>*@

                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Send TCF examples to Mel Beatty</label>
            <div class="col-md-8">
                <input id="SendTCFexamplestoMelBeatty" name="SendTCFexamplestoMelBeatty" type="checkbox" value="true" @(Model.SendTCFexamplestoMelBeatty != null && Model.SendTCFexamplestoMelBeatty.Value ? "checked=\"checked\"" : "") />
                @*   @Html.CheckBox("SendTCF", false)*@
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">CET Check</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.CETCheck, Model.NewCompliantModel.CETCheckList, "Select CET Check", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select cet check')", @oninput = "this.setCustomValidity('')" })

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Resolution</label>
            <div class="col-md-8">
                <input class="form-control" id="Resolution" maxlength="200" name="Resolution" placeholder="Enter Resolution" title="" type="text" value="@Model.Resolution" />
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Single / Multi</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.SingleMultiId, Model.NewCompliantModel.SingleMultiList, "Select Value", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select Agency')", @oninput = "this.setCustomValidity('')" })

                <span>Just CCS or multiple agency?</span>
            </div>
        </div>

        @*<div class="row form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="NameStr" maxlength="30" name="NameStr" title="" type="text" value="@Model.NameStr" />
                </div>
            </div>*@
        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {


                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"Dissatisfaction", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["DissatisfactionViewName"]})" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewDissatisfaction","Dissatisfaction", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["DissatisfactionViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }
  
</div>




<script type="text/javascript">

    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });
    

    $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");



    $("#btnEdit").click(function () {

        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
        $("#MatterNumberID").attr("readonly", "readonly");
    
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>



