﻿@using CountryWide.Utility
@model CountryWide.Models.ContaminatedLand.ContaminatedLandModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml"; ;
    ViewBag.Title = "Home Page";

}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (ViewBag.Message != null)
{
<script type="text/javascript">
  $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
  });
</script>
}


<div class="container">
    <h1>
        Contaminated Land Indemnity: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewContaminatedLand", "ContaminatedLand", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>

            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">

                    <input class="form-control" id="MatterNumber" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter Number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter Number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">

                    <input class="form-control" id="ClientName" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Client name" title="" type="text" value="@Model.ClientName" /> 

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label" >Centre</label>
            <div class="col-md-8">

                @if (Model.CenterID != 0)
                {                   
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required",@oninvalid="this.setCustomValidity('Please Select Centre')",@oninput="this.setCustomValidity('')",@class ="form-control selectpicker" })

                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Address</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="PropertyAddress" rows="8" name="PropertyAddress" onchange="this." oninvalid="this.setCustomValidity('Please Enter Property Address')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Property Address" title="" type="text" value="@Model.PropertyAddress" ></textarea>
            </div>
        </div>
        <div class="row form-group ">
            <label class="col-md-4 control-label">Exchange Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="ExchangeDate" name="ExchangeDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group ">
            <label class="col-md-4 control-label">Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="CompletionDate" name="CompletionDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@DateTime.Now.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Price</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="PropertyPrice" name="PropertyPrice" min="0" oninvalid="this.setCustomValidity('Please Enter Property Price')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Property Price" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Premium IP Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="PremiumIPAmount" name="PremiumIPAmount" min="0" oninvalid="this.setCustomValidity('Please Enter Premium IP Amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Premium IP Amount" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">CA only</label>
            <div class="col-md-8 dropdown">
                <input id="CAOnly" name="CAOnly" type="checkbox" value="true" @(Model.CAOnly != null && Model.CAOnly.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Fee Earner</label>
            <div class="col-md-8 dropdown">
                <input class="form-control" type="text" id="FeeEarner" required="required" oninvalid="this.setCustomValidity('Please Enter Fee Earner')" oninput="this.setCustomValidity('')" name="FeeEarner" placeholder="Enter Fee Earner" title="" value="@Model.FeeEarner" />
            </div>
        </div>



        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary" onclick="return checkDates('Completion date cannot be less than Exchange Date');">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    }

</div>

<script type="text/javascript">

    $("#PremiumIPAmount").val("");
    $("#PropertyPrice").val("");

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    $('#ExchangeDate,#CompletionDate').change(function () {
        
            if ($(this).attr("name") == "ExchangeDate") {
                checkDates("Exchange Date Cannot be gater than Completion Date");
            }
            else {
                checkDates("Completion Date Cannot be less then Exchange Date");
            }
        
    });


    function checkDates(alertMessage) {
        var getExchangeDate = new Date($('#ExchangeDate').val());
        var getCompletionDate = new Date($('#CompletionDate').val());
        if (getExchangeDate != null && getCompletionDate != null && (getExchangeDate > getCompletionDate)) {
            ShowMessage(alertMessage);
            return false;
        } else {
            return true;
        }

    }

</script>
