﻿@using System.Data
@model DataTable
@using CountryWide.Utility
@using CountryWide.Models.ODBCReport;

@{
    ViewBag.Title = "GetAllSubscription";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    DateTime dt;

    GenericUtility objGenericUtility = new GenericUtility();
}


<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #StopChequeTable span {
        display: none;
    }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

<h2>Email Configuration: Subscription Details</h2>

<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />

    <input type="hidden" id="GridCount" value="@ViewBag.GridCount" name="GridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" id="StopChequeTable">
        @if (Model.Rows.Count == 0 || ViewBag.GridCount == 1)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                   

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count >= 0)
                            {
                                if (col.ColumnName != "SubscriptionID")
                                {
                                <th>@col.ColumnName</th>
                                    }

                                }
                                count++;

                            }

                        }


                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                <tr>
                    @{ int columnCount = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (col.ColumnName.ToString() != "SubscriptionID")
                            {
                                if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                {

                                    bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                    if (isDate == true)
                                    {

                                        string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                    <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                    }
                                    else
                                    {

                                    <td>@row[col.ColumnName]</td>

                                    }
                                }
                                else
                                {
                                <td>@row[col.ColumnName]</td>
                                }
                            }






                            columnCount++;

                        }

                          <td>

                                <a href="@Url.Action("UpdateEmailSubscription", "Report", new {SubscriptionID = @row["SubscriptionID"].ToString()})">   View</a>


                            </td>
                        

                    }




                </tr>
                }


            </tdata>
        }


    </table>

</div>



