﻿@model CountryWide.Models.ODBCReport.EmailSubscriptionModel

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>


<div class="container">

    <h1>
        Report: Email Configuration
    </h1>
    <br />

    @if (ViewBag.UpdateMessage != null)
    {
        <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.UpdateMessage');
    });
        </script>
    }


    @*@using (Html.BeginForm("UpdateEmailSubscription", "Report", FormMethod.Get, new { enctype = "multipart/form-data" }))*@
    @using (Html.BeginForm("GetAllSubscription", "Report", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group required">
            <label class="col-md-4 control-label">Report</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.ReportID, Model.ReportList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Proceed</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>

    }
</div>
