﻿
@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditBridgeControl";
   
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.CompletionDiary.CompletionDiaryModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
<script src="~/JS/CompletionDiary.js"></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}



<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Completion Diary: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Completion Diary: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateCompletionDiary", "CompletionDiary", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="DateInterval" id="DateInterval" value="@ViewBag.DateInterval" />

        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="Version" id="Version" value="@Model.Version" />
        foreach (var data in Model.DynamicCreateScreenList)
        {
            switch (data.ColumnAliasName)
            {
                case "Matter Number":
                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Matter number</label>
                        <div class="col-md-8">


                            <input class="form-control" id="MatterNumber" maxlength="20" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

                        </div>
                    </div>

                    break;

                case "Team":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Team</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                        </div>
                    </div>
                    break;
                case "Client Surname":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Client Surname</label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" value="@Model.ClientSurname" id="ClientSurname" maxlength="20" name="ClientSurname" oninvalid="this.setCustomValidity('Please Enter Client Surname')" oninput="this.setCustomValidity('')" required="required">

                        </div>
                    </div>
                    break;
                case "Matter Type":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Matter Type</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(M => M.MatterTypeID, Model.MatterTypeList, "Select Matter Type", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Matter Type')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                        </div>
                    </div>
                    break;
                case "Expected Completion Date":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Expected Completion Date</label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="date" class="form-control inputstl" value="@Model.ExpectedCompletionDate.ToString("yyyy-MM-dd")" id="ExpectedCompletionDate" oninvalid="this.setCustomValidity('Please Select Expected Completion Date')" oninput="this.setCustomValidity('')" required="required" name="ExpectedCompletionDate" onkeydown="return false;" placeholder="Select Expected Completion Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                        </div>
                    </div>
                    break;
                case "Pack Received":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">Pack Received</label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" value="@Model.PackReceived" id="PackReceived" maxlength="50" name="PackReceived" placeholder="Please Enter Pack Received">

                        </div>
                    </div>
                    break;
                case "Pack checked":

                    <div class="row form-group ">
                        <label class="col-md-4 control-label">
                            Pack checked
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="PackChecked" value="@Model.PackChecked" maxlength="50" name="PackChecked" placeholder="Please Enter Pack Checked">

                        </div>
                    </div>
                    break;
                case "CA Notes / Amendments":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            CA Notes / Amendments
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="CANotes_Amendments" value="@Model.CANotes_Amendments" maxlength="50" name="CANotes_Amendments" placeholder="Please Enter CA Notes / Amendments">

                        </div>
                    </div>
                    break;
                case "VF Imported Notes":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            VF Imported Notes
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="VFImportedNotes" value="@Model.VFImportedNotes" name="VFImportedNotes" maxlength="50" placeholder="Please Enter VF Imported Notes">

                        </div>
                    </div>
                    break;
                case "Can Go":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Can Go
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="CanGo" name="CanGo" value="@Model.CanGo" placeholder="Please Enter Can Go" maxlength="50">

                        </div>
                    </div>
                    break;
                case "Sent for Authorisation":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Sent for Authorisation
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="SentForAuthorisation" value="@Model.SentForAuthorisation" name="SentForAuthorisation" maxlength="50" placeholder="Please Enter Sent for Authorisation">

                        </div>
                    </div>
                    break;
                case "Sent":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Sent
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="Sent" name="Sent" value="@Model.Sent" placeholder="Please Enter Sent" maxlength="50">

                        </div>
                    </div>
                    break;
                case "Legally completed":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Legally completed
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            @if (Model.LegallyCompleted != null)
                            {
                                <input type="date" class="form-control inputstl" id="LegallyCompleted" value="@Model.LegallyCompleted.Value.ToString("yyyy-MM-dd")" name="LegallyCompleted" min="2000-01-01" onkeydown="return false;" placeholder="Select Legally completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                            }
                            else
                            {
                                <input type="date" class="form-control inputstl" id="LegallyCompleted" name="LegallyCompleted" min="2000-01-01" onkeydown="return false;" placeholder="Select Legally completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                            }

                        </div>
                    </div>
                    break;
                case "SLR Billed":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            SLR Billed
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input id="SLRBilled" name="SLRBilled" type="checkbox" value="true" @(Model.SLRBilled != null && Model.SLRBilled.Value ? "checked=\"checked\"" : "") />
                        </div>
                    </div>
                    break;
                case "Healthcheck":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Health check
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input id="Healthcheck" name="Healthcheck" type="checkbox" value="true" @(Model.Healthcheck != null && Model.Healthcheck.Value ? "checked=\"checked\"" : "") />
                        </div>
                    </div>
                    break;
                case "Centre":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Centre
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control autoCalculateFields" id="Center" name="Center" value="@Model.Center" placeholder="Please Enter Centre" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Created":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Created
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            @if (Model.Created != null)
                            {
                                <input type="date" class="form-control inputstl" id="Created" name="Created" value="@(Model.Created.Value.ToString("yyyy-MM-dd"))" onkeydown="return false;" placeholder="Select Created"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                            }
                            else
                            {
                                <input type="date" class="form-control inputstl" id="Created" name="Created" onkeydown="return false;" placeholder="Select Created"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                            }

                        </div>
                    </div>
                    break;
                case "Transaction Type":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Transaction Type
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control autoCalculateFields" id="TransactionType" name="TransactionType" value="@Model.TransactionType" placeholder="Please Enter TransactionType" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Modified":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Modified
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            @if (Model.Modified != null)
                            {
                                <input type="date" class="form-control inputstl" id="Modified" name="Modified" value="@(Model.Modified.Value.ToString("yyyy-MM-dd"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Modified"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                            }
                            else
                            {
                                <input type="date" class="form-control inputstl" id="Modified" name="Modified" min="2000-01-01" onkeydown="return false;" placeholder="Select Modified"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                            }
                        </div>
                    </div>
                    break;
                case "Created By":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Created By
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="CreatedBy" name="CreatedBy" value="@Model.CreatedBy" maxlength="50" placeholder="Please Enter Created By" />

                        </div>
                    </div>
                    break;
                case "Checked By":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Checked By
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control autoCalculateFields" id="CheckedBy" name="CheckedBy" value="@Model.CheckedBy" placeholder="Please Enter Checked By" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Comp Month":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Comp Month
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control autoCalculateFields" id="CompMonth" name="CompMonth" value="@Model.CompMonth" placeholder="Please Enter Comp Month" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Matter Number (linked to item)":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Matter Number (linked to item)
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="MatterNumberLinked" name="MatterNumberLinked" value="@Model.MatterNumberLinked" maxlength="20" placeholder="Please Enter Matter Number (linked to item)" />

                        </div>
                    </div>
                    break;
                case "Modified By":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Modified By
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="ModifiedBy" name="ModifiedBy" maxlength="50" value="@Model.ModifiedBy" placeholder="Please Enter Modified By" />

                        </div>
                    </div>
                    break;
                case "Version":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Version
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control autoCalculateFields" id="Version" name="Version" placeholder="Please Enter Version" value="@Model.Version" readonly="readonly" />

                        </div>
                    </div>
                    break;
            }
        }

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"CompletionDiary", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,DateInterval=ViewBag.DateInterval,ViewName=ViewBag.ViewName})" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action(ViewBag.ActionName,"CompletionDiary", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,DateInterval=ViewBag.DateInterval,ViewName=ViewBag.ViewName})" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>

<script>

    $(document).ready(function () {

        $(".row input").not("input[type=checkbox],select").attr("readonly", "readonly");
        $(".row input[type=checkbox],select").attr("disabled", "disabled");



        $("#btnEdit").click(function () {

            $(".row input").not("input[type=checkbox],select").removeAttr("readonly", "readonly");
            $(".row input[type=checkbox],select").removeAttr("disabled", "disabled");
            $(".autoCalculateFields,#MatterNumber").attr("readonly", "readonly");
            $("#divedit").hide();
            $("#divsave").show();


        });



    });

</script>