﻿@using System.Data
@using CountryWide.Utility
@using CountryWide.Models.ODBCReport;
@using CountryWide.Utility

@{ List<CountryWide.Models.MenuItems> menuList = Session["MenuList"] as List<CountryWide.Models.MenuItems>;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleIdForReport = 0;
    if (Session["UserRoleId"] != null)
    {
        getRoleIdForReport = Convert.ToInt32(Session["UserRoleId"].ToString());

    }
    //List<SelectListItem> reportList = Session["ReportList"] as List<SelectListItem>;
}

@{
    ViewBag.Title = "LoadAllReportNames";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.UpdateMessage != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.UpdateMessage');
      });



    </script>
}


<script type="text/javascript">
    function SetHiddenValueForReport(rName) {
        $('#hiddenReport').val(rName);
        $('#hiddenReportEmail').val(rName);
    }
    function CheckValues() {
        if ($("#hiddenReport").val().length < 1) {
            //debugger;
            return false;
        }
    }
    function CheckValuesForEmail() {
        if ($("#hiddenReportEmail").val().length < 1) {
            //debugger;
            return false;
        }
    }
</script>
<h2>Please select a Report</h2>
<table>
    <tr>
        <td>@Html.DropDownList("ReportNameList", (List<SelectListItem>)ViewBag.ReportNamesList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "SetHiddenValueForReport($(this).val())", @id = "ddl_ReportNames_Read", @class = "form-control selectpicker", style = "width:260px" })</td>
        <td>
            @using (Html.BeginForm("CountrywideReport", "Report", FormMethod.Post))
            {



                @* @Html.DropDownListFor(M => M.R
                eportName, Model.ReportList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })*@

                @Html.Hidden(
            "ReportName",
            "", new { @id = "hiddenReport" }
            );





                <button type="submit" id="btnSubmit" class="btn btn-primary" onclick="return CheckValues()">
                    <span>  View Report</span>
                </button>






            }
        </td>
        @if (getRoleIdForReport != objGenericUtility.Read_ClientAccounting && getRoleIdForReport != objGenericUtility.Read_Gen)
        {
            <td>
                @using (Html.BeginForm("GetAllSubscription", "Report", FormMethod.Post))
                {

                    @* @Html.DropDownListFor(M => M.ReportName, Model.ReportList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })*@
                    @Html.Hidden(
                 "ReportName",
                 "", new { @id = "hiddenReportEmail" });




                    <button type="submit" id="btnSubmit" class="btn btn-primary" onclick="return CheckValuesForEmail()">
                        <span>  Configure Email</span>
                    </button>






                }
            </td>}
        </tr>
</table>






