﻿@using CountryWide.Utility
@model CountryWide.Models.CreditCardRefund.CreditCardRefundModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">
        $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    <h1>
        Credit Card Refund: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewCreditCardRefundTracker", "CreditCardRefund", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" value="@Model.TrackerId" id="TrackerId" name="TrackerId" />
        <input type="hidden" value="@Model.ProcessorId" id="ProcessorId" name="ProcessorId" />
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Client name" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") placeholder="Enter Matter Number" title="" type="text" value="@Model.MatterNumber" />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Instructing branch</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.InstructingBranchID, Model.GetInstructingBranchesList, "Select Instructing branch", new { @oninvalid = "this.setCustomValidity('Please Select Instructing branch')", @oninput = "this.setCustomValidity('')", @required = "required", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group ">
            <label class="col-md-4 control-label">eDIF Payment Ref (if applicable)</label>
            <div class="col-md-8">
                <input class="form-control" id="eDIFPaymentRef" maxlength="20" name="eDIFPaymentRef" placeholder="Enter eDIF Payment Ref" title="" type="text" value="@Model.eDIFPaymentRef" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Refund amount</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="RefundAmount" name="RefundAmount"  oninvalid="this.setCustomValidity('Please Enter Refund amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Refund amount" title="" value="@Convert.ToInt64(Model.RefundAmount)" />
            </div>
        </div>        
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Reason for refund</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.ReasonForRefundID, Model.ReasonForRefundList, "Select Reason for refund", new { @oninvalid = "this.setCustomValidity('Please Select Reason for refund')", @oninput = "this.setCustomValidity('')", @required = "required", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Further detail</label>
            <div class="col-md-8">
                <input class="form-control" id="FurtherDetail" name="FurtherDetail" maxlength="200" placeholder="Enter Further detail" title="" type="text" value="@Model.FurtherDetail" />
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.StatusID, Model.StatusList, "Select Status", new { @oninvalid = "this.setCustomValidity('Please Select Status')", @oninput = "this.setCustomValidity('')", @required = "required", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    }

</div>

<script type="text/javascript">

    $("#RefundAmount").val("");

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    var txt = document.getElementById('RefundAmount');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
</script>



