﻿@using CountryWide.Utility
@model CountryWide.Models.IndemnityPolicies.IndemnityPoliciesModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">
    <h1>
        Indemnity Policies: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewIndemnityPolicies", "IndemnityPolicies", FormMethod.Post))
    {

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                @if (Model.MatterNumber != null)
                {

                    <input class="form-control" id="MatterNumber" readonly="readonly" name="MatterNumber" required="required" title="" type="text" value="@Model.MatterNumber" />
                }
                else
                {
                    <input class="form-control" id="MatterNumber" name="MatterNumber" required="required" title="" type="text" value="@Model.MatterNumber" oninvalid="this.setCustomValidity('Please enter matter number')" oninput="this.setCustomValidity('')" />

                }
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @if (Model.CenterID != 0)
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select centre')", @oninput = "this.setCustomValidity('')" })
                    @Html.HiddenFor(M => M.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select centre')", @oninput = "this.setCustomValidity('')" })

                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Address</label>
            <div class="col-md-8">
                <input class="form-control" id="Address" name="Address" required="required" placeholder="Enter Address" title="" type="text" value="@Model.Address" oninvalid="this.setCustomValidity('Please enter address')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Premium</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="Premium" name="Premium" required="required" placeholder="Enter Premium" title="" oninvalid="this.setCustomValidity('Please enter premium')" oninput="this.setCustomValidity('')" value="@Convert.ToInt64(Model.Premium)" />
            </div>
        </div>
        
        <div class="row form-group required">
            <label class="col-md-4 control-label">Quote Number</label>
            <div class="col-md-8">
                <input class="form-control" id="QuoteNumber" name="QuoteNumber" required="required" placeholder="Enter Quote Number" title="" type="text" value="@Model.QuoteNumber" oninvalid="this.setCustomValidity('Please enter quote number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.StatusID, Model.StatusList, "Select Status", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select status')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="CompletionDate" name="CompletionDate" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" oninvalid="this.setCustomValidity('Please select completion date')" oninput="this.setCustomValidity('')"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>



<script type="text/javascript">
    $(document).ready(function () {

        $('#Premium').val("");


    })

    $(document).ready(function () {

        $('.form-group label').on('mousedown', function (e) {
            e.preventDefault();

        });
    });

    var txt = document.getElementById('Premium');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }



</script>



