﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditTitleAllocation";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.TitleAllocation.TitleAllocationModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
<script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Title Allocation Tracker: Edit/View
        </h1>
    }
    else
    {
        <h1>
            High Value Indemnity: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateTitleAllocation", "TitleAllocation", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadtitleAllocationFile", "TitleAllocation", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>

                }
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" maxlength="20" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">
                Status
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.StatusID, Model.TitleallocationCommonList.StatusList, "Select Status", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.TitleallocationCommonList.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Title Checker
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.TitleCheckerID, Model.TitleallocationCommonList.TitleCheckerList, "Select Title Checker", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Title Checker')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Creation date by WNS
            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="CreationDateByWNS" name="CreationDateByWNS" oninvalid="this.setCustomValidity('Please Select Creation date by WNS')" value="@(Model.CreationDateByWNS.ToString("yyyy-MM-ddTHH:mm"))" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select Creation date by WNS"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Assigned to
            </label>
            <div class="col-md-8">
                <input type="email" class="form-control" value="@Model.AssignedTo" id="AssignedTo" name="AssignedTo" placeholder="Enter Assigned To" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please Enter AssignedTo')" required="required" title="" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Message
            </label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Message" rows="10" name="Message">@Model.Message</textarea>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">
                Mentor
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.MentorId, Model.TitleallocationCommonList.MentorList, "Select Mentor", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Date Allocated to Mentor
            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="DateAllocatedToMentor" name="DateAllocatedToMentor" value="@(Model.DateAllocatedToMentor.Value.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date Allocated to Mentor"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Mentor initial check complete

            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="MentorInitialCheckComplete" name="MentorInitialCheckComplete" value="@(Model.MentorInitialCheckComplete.Value.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Mentor initial check complete"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                1st Title amendments completed
            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="FirstTitleAmendmentsCompleted" name="FirstTitleAmendmentsCompleted" value="@(Model.FirstTitleAmendmentsCompleted.Value.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select 1st Title amendments completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Offshore QC done
            </label>
            <div class="col-md-8">
                <input id="OffshoreQCDone" name="OffshoreQCDone" type="checkbox" value="true" @(Model.OffshoreQCDone != null && Model.OffshoreQCDone.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>



        <div class="row form-group required">
            <label class="col-md-4 control-label">Final Number Revisions needed</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.FinalNumberRevisionsNeeded, Model.TitleallocationCommonList.FinalNumberRevisionList, "Select Final Number Revisions needed", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Final Number Revisions needed')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Number Of Errors</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.NumberOfErrors, Model.TitleallocationCommonList.NumberOfErrorsList, "Select Number Of Errors", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select  Number Of Errors')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Fatality of error
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.FatalityOfErrorId, Model.TitleallocationCommonList.FatilityOfErrorList, "Select Fatality of error", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Fatality of error')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Date Completed

            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="DateCompleted" name="DateCompleted" value="@(Model.DateCompleted.Value.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date Completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                ABS matter

            </label>
            <div class="col-md-8">
                <input id="ABSMatter" name="ABSMatter" type="checkbox" value="true" @(Model.ABSMatter != null && Model.ABSMatter.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group ">
            <label class="col-md-4 control-label">
                Category of Title

            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CategoryOfTitleId, Model.TitleallocationCommonList.CategoryofTitleList, "Select Category of Title", new { @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Feedback

            </label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Feedback" rows="10" name="Feedback">@Model.Feedback</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Mentor Support
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.MentorSupportId, Model.TitleallocationCommonList.MentorSupportList, "Select Mentor Support", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Error Themes
            </label>
            <div class="col-md-8">
                <span><input id="ErrorThemes1" name="ErrorThemes1" type="checkbox" value="true" @(Model.ErrorThemes1 != null && Model.ErrorThemes1.Value ? "checked=\"checked\"" : "") /> Title    </span><br />
                <span><input id="ErrorThemes2" name="ErrorThemes2" type="checkbox" value="true" @(Model.ErrorThemes2 != null && Model.ErrorThemes2.Value ? "checked=\"checked\"" : "") /> Right   </span><br />
                <span><input id="ErrorThemes3" name="ErrorThemes3" type="checkbox" value="true" @(Model.ErrorThemes3 != null && Model.ErrorThemes3.Value ? "checked=\"checked\"" : "") /> Plans   </span><br />
                <span><input id="ErrorThemes4" name="ErrorThemes4" type="checkbox" value="true" @(Model.ErrorThemes4 != null && Model.ErrorThemes4.Value ? "checked=\"checked\"" : "") /> Contract</span><br />
                <span><input id="ErrorThemes5" name="ErrorThemes5" type="checkbox" value="true" @(Model.ErrorThemes5 != null && Model.ErrorThemes5.Value ? "checked=\"checked\"" : "") /> Transfer</span><br />
                <span><input id="ErrorThemes6" name="ErrorThemes6" type="checkbox" value="true" @(Model.ErrorThemes6 != null && Model.ErrorThemes6.Value ? "checked=\"checked\"" : "") /> AEs     </span><br />
                <span><input id="ErrorThemes7" name="ErrorThemes7" type="checkbox" value="true" @(Model.ErrorThemes7 != null && Model.ErrorThemes7.Value ? "checked=\"checked\"" : "") /> Admin   </span><br />

            </div>
        </div>


        <div class="row form-group ">
            <label class="col-md-4 control-label">
                Audit or Sign Off

            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.AuditOrSignOffId, Model.TitleallocationCommonList.AuditorSignOffList, "Select Audit or Sign Off", new { @class = "form-control selectpicker" })

            </div>
        </div>



        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"TitleAllocation", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["TitleAllocationViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewTitleAllocation","TitleAllocation", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId ,ViewName = Session["TitleAllocationViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>




<script type="text/javascript">


    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }


        $("#btnsave").click(function () {
            var isValid = true;
            var AssignedToEmail = $('#AssignedTo').val();

            var AssignedToEmailResult = validateEmail(AssignedToEmail);



            if (AssignedToEmailResult == false) {
                isValid = false;
                ShowMessage("Please enter valid Assigned To email address");
                $('#AssignedTo').val(' ');
            }



            return isValid;
        });

    });
    function validateEmail(email) {

        if (email.length == 0) return true;
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;


        if (regex.test(email)) {
            return true;
        }
        else {
            return false;

        }
    }
    $(".row input,textarea").not("input[type=checkbox],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],select").attr("disabled", "disabled");


    $("#btnEdit").click(function () {

        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],select").removeAttr("disabled", "disabled");

            $("#MatterNumber").attr("readonly", "readonly");
          
        $("#divedit").hide();
        $("#divsave").show();


    });

</script>




