﻿@using CountryWide.Utility
@model CountryWide.Models.TitleAllocation.TitleAllocationModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Title Allocation Tracker";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<div class="container">
    <h1>
        Title Allocation Tracker: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewTitleAllocation", "TitleAllocation", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" maxlength="20" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">
                Status
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.StatusID, Model.TitleallocationCommonList.StatusList, "Select Status", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.TitleallocationCommonList.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Title Checker
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.TitleCheckerID, Model.TitleallocationCommonList.TitleCheckerList, "Select Title Checker", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Title Checker')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Creation date by WNS
            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="CreationDateByWNS" name="CreationDateByWNS" oninvalid="this.setCustomValidity('Please Select Creation date by WNS')" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select Creation date by WNS"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Assigned to
            </label>
            <div class="col-md-8">
                <input type="email" class="form-control" id="AssignedTo" name="AssignedTo" placeholder="Enter Assigned To" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please Enter AssignedTo')" required="required" title="" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Message
            </label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Message" rows="10" name="Message"></textarea>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">
                Mentor
            </label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.MentorId, Model.TitleallocationCommonList.MentorList, "Select Mentor", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Date Allocated to Mentor
            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="DateAllocatedToMentor" name="DateAllocatedToMentor" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date Allocated to Mentor"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                Mentor initial check complete

            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="MentorInitialCheckComplete" name="MentorInitialCheckComplete" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Mentor initial check complete"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">
                1st Title amendments completed
            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="FirstTitleAmendmentsCompleted" name="FirstTitleAmendmentsCompleted" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select 1st Title amendments completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Offshore QC done
            </label>
            <div class="col-md-8">
                @Html.CheckBox("OffshoreQCDone", false)
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Final Number Revisions needed</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.FinalNumberRevisionsNeeded, Model.TitleallocationCommonList.FinalNumberRevisionList, "Select Final Number Revisions needed", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Final Number Revisions needed')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Number Of Errors</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.NumberOfErrors, Model.TitleallocationCommonList.NumberOfErrorsList, "Select Number Of Errors", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select  Number Of Errors')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">
                Fatality of error
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.FatalityOfErrorId, Model.TitleallocationCommonList.FatilityOfErrorList, "Select Fatality of error", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Fatality of error')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Date Completed

            </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" id="DateCompleted" name="DateCompleted" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" min="2000-01-01" onkeydown="return false;" placeholder="Select Date Completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                ABS matter

            </label>
            <div class="col-md-8">
                @Html.CheckBox("ABSMatter", false)
            </div>
        </div>

        <div class="row form-group ">
            <label class="col-md-4 control-label">
                Category of Title

            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CategoryOfTitleId, Model.TitleallocationCommonList.CategoryofTitleList, "Select Category of Title", new { @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Feedback

            </label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Feedback" rows="10" name="Feedback">@Model.Feedback</textarea>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">
                Mentor Support
            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.MentorSupportId, Model.TitleallocationCommonList.MentorSupportList, "Select Mentor Support", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">
                Error Themes
            </label>
            <div class="col-md-8">

                <span>@Html.CheckBox("ErrorThemes1", false) Title</span><br />
                <span>@Html.CheckBox("ErrorThemes2", false) Rights</span><br />
                <span>@Html.CheckBox("ErrorThemes3", false) Plans</span><br />
                <span>@Html.CheckBox("ErrorThemes4", false) Contract</span><br />
                <span>@Html.CheckBox("ErrorThemes5", false) Transfer</span><br />
                <span>@Html.CheckBox("ErrorThemes6", false) AEs</span><br />
                <span>@Html.CheckBox("ErrorThemes7", false) Admin</span><br />

            </div>
        </div>


        <div class="row form-group ">
            <label class="col-md-4 control-label">
                Audit or Sign Off

            </label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.AuditOrSignOffId, Model.TitleallocationCommonList.AuditorSignOffList, "Select Audit or Sign Off", new { @class = "form-control selectpicker" })


            </div>
        </div>



        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var isValid = true;
            var AssignedToEmail = $('#AssignedTo').val();
           
            var AssignedToEmailResult = validateEmail(AssignedToEmail);
            


            if (AssignedToEmailResult == false) {
                isValid = false;
                ShowMessage("Please enter valid Assigned To email address");
                $('#AssignedTo').val(' ');
            }

           

            return isValid;
        });


    });


    function validateEmail(email) {

        if (email.length == 0) return true;
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;


        if (regex.test(email)) {
            return true;
        }
        else {
            return false;

        }
    }
</script>

