﻿@{
    Layout = Request.IsAjaxRequest()? null: "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.NewComplimentLookupModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<div class="container">
    <h1>
        Compliments Tracker: New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewComplimentsTracker", "Compliments", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile" >
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Received From</label>
            <div class="col-md-8">
                <input class="form-control" id="RecievedFrom" name="RecievedFrom" maxlength="50" value="@ViewBag.RecievedFrom" @(ViewBag.RecievedFrom != null  ? "readonly=\"readonly\"" : "") placeholder="Enter Received From"  title="" type="text" oninvalid="this.setCustomValidity('Please enter recieved from')" oninput="this.setCustomValidity('')" />
                <span>Enter the name of person who gave us the compliment</span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date Received</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" required="required" min="2000-01-01" onkeydown="return false;" id="DateReceived" name="DateReceived" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="id_Matter_Number" readonly="readonly" required="required" value="@ViewBag.MatterNumber" name="Matter_Number" placeholder="Enter Customer Matter Number" title="" type="text" oninvalid="this.setCustomValidity('Please enter customer matter number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Center</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownList("GetCenter", Model.CenterNameList, "Select Center", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select centre')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownList("GetTeam", Model.TeamList, "Select Team", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select team')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Individual being complimented</label>
            <div class="col-md-8">
                <input class="form-control" id="IndividiualComplimented" required="required" maxlength="50" name="IndividiualComplimented" placeholder="Enter Individiual being Complimented" title="" type="text" oninvalid="this.setCustomValidity('Please enter individual being complimented')" oninput="this.setCustomValidity('')" />
            </div>
        </div>



        <div class="row form-group required">
            <label class="col-md-4 control-label">Regional subsidiary</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownList("GetRegionalType", Model.RegionList, "Select Regional subsidiary", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select regional subsidary')", @oninput = "this.setCustomValidity('')" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Branch</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownList("GetBranchType", Model.BranchList, "Select Branch", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select branch')", @oninput = "this.setCustomValidity('')" })


            </div>
        </div>



        <div class="row form-group">
            <label class="col-md-4 control-label">Town</label>
            <div class="col-md-8">
                <input class="form-control" id="Town" maxlength="50" name="Town" placeholder="Enter Town" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Compliment text(Full Information)</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="ComplimentText" required="required" name="ComplimentText" rows="10" oninvalid="this.setCustomValidity('Please enter compliment text')" oninput="this.setCustomValidity('')" ></textarea>
                @*<input class="form-control" id="ComplimentText" name="ComplimentText" type="text" />*@
                <span>May be used for future PR Quotes</span>
            </div>
        </div>



        <div class="row form-group">
            <label class="col-md-4 control-label">TAT-Speed / Efficiency</label>
            <div class="col-md-8">
                @Html.CheckBox("TAT-Speed", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PRO-Pro active / Driving Progress</label>
            <div class="col-md-8">
                @Html.CheckBox("DrivingProgress", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">SUP-Client felt supported / appreciated help</label>
            <div class="col-md-8">
                @Html.CheckBox("SUP-Client", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">COM-Good level of communication</label>
            <div class="col-md-8">
                @Html.CheckBox("COM-Good", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PLE-Pleasant to speak to</label>
            <div class="col-md-8">
                @Html.CheckBox("PLE-Pleasent", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CCU-Clear comprehensive updates</label>
            <div class="col-md-8">
                @Html.CheckBox("CCUC-Clear", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">STR-Made it less stressful </label>
            <div class="col-md-8">
                @Html.CheckBox("STR-Made", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">RES-Quick response to emails/quesions</label>
            <div class="col-md-8">
                @Html.CheckBox("RES-Quick", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Who sent to CET</label>
            <div class="col-md-8">
                <input class="form-control" id="CET" maxlength="50" name="CET" title="" type="text" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Newsletter-Worthy?</label>
            <div class="col-md-8">
                @Html.CheckBox("Newsletter-Worthy", false)
            </div>
        </div>


        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok  </span>
                </button>

                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>

                @*<button type="button" id="cancel" class="btn btn-info">
                        <span>Cancel</span>
                    </button>*@
            </div>
        </div>

    }



</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="control-label">You have clicked on Cancel button. To continue, please click "Exit Tracker" and you will lose any data you have entered in the tracker. To stay back in the tracker, click on "Stay in Tracker"</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="ExitTracker">Exit tracker</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Stay in tracker</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">


     $('#ExitTracker').click(function () {
        document.location = '@Url.Action("Index","Home")';
       });


    //$('#exampleModal').modal({ backdrop: 'static', keyboard: false })  

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    $(function () {
        $('.col-sm-4.date').datepicker({
            autoclose: true,
            dateFormat:"dd/MM/YYYY"

        });
    });

</script>



