﻿
@{
    ViewBag.Title = "NewWriteOffsFormTracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CountryWide.Models.WriteOffs.WriteOffsFormModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        ShowMessage("@ViewBag.Message");
    </script>
}

<div class="container">
    <h1>
        Write Offs: New Item
    </h1>
    <br />
    @using (Html.BeginForm("NewWriteOffsForm", "WriteOffs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Position of Requester</label>
            <div class="col-md-8">
                <input class="form-control" id="PositionOfRequester" name="PositionOfRequester" placeholder="Position Of Requester" title="" type="text" value="@Model.PositionOfRequester" required="required" oninvalid="this.setCustomValidity('Please enter Position Of Requester')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre Write Off Against</label>
            <div class="col-md-8">
                @Html.DropDownListFor(wo => wo.CentreWriteOffAgainstID, Model.NewCompliantModel.WriteOffsCenterList, "Select Centre Write Off Against", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select center write off against')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team Write Off Against</label>
            <div class="col-md-8">
                @Html.DropDownListFor(wo => wo.TeamWriteOffAgainstID, Model.NewCompliantModel.WriteOffsTeamList, "Select Team Write Off Against", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select team write off against')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Fee Earner(s) Write Off Against</label>
            <div class="col-md-8">
                <input class="form-control" id="FeeEarnersWriteOffAgainst" name="FeeEarnersWriteOffAgainst" placeholder="Fee Earner(s) Write Off Against" title="" type="text" value="@Model.FeeEarnersWriteOffAgainst" required="required" oninvalid="this.setCustomValidity('Please enter fee earner(s) write Off against')" oninput="this.setCustomValidity('')"  maxlength="100"/>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" name="MatterNumber" placeholder="Matter Number" title="" @(Model.MatterNumber != null && Model.MatterNumber != "" ? "readonly=\"readonly\"" : "") required="required" type="text" value="@Model.MatterNumber" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") name="ClientName" required="required" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label"> Completion Date</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" id="CompletionDate" name="CompletionDate" placeholder="Select Completion Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" id="Amount" name="Amount" placeholder="Enter Amount" title="" type="number" min="0" value="@Model.Amount" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" required="required" oninvalid="this.setCustomValidity('Please enter amount')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason for write off</label>
            <div class="col-md-8">
                @Html.DropDownListFor(wo => wo.ReasonforWriteOffID, Model.NewCompliantModel.ReasonForWriteOffsList, "Select Reason For Write Off", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select reason for write off')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Narrative</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Narrative" name="Narrative" rows="10" required="required" oninvalid="this.setCustomValidity('Please enter Narrative')" oninput="this.setCustomValidity('')">@(Model.Narrative)</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Authoriser</label>
            <div class="col-md-8">
                <input class="form-control" id="Authoriser" name="Authoriser" placeholder="Authoriser" title="" type="text" value="@Model.Authoriser" maxlength="50"/>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                @foreach (var writeOffStatus in Model.NewCompliantModel.WriteOffsStatusList)
                {
                    if (Convert.ToInt32(writeOffStatus.Value) == 1)
                    {
                        <div class="radio">

                            @Html.RadioButtonFor(wo => wo.StatusID, writeOffStatus.Value, new { @checked = "checked" })
                            @Html.Label(writeOffStatus.Text)

                        </div>
                    }
                    else
                    {
                        <div class="radio">

                            @Html.RadioButtonFor(wo => wo.StatusID, writeOffStatus.Value)
                            @Html.Label(writeOffStatus.Text)

                        </div>
                    }
                }
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#witeOffsFormModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    }
    <div class="modal fade" id="writeOffsFormModal" tabindex="-1" role="dialog" aria-labelledby="writeOffsFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="writeOffsFormModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="control-label">You have clicked on Cancel button. To continue, please click "Exit Tracker" and you will lose any data you have entered in the tracker. To stay back in the tracker, click on "Stay in Tracker"</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="ExitTracker">Exit tracker</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Stay in tracker</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#Amount').val("");

    })
    $('#ExitTracker').click(function () {
        document.location = '@Url.Action("Index","Home")';
    });
    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    $(function () {
        $('.col-sm-4.date').datepicker({
            autoclose: true,
            dateFormat: "dd/MM/YYYY"

        });
    });
</script>
