﻿@using CountryWide.Utility
@{
    ViewBag.Title = "EditWriteOffs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

@model CountryWide.Models.WriteOffs.WriteOffsFormModel

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}

<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Write Offs: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Write Offs: View
        </h1>
    }
    <br />
    @using (Html.BeginForm("UpdateWriteOffs", "WriteOffs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />
        @Html.HiddenFor(wo => wo.IsMatterNumberExisted)
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadWriteOffsFile", "WriteOffs", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>
                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Position of Requester</label>
            <div class="col-md-8">
                <input class="form-control" id="PositionOfRequester" name="PositionOfRequester" placeholder="Position Of Requester" title="" type="text" value="@Model.PositionOfRequester" required="required" oninvalid="this.setCustomValidity('Please enter Position Of Requester')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre Write Off Against</label>
            <div class="col-md-8">
                @Html.DropDownListFor(wo => wo.CentreWriteOffAgainstID, Model.NewCompliantModel.WriteOffsCenterList, "Select Centre Write Off Against", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select center write off against')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team Write Off Against</label>
            <div class="col-md-8">
                @Html.DropDownListFor(wo => wo.TeamWriteOffAgainstID, Model.NewCompliantModel.WriteOffsTeamList, "Select Team Write Off Against", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select team write off against')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Fee Earner(s) Write Off Against</label>
            <div class="col-md-8">
                <input class="form-control" id="FeeEarnersWriteOffAgainst" name="FeeEarnersWriteOffAgainst" placeholder="Fee Earner(s) Write Off Against" title="" type="text" value="@Model.FeeEarnersWriteOffAgainst" required="required" oninvalid="this.setCustomValidity('Please enter fee earner(s) write off against')" oninput="this.setCustomValidity('')" maxlength="100"/>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" name="MatterNumber" placeholder="Matter Number" readonly="readonly" required="required" type="text" value="@Model.MatterNumber" oninvalid="this.setCustomValidity('Please enter matter number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" readonly="readonly" name="ClientName" required="required" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" oninvalid="this.setCustomValidity('Please enter client name')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label"> Completion Date</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@(Model.CompletionDate==""?Model.CompletionDate:Convert.ToDateTime(Model.CompletionDate).ToString("yyyy-MM-dd"))" onkeydown="return false;" id="CompletionDate" name="CompletionDate" placeholder="Select Completion Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" id="Amount" name="Amount" placeholder="Enter Amount" title="" type="number" min="0" value="@Model.Amount" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" required="required" oninvalid="this.setCustomValidity('Please enter amount')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason for write off</label>
            <div class="col-md-8">
                @Html.DropDownListFor(wo => wo.ReasonforWriteOffID, Model.NewCompliantModel.ReasonForWriteOffsList, "Select Reason For Write Off", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select reason for write off')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Narrative</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Narrative" name="Narrative" rows="10" required="required" oninvalid="this.setCustomValidity('Please enter Narrative')" oninput="this.setCustomValidity('')">@(Model.Narrative)</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Authoriser</label>
            <div class="col-md-8">
                <input class="form-control" id="Authoriser" name="Authoriser" placeholder="Authoriser" title="" type="text" value="@Model.Authoriser" maxlength="50"/>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                @foreach (var writeOffStatus in Model.NewCompliantModel.WriteOffsStatusList)
                {
                    if (Convert.ToInt32(writeOffStatus.Value) == Model.StatusID)
                    {
                        <div class="radio">

                            @Html.RadioButtonFor(wo => wo.StatusID, writeOffStatus.Value, new { @checked = "checked" })
                            @Html.Label(writeOffStatus.Text)

                        </div>
                    }
                    else
                    {
                        <div class="radio">

                            @Html.RadioButtonFor(wo => wo.StatusID, writeOffStatus.Value)
                            @Html.Label(writeOffStatus.Text)

                        </div>
                    }
                }
            </div>
        </div>
        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {

                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"WriteOffs", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, ViewName = Session["WriteOffsViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewWriteOffsForm","WriteOffs", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, ViewName = Session["WriteOffsViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });
    $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");
    $('#Amount').val($('#Amount').val().substring(0, $('#Amount').val().lastIndexOf('.')));
    $('#MatterNumber').attr("readonly", "readonly");

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });

    $("#btnEdit").click(function () {
        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
        $("#divedit").hide();
        $("#divsave").show();
        //if ($('#IsMatterNumberExisted').val() == "True") {
        //    $('#MatterNumber').attr("readonly", "readonly");
        //    $('#ClientName').attr("readonly", "readonly");
        //}
        $('#MatterNumber').attr("readonly", "readonly");
    });


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    $(function () {
        $('.col-sm-4.date').datepicker({
            autoclose: true,
            dateFormat: "dd/MM/YYYY"

        });
    });
</script>
