﻿
@{
    //ViewData["Title"] = "Home Page";
}


<div>
    <label>Attach file: </label>
    <input type="file" id="Myfile" name="Myfile" />
</div>
<div>
    <input type="button" id="btnSaveData" name="SaveData" value="ReadExcel" />
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('#btnSaveData').click(function () {
            
          
            window.location = '@Url.Action("ReadExcel","Home")?ExcelPath=' + 'D://DosFile.xls';
        })
    })
</script>
