﻿@model DASReportRun.Models.DASSource
<style>
 .table {
     border-collapse:collapse!important;
 }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid black !important;
        
        
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
  
    <div> 
        <div>
            Office:<input type="text" id="txtOffie" />   @*@Html.TextBoxFor(x => x.Office, new {@class="form-control"})*@
        </div>
      <table class="table table-bordered" style="width:100%">

            <tr style="width:100%">
                <th>Office</th>
                <th>short</th>
                <th>Date</th>
                <th>Transaction</th>

            </tr>
            <tbody>
                @foreach (var d in ViewBag.ListSource)
                {
                    <tr>
                        <td>
                            @d.Office
                        </td>
                        <td>@d.Short</td>
                        <td>@d.Date</td>
                        <td>@d.Transaction</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</body>
</html>
