﻿@using System.Data
@using CountryWide.Utility
@using CountryWide.Models.CompletionDiary
@model List<CompletionDairyDBModel>

@{
    ViewBag.Title = "GetReviewCompletionDiary";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    DateTime dt;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
    bool isPaging = true;
    isPaging = ViewBag.ProcessorId == 201 ? true : false;

}



<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/rowGroup.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.24.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatable.rowGroup.min.js"></script>
@if (ViewBag.ProcessorId == 201)
{
    @: <h2>Review: Completion Diary</h2>
}
else
{
    @: <h2>Historic View: Completion Diary</h2>


}

<br />

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<style>
    .interval {
        width: auto
    }

    .alignCenter {
        margin-left: auto;
        margin-right: auto;
    }

    tr.odd td:first-child,
    tr.even td:first-child {
        padding-left: 4em;
    }

    #CompletionDairyTable table {
        border: none;
    }

    .autodropdown {
        width: auto;
    }


   

    th, td {
        white-space: nowrap;
    }
</style>
<div class="form-group" style="float:left !important; display:flex">
    <label class="col-md-offset-2 control-label" style="margin-top:auto;margin-bottom:auto">Select View: </label>
    <div style="margin-left:auto;width:auto !important">

        @Html.DropDownList("ViewName", new List<SelectListItem>
         {
             new SelectListItem{ Text="Completion Diary", Value = "CompletionDiary",Selected=true},
             new SelectListItem{ Text="Can Go", Value = "CanGo" },
             //new SelectListItem{ Text="Sent for Authorisation", Value = "SentforAuthorisation" },

          }, new { @id = "ViewName", @class = "form-control autodropdown" })
    </div>

</div>
<a style="margin-left: 30%;" class="btn btn-primary" href="@Url.Action("NewCompletionDiaryMatterNumber", "CompletionDiary")">Create</a>
@if (ViewBag.ProcessorId == 201)
{
    <div class="row form-group" style="float:right !important">


        <div class="col-md-4" style="margin-right:auto;width:auto !important">
            @Html.DropDownList("DateInterval", new List<SelectListItem>
          {
              new SelectListItem{ Text="Today", Value = "Today",Selected=true},
              new SelectListItem{ Text="Future Completions", Value = "FutureCompletions" },
              new SelectListItem{ Text="Past Completions", Value = "PastCompletions" },
              new SelectListItem{ Text="Tomorrow", Value = "Tomorrow" },
              new SelectListItem{ Text="Yesterday", Value = "Yesterday" }

           }, new { @id = "DateInterval", @class = "form-control selectpicker interval" })
        </div>

    </div>

}

<input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
<input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
<input type="hidden" name="DateInterval" id="DateInterval" value="@ViewBag.DateInterval" />


<div class="table-responsive">
    <div style="margin-left:40%">
        <button type="button" id="btnDownload" class="btn btn-primary commonShowHideButton">
            <span>  Download  </span>
        </button>
        <button type="button" id="btnDownloadAll" class="btn btn-primary commonShowHideButton">
            <span>  Download All </span>
        </button>
        @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen)
        {
            <button type="button" id="btnDelete" class="btn btn-primary">
                <span>  Delete  </span>
            </button>
        }
    </div>
</div>
<table id="CompletionDairyTable" class="display table table-bordered table-condensed table-striped table-hover sortable" style="width:100%;overflow:auto;display:block;border-collapse:collapse">
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="10">No Record's found.</td>
        </tr>

    }
    else
    {
        <thead class="thead-dark">

            <tr>
                <th><input name="select_all" value="1" id="selectAllCheckBox" type="checkbox" /></th>
                <th>Team</th>
                <th>Centre</th>
                @if (ViewBag.ViewName == "CompletionDiary")
                {
                    <th>Expected Completion Date</th>
                }

                else
                {
                    <th style="display:none">Expected Completion Date</th>
                }
                <th>Matter Number</th>
                <th>Client Surname</th>
                <th>Matter Type</th>

                @if (ViewBag.ViewName == "CanGo")
                {
                    <th>Transaction Type</th>
                }



                else
                {
                    <th style="display:none">
                        Transaction Type
                    </th>
                }
                <th>Pack Received</th>
                <th>Pack checked</th>
                <th>CA Notes</th>
                <th>Can Go</th>

                <th class="CanGo">
                    <h6>Sent for</h6>Authorisation
                </th>
                <th class="CanGo">Sent</th>
                <th class="Sent">Modified By</th>
                @*<th class="CanGo">Created</th>
                    <th class="CanGo">Created By</th>*@
                <th class="Sent">Version</th>
                <th>Action</th>
            </tr>
        </thead>
        @*<tbody style="width:100%;overflow:auto;border-collapse:collapse">*@
        <tdata>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @if (item.ID != null)
                        {
                            <input type="checkbox" id="@item.ID" name="@item.ID" value="@item.ID">
                        }
                    </td>
                    <td>@item.Team</td>
                    <td>Centre: @item.Centre</td>
                    @if (ViewBag.ViewName == "CompletionDiary")
                    {
                        <td>Expected Completion Date: @item.ExpectedCompletionDate</td>
                    }

                    else
                    {
                        <td style="display:none">Expected Completion Date</td>
                    }



                    <td>@item.MatterNumber</td>
                    <td>@item.ClientSurname</td>
                    <td>@item.MatterType</td>

                    @if (ViewBag.ViewName == "CompletionDiary")
                    {
                        <td style="display:none">@item.TransactionType</td>



                    }
                    else
                    {
                        <td>Transaction Type: @item.TransactionType</td>
                    }
                    <td>@item.PackReceived</td>
                    <td>@item.Packchecked</td>
                    <td>@item.CANotesAmendments</td>
                    <td>@item.CanGo</td>
                    <td class="CanGo">@item.SentforAuthorisation</td>
                    <td class="CanGo">@item.Sent</td>
                    <td class="Sent">@item.ModifiedBy</td>
                    @*<td class="CanGo">@item.Created</td>
                        <td class="CanGo">@item.CreatedBy</td>*@
                    <td class="Sent">@item.Version</td>
                    <td>
                        @if (item.ID != null)
                        {
                            <a href="@Url.Action("EditCompletionDiary", "CompletionDiary", new { Id = item.ID, TrackerId = ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, EditViewType = "Edit", DateInterval = ViewBag.DateInterval, ViewName = ViewBag.ViewName })">  View</a>
                            <a style="margin-left:5px;" href="@Url.Action("Index", "AuditTrail", new { id = item.ID, TrackerId = ViewBag.TrackerId, ProcessId = ViewBag.ProcessorId, Viewname = ViewBag.ViewName, CompletionDiaryDateInterval = ViewBag.DateInterval })">Audit Info</a>

                        }
                    </td>

                </tr>
            }
        </tdata>

        @*</tbody>*@
    }
</table>



<script>

    var groupingOrder = [];
    var rowGroup = [];
    var target = [];
    var dataTableObj = null;
    $(document).ready(function () {
          if ('@ViewBag.ViewName' == 'CanGo') {
            groupingOrder = [[7, 'asc'], [1, 'asc']];
            rowGroup = [7, 2];
              target = [2, 7];

              $("#CompletionDairyTable").css("display", "");
          }
          else if ('@ViewBag.ViewName' == 'SentforAuthorisation') {

            groupingOrder = [[7, 'asc'], [1, 'asc']];
            rowGroup = [7, 2];
           target = [2, 7];

        }
        else {
            groupingOrder = [[3, 'asc'], [1, 'asc']];
            rowGroup = [3, 2];
            target = [2, 3];
              $("#CompletionDairyTable").css("display", "block");

        }
        @if (Model.Count == 0)
        {
            @: $("#btnDownload,#btnDelete,#btnDownloadAll").hide();
        }


            dataTableObj =  $('#CompletionDairyTable').DataTable({
                order: groupingOrder,
                pageLength: 500,
                paging:true,
                info:true,
            rowGroup: {
                        dataSrc: rowGroup,
                startRender: function (rows, group) {
                            //console.log("rows", rows);
                            //console.log("group", group);
                            var groupTr = $('<tr/>');
                            groupTr.append('<td colspan="2">' + group + '</td>')
                                .append('<td class="alignLeft" style="font-weight:bold">Count=' + calculateCount(rows.data(), 4) + '</td>')
                                .append('<td/>')
                                .append('<td/>')
                                /*.append('<td class="CanGoSent"></td>')*/
                                .append('<td class="alignLeft" style="font-weight:bold">Count=' + calculateCount(rows.data(), 8) + '</td>')
                                .append('<td class="alignLeft" style="font-weight:bold">Count=' + calculateCount(rows.data(), 9) + '</td>')
                                .append('<td/>')
                                .append('<td class="alignLeft" style="font-weight:bold">Count=' + calculateCount(rows.data(), 11) + '</td>')
                                .append('<td class="alignLeft CanGo" style="font-weight:bold">Count=' + calculateCount(rows.data(), 12) + '</td>')
                                .append('<td class="alignLeft CanGo" style="font-weight:bold">Count=' + calculateCount(rows.data(), 13) + '</td>')
                                .append('<td class="Sent"></td>')
                                //.append('<td class="CanGo"></td>')
                                //.append('<td class="CanGo"></td>')
                                .append('<td class="Sent"></td>')
                                .append('<td/>');

                            setTimeout(function () { getDynamictr(); }, 1);
                            return groupTr;

                        },
                endRender: null
            },
            columnDefs: [{
                        targets:target,
                visible: false,
                width: 300
            }]
        });
            //dataTableObj.columns.adjust().draw();
            var data = $('#CompletionDairyTable tbody tr')

        if (data.length > 0) {
            $(data[0]).hide();
            $(data[1]).hide();
            }
        $('.dataTables_length').hide();
        $("CompletionDairyTable").attr("border", "0");
            getDynamictr();
        //$('#CompletionDairyTable').dataTable({
        //    "bPaginate": false
        //});
        });
    function getDynamictr() {
        //console.log('@ViewBag.ViewName');

          if ('@ViewBag.ViewName' == 'CanGo') {

              $('.CanGo').hide();
              $('.CanGoSent').hide();
              $('.Sent').hide();
           }
          else if ('@ViewBag.ViewName' == 'SentforAuthorisation') {

              $('.CanGo').show();
              $('.CanGoSent').hide();
              $('.Sent').show();
        }
        else {
              $('.CanGoSent').show();
              $('.Sent').hide();
              $('.CanGo').show();
        }
    }
    function calculateCount(rowsData, columnIndex) {
        let count = 0;
        if (rowsData != null && rowsData.length > 0) {
            let rowsDataCount = rowsData.filter(a => a[columnIndex] != null && a[columnIndex].trim().length > 0);
            count = rowsDataCount.length;
        }
       return  count;
    }
    $("#DateInterval").change(function () {

        if ($(this).val() != "") {
            document.location = '@Url.Action("GetReviewCompletionDiary", "CompletionDiary")?TrackerId=' + @ViewBag.TrackerId + '&ProcessorId=' + @ViewBag.ProcessorId+'&DateInterval=' + $(this).val() + '&ViewName=' + $('#ViewName').val();

        }
    });
    $("#ViewName").change(function () {

        if ($(this).val() != "") {
            document.location = '@Url.Action("GetReviewCompletionDiary", "CompletionDiary")?TrackerId=' + @ViewBag.TrackerId + '&ProcessorId=' + @ViewBag.ProcessorId+'&DateInterval=' + $('#DateInterval').val() + '&ViewName=' + $(this).val();

        }
    });
    $('#selectAllCheckBox').on('click', function () {

        // Check/uncheck all checkboxes in the table
        var rows = $("#CompletionDairyTable tbody tr").find("input[type='checkbox']").prop('checked', this.checked);

        $('input[type="checkbox"]').prop('checked', this.checked);
    });
    $('#CompletionDairyTable tbody').on('change', 'input[type="checkbox"]', function () {

        var tableRow = $("#CompletionDairyTable tbody tr");
        var tdataCount = tableRow.length;
        var checkCount = 0;
        if (this.checked) {


            $('#CompletionDairyTable  tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    checkCount += 1;
                });
            });

            if (tdataCount == checkCount) {
                $('#selectAllCheckBox').prop("checked", true);

            }
        }
        else {
            $('#selectAllCheckBox').prop("checked", false);
        }
    });
    $("#btnDownload").click(function () {

        DownloadOrDeleteOperations("Download");
    });
    $("#btnDelete").click(function () {

        DownloadOrDeleteOperations("Delete");
    });

    $("#btnDownloadAll").click(function () {

        document.location = '@Url.Action("DownloadCompletionDairy", "CompletionDiary")?selectedData=AllRecords&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId+'&DateInterval=' + $('#DateInterval').val() + '&ViewName=' + $('#ViewName').val() +'&ViewType=Static';

    });


    function DownloadOrDeleteOperations(operationType) {


            var selectedData = [];
            let selectedCount = 0;

        $('#CompletionDairyTable  tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                    document.location = '@Url.Action("DownloadCompletionDairy", "CompletionDiary")?selectedData=' + selectedData.join(',') + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId+'&DateInterval=' + $('#DateInterval').val() + '&ViewName=' + $('#ViewName').val();
                }else {
                    $("#btnDownload,#btnDownloadAll").attr("disabled", "disabled");
                    document.location = '@Url.Action("DeleteCompletionDiary", "CompletionDiary")?selectedData=' + selectedData + '&DeleteType=Delete&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId+'&DateInterval=' + $('#DateInterval').val() + '&ViewName=' + $('#ViewName').val();
                }
            }


        }
</script>
