﻿@using System.Data
@model DataTable

@{
    ViewBag.Title = "GetReviewComplaints";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    DateTime dt;
}

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #CompliantsTable span {
        display: none;
    }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

<h2>Resolve: Complaints Tracker</h2>

@if (ViewBag.Message != null)
{
<script type="text/javascript">
        $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}

<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />
    <input type="hidden" id="ComplaintsGridCount" value="@ViewBag.ComplaintsGridCount" name="ComplaintsGridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" style="width:100%" id="CompliantsTable">
        @if (Model.Rows.Count == 0 || ViewBag.ComplaintsGridCount == 1)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" id="Compliants-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;

                        }

                    }


                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                    </td>
                                }
                                else
                                {

                                    if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                    {

                                        bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                        if (isDate == true)
                                        {

                                            string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                            <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                        }
                                        else
                                        {

                                            <td>@row[col.ColumnName]</td>

                                        }
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }




                                }
                                columnCount++;


                            }

                            <td>

                                <a href="@Url.Action("EditComplaintsTracker", "Home", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,EditViewType="View",ActionName=ViewBag.ActionName })">   View</a>


                            </td>
                        }




                    </tr>
                }
            </tbody>
        }


    </table>
    <div style="margin-left:45%">
        <button type="button" id="btnComplaintsDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        <button type="button" id="btnUnresolved" class="btn btn-primary">
            <span>  Unresolved  </span>
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($('#ComplaintsGridCount').val() == 1 || PageCount == 0) {

            $("#btnComplaintsDownload").hide();
            $("#btnUnresolved").hide();

        }
        else {
            var columnCount = $('#CompliantsTable th').length - 1;
            $('#CompliantsTable').DataTable({
                pageLength: 20,
                order: [],
                columnDefs: [{ orderable: false, targets: [0, columnCount] }]
            });

            $(".dataTables_length").css("display", "block");
            $("#CompliantsTable_length label").remove();


            $("#CompliantsTable_length").append("<span>Total Count : " + PageCount + '</span>');
        }




        $('#Compliants-select-all').on('click', function () {

            var rows = $("#CompliantsTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

            $('input[type="checkbox"]').prop('checked', this.checked);
        });


        $('#CompliantsTable tbody').on('change', 'input[type="checkbox"]', function () {

            var tableRow = $("#CompliantsTable tbody tr");
            var tdataCount = tableRow.length;
            var checkCount = 0;
            if (this.checked) {


                $('#CompliantsTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        checkCount += 1;
                    });
                });

                if (tdataCount == checkCount) {
                    $('#Compliants-select-all').prop("checked", true);

                }
            }
            else {
                $('#Compliants-select-all').prop("checked", false);
            }
        });

        $("#btnComplaintsDownload").click(function () {

            DownloadOrReolveOperations("Download");
        });

        $("#btnUnresolved").click(function () {

            DownloadOrReolveOperations("Unresolve");

        });

        function DownloadOrReolveOperations(operationType) {

            var selectedData = [];
            let selectedCount = 0;

            $('#CompliantsTable tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                    document.location = '@Url.Action("DownloadCompliantsTracker", "Home")?selectedData=' + selectedData + '&Type=Yes&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;
                }
                else {
                    $("#btnComplaintsDownload").attr("disabled", "disabled");
                    document.location = '@Url.Action("UpdateCompliantStatus", "Home")?selectedData=' + selectedData;

                }

            }

        }
    });
</script>