﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CCS Tracker Application-Login Unsuccessful</title>
</head>
<body>
    <div>
        <h1>User authentication unsuccessful</h1>
        <p>

        </p>
        <p>You are not authorized to access this application.</p>
        <p>
            Please reach out to your reporting manager!
        </p>
    </div>
</body>
</html>
