﻿@using CountryWide.Utility
@model CountryWide.Models.CardPaymentRequests.CardPaymentRequestsModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Home Page";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">

        $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });

</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Card Payment-Requests: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Card Payment-Requests: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateCardPaymentRequest", "CardPaymentRequests", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachedFile" />
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachedFile != "" && Model.AttachedFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadCardPaymentRequestFile", "CardPaymentRequests", new { Filepath = Model.AttachedFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachedFile</a>
                }

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterID" readonly="readonly" name="MatterID" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterID" />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name (Full Name)</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" readonly="readonly" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Client name" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Contact Numbers</label>
            <div class="col-md-8">
                <input class="form-control" id="ContactNumber" maxlength="50" oninput="this.setCustomValidity('');" oninvalid="this.setCustomValidity('Please Enter Contact Numbers')" required="required" name="ContactNumber" placeholder="Enter Contact Number" title="" type="text" value="@Model.ContactNumber" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date & Time To Call</label>
            <div class="col-md-8">
                <input type="datetime-local" class="form-control inputstl" required="required" id="DateTimeToCall" onkeydown="return false;" name="DateTimeToCall" min="@(Model.DateTimeToCall.ToString("yyyy-MM-ddTHH:mm"))" placeholder="Select Date" value="@(Model.DateTimeToCall.ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="Amount" name="Amount" min="0" oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Amount" onkeypress="return isNumberKey(event)" title="" value="@Convert.ToInt64(Model.Amount)" />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">Reason for Payment</label>
            <div class="col-md-8 dropdown">
                <textarea class="form-control rounded-0" id="PaymentReason" name="PaymentReason" rows="10">@Model.PaymentReason</textarea>
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">Payment Taken</label>
            <div class="col-md-8 dropdown">
                <input id="PaymentTaken" name="PaymentTaken" type="checkbox" value="true" @(Model.PaymentTaken != null && Model.PaymentTaken.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">(CA only) Unable to contact</label>
            <div class="col-md-8 dropdown">
                <input id="UnableToContact" name="UnableToContact" type="checkbox" value="true" @(Model.UnableToContact != null && Model.UnableToContact.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">CA (Only) Notes</label>
            <div class="col-md-8 dropdown">
                <textarea class="form-control rounded-0" id="CANotes" name="CANotes" rows="10">@Model.CANotes</textarea>
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Requestor Name</label>
            <div class="col-md-8 dropdown">
                <input class="form-control" type="text" id="RequesterName" maxlength="50" oninvalid="this.setCustomValidity('Please Enter Requestor Name')" oninput="this.setCustomValidity('')" required="required" name="RequesterName" placeholder="Enter Requester Name" title="" value="@Model.RequesterName" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">I confirm that the client is expecting the call </label>
            <div class="col-md-8">
                <label>
                    <input type="radio" id="ClientIsExpectingCall" oninvalid="this.setCustomValidity('Please Select I confirm that the client is expecting the call')" oninput="this.setCustomValidity('')" required="required" name="ClientIsExpectingCall" title="" />
                    Confirmed
                </label>

            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"CardPaymentRequests", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["CardPaymentViewName"]  })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">
                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewCardPaymentRequests","CardPaymentRequests", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["CardPaymentViewName"]   })" class="btn btn-info"> Close</a>

            </div>
        </div>



    }
</div>




<script type="text/javascript">

    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });


    $(".row input").not("input[type=text],textarea,number, select").attr("readonly", "readonly");
    $(".row input,select,textarea,number").attr("disabled", "disabled");



    $("#btnEdit").click(function () {

        $(".row input").not("select").removeAttr("readonly", "readonly");
        $(".row input,number,select,textarea,number").removeAttr("disabled", "disabled");
        $("#MatterID").attr("readonly", "readonly");
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>



