﻿@using System.Data
@model DataTable
@using CountryWide.Utility

@{
    ViewBag.Title = "GetReviewPanelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #PanelFormTable span {
        display: none;
    }
</style>

<h2>Review: Panel Form</h2>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}

<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />
    <input type="hidden" id="PanelFormGridCount" value="@ViewBag.PanelFormGridCount" name="PanelFormGridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" id="PanelFormTable">
        @if (Model.Rows.Count == 0 || ViewBag.PanelFormGridCount == 1)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" id="PanelForm-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;
                        }
                    }
                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                    </td>
                                }
                                else
                                {
                                    <td>@row[col.ColumnName]</td>

                                }
                                columnCount++;


                            }

                            <td>

                                <a href="@Url.Action("EditPanelForm", "PanelForm", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,EditViewType="Edit" })">   View</a>


                            </td>
                        }




                    </tr>
                }


            </tdata>
        }
    </table>
    <div style="margin-left:45%">
        <button type="button" id="btnPanelFormDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        @if (getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_Gen)
        {
            <button type="button" id="btnDelete" class="btn btn-primary">
                <span>  Delete  </span>
            </button>
        }
    </div>
</div>
<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($('#PanelFormGridCount').val() == 1 || PageCount == 0) {

            $("#btnPanelFormDownload,#btnDelete").hide();
        }
        else {
            var columnCount = $('#PanelFormTable th').length - 1;
            $('#PanelFormTable').DataTable({
                pageLength: 20,
                order: [],
                columnDefs: [{ orderable: false, targets: [0, columnCount] }]
            });

            $(".dataTables_length").css("display", "block");
            $("#PanelFormTable_length label").remove();

            $("#PanelFormTable_length").append("<span>Total Count : " + PageCount + '</span>');

        }



        $('#PanelForm-select-all').on('click', function () {

            // Check/uncheck all checkboxes in the table
            var rows = $("#PanelFormTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

            $('input[type="checkbox"]').prop('checked', this.checked);
        });



        $('#PanelFormTable tbody').on('change', 'input[type="checkbox"]', function () {

            var tableRow = $("#PanelFormTable tbody tr");
            var tdataCount = tableRow.length;
            var checkCount = 0;
            if (this.checked) {


                $('#PanelFormTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        checkCount += 1;
                    });
                });

                if (tdataCount == checkCount) {
                    $('#PanelForm-select-all').prop("checked", true);

                }
            }
            else {
                $('#PanelForm-select-all').prop("checked", false);
            }
        });



        $("#btnPanelFormDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnDelete").click(function () {

            DownloadOrDeleteOperations("Delete");
        });

          function DownloadOrDeleteOperations(operationType) {

            var selectedData = [];
            let selectedCount = 0;

              $('#PanelFormTable tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                  document.location = '@Url.Action("DownloadPanelForm", "PanelForm")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }
                else {
                    $("#btnPanelFormDownload").attr("disabled", "disabled");
                    document.location = '@Url.Action("DeletePanelForm", "PanelForm")?selectedData=' + selectedData + '&DeleteType=Delete&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }

            }

        }
    });
</script>

