﻿@using CountryWide.Utility
@model CountryWide.Models.CompletionDiary.CompletionDiaryModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Completion Diary";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="~/JS/CompletionDiary.js"></script>

<div class="container">
    <h1>
        Completion Diary: New Item
    </h1>
    <br />
    <input type="text" style="display:none;" id="hdmMatterNumber" name="hdmMatterNumber" />

    @using (Html.BeginForm("NewCompletionDiary", "CompletionDiary", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        foreach (var data in Model.DynamicCreateScreenList)
        {
            switch (data.ColumnAliasName)
            {
                case "Matter Number":
                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Matter number</label>
                        <div class="col-md-8">


                            <input class="form-control" id="MatterNumber" maxlength="20" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

                        </div>
                    </div>

                    break;

                case "Team":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Team</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                        </div>
                    </div>
                    break;
                case "Client Surname":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Client Surname</label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="ClientSurname" maxlength="20" name="ClientSurname" oninvalid="this.setCustomValidity('Please Enter Client Surname')" oninput="this.setCustomValidity('')" required="required">

                        </div>
                    </div>
                    break;
                case "Matter Type":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Matter Type</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(M => M.MatterTypeID, Model.MatterTypeList, "Select Matter Type", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Matter Type')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                        </div>
                    </div>
                    break;
                case "Expected Completion Date":

                    <div class="row form-group required">
                        <label class="col-md-4 control-label">Expected Completion Date</label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="date" class="form-control inputstl" id="ExpectedCompletionDate" oninvalid="this.setCustomValidity('Please Select Expected Completion Date')" oninput="this.setCustomValidity('')" required="required" name="ExpectedCompletionDate" min="2000-01-01" onkeydown="return false;" placeholder="Select Expected Completion Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                        </div>
                    </div>
                    break;
                case "Pack Received":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">Pack Received</label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="PackReceived" maxlength="50" name="PackReceived" placeholder="Please Enter Pack Received">

                        </div>
                    </div>
                    break;
                case "Pack checked":

                    <div class="row form-group ">
                        <label class="col-md-4 control-label">
                            Pack checked
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="PackChecked" maxlength="50"  name="PackChecked" placeholder="Please Enter Pack Checked">

                        </div>
                    </div>
                    break;
                case "CA Notes / Amendments":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            CA Notes / Amendments
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="CANotes_Amendments" maxlength="50"  name="CANotes_Amendments" placeholder="Please Enter CA Notes / Amendments">

                        </div>
                    </div>
                    break;
                case "VF Imported Notes":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            VF Imported Notes
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="VFImportedNotes" name="VFImportedNotes" maxlength="50"  placeholder="Please Enter VF Imported Notes">

                        </div>
                    </div>
                    break;
                case "Can Go":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Can Go
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="CanGo" name="CanGo" placeholder="Please Enter Can Go" maxlength="50" >

                        </div>
                    </div>
                    break;
                case "Sent for Authorisation":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Sent for Authorisation
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="SentForAuthorisation" name="SentForAuthorisation" maxlength="50"  placeholder="Please Enter Sent for Authorisation">

                        </div>
                    </div>
                    break;
                case "Sent":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Sent
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">

                            <input type="text" class="form-control" id="Sent" name="Sent" placeholder="Please Enter Sent" maxlength="50" >

                        </div>
                    </div>
                    break;
                case "Legally completed":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Legally completed
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="date" class="form-control inputstl" id="LegallyCompleted"  name="LegallyCompleted" min="2000-01-01" onkeydown="return false;" placeholder="Select Legally completed"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                        </div>
                    </div>
                    break;
                case "SLR Billed":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            SLR Billed
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            @Html.CheckBox("SLRBilled", false)
                        </div>
                    </div>
                    break;
                case "Healthcheck":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Health check
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            @Html.CheckBox("Healthcheck", false)
                        </div>
                    </div>
                    break;
                case "Centre":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Centre
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="Center" name="Center" placeholder="Please Enter Centre" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Created":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Created
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="date" class="form-control inputstl" id="Created" name="Created" min="2000-01-01" onkeydown="return false;" placeholder="Select Created"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                        </div>
                    </div>
                    break;
                case "Transaction Type":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Transaction Type
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="TransactionType" name="TransactionType" placeholder="Please Enter TransactionType" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Modified":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Modified
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="date" class="form-control inputstl" id="Modified" name="Modified" min="2000-01-01" onkeydown="return false;" placeholder="Select Modified"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                        </div>
                    </div>
                    break;
                case "Created By":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Created By
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="CreatedBy" name="CreatedBy" maxlength="50"  placeholder="Please Enter Created By" />

                        </div>
                    </div>
                    break;
                case "Checked By":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Checked By
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="CheckedBy" name="CheckedBy" placeholder="Please Enter Checked By" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Comp Month":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Comp Month
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="CompMonth" name="CompMonth" placeholder="Please Enter Comp Month" readonly="readonly" />

                        </div>
                    </div>
                    break;
                case "Matter Number (linked to item)":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Matter Number (linked to item)
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="MatterNumberLinked" name="MatterNumberLinked" maxlength="20"  placeholder="Please Enter Matter Number (linked to item)" />

                        </div>
                    </div>
                    break;
                case "Modified By":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Modified By
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="ModifiedBy" name="ModifiedBy" maxlength="50"  placeholder="Please Enter Modified By" />

                        </div>
                    </div>
                    break;
                case "Version":

                    <div class="row form-group">
                        <label class="col-md-4 control-label">
                            Version
                        </label>

                        <div class="col-sm-4 col-md-8 input-group date">
                            <input type="text" class="form-control" id="Version" name="Version" placeholder="Please Enter Version" value="1" readonly="readonly" />

                        </div>
                    </div>
                    break;
            }
        }




        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>Ok</span>
                </button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>

<script>

    $("#MatterNumber,#MatterTypeID").change(function () {

        var getMatterNumber = $("#MatterNumber").val().trim();
        var getMatterType = $("#MatterTypeID option:selected").val();


        if (getMatterNumber != "" && getMatterType != "") {
            var ldata;
            $.ajax({
                url: "@Url.Action("MatterNumberAndMatterTypeExistOrNot", "CompletionDiary")",
                data: { Matternumber: getMatterNumber, MatterType: getMatterType },
                type: 'GET',
                dataType: "json",
                success: function (response) {
                    var ischecked = "";
                    ldata = parseInt(response);
                    $("#hdmMatterNumber").val(ldata);

                   MatterNumberexistedOrNot(ldata);
                }
            });
        }
    })



    $("#btnSubmit").click(function () {

        var getMatterNumber = $("#MatterNumber").val().trim();
        var getMatterType = $("#MatterTypeID option:selected").val();


        var result = true;

         if (getMatterNumber != "") {
            var ldata;
            $.ajax({
                url: "@Url.Action("MatterNumberAndMatterTypeExistOrNot", "CompletionDiary")",
                data: { Matternumber: getMatterNumber, MatterType: getMatterType },
                type: 'GET',
                dataType: "json",
                success: function (response) {
                    var ischecked = "";
                    ldata = parseInt(response);
                    if (ldata > 0) {
                        result = false;
                    }
                    else {
                        result = true;
                    }
                },
                async: false
            });
        }
        if (result == false) {
            ShowMessage("There is already one record existing with selected Matter Number and Matter Type combination. You are not allowed to create duplicate records. Instead, please select existing records and update");
        }
        return result;


    });

 
    function MatterNumberexistedOrNot(countNumber) {
        if (countNumber > 0) {
            ShowMessage("There is already one record existing with selected Matter Number and Matter Type combination. You are not allowed to create duplicate records. Instead, please select existing records and update");
            return false;
        }
    }

</script>



