﻿@using CountryWide.Utility
@model CountryWide.Models.HighValueIndemnity.HighValueIndemnityModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Home Page";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<div class="container">
    <h1>
        High Value Indemnity: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewHighValueIndemnity", "HighValueIndemnity", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" name="MatterNumber"  oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">

                <input class="form-control" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" />

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @if (Model.CenterID != 0)
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Address</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="PropertyAddress" name="PropertyAddress" rows="10" oninvalid="this.setCustomValidity('Please Enter Property Address')" oninput="this.setCustomValidity('')" required="required">@Model.PropertyAddress</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Exchange Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="ExchangeDate" name="ExchangeDate" onchange="this.CheckDates()" oninvalid="this.setCustomValidity('Please Select Exchange Date')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Exchange Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="CompletionDate"  name="CompletionDate" oninvalid="this.setCustomValidity('Please Select Completion Date')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Completion Date" value="@DateTime.Now.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Price</label>
            <div class="col-md-8">
                <input class="form-control text" type="number" id="PropertyPrice"  oninvalid="this.setCustomValidity('Please Enter Property Price')" oninput="this.setCustomValidity('')" name="PropertyPrice" min="0" required="required" placeholder="Enter Property Price" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Premium IP Amount</label>
            <div class="col-md-8">
                <input class="form-control text" type="number" id="PremiumIPAmount" name="PremiumIPAmount" oninvalid="this.setCustomValidity('Please Enter Premium IP Amount')" oninput="this.setCustomValidity('')" min="0" required="required" placeholder="Enter Premium IP Amount" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Fee Earner</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" maxlength="50" id="FeeEarner" name="FeeEarner" onchange="this." oninvalid="this.setCustomValidity('Please Enter Fee Earner')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Fee Earner" title="" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CA Only</label>
            <div class="col-md-8">
                @Html.CheckBox("CAOnly", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Notes</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" id="Notes" name="Notes" placeholder="Enter Notes" title="" />
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary" onclick="return CheckDates('Completion date cannot be less than Exchange Date');">
                    <span>  Ok</span>
                </button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>
<script type="text/javascript">
    $('#ExchangeDate,#CompletionDate').change(function () {
        if ($(this).attr("name") == "ExchangeDate") {
            CheckDates("Exchange Date cannot be greater than Completion Date");
        }
        else {
            CheckDates("Completion date cannot be less than Exchange Date");

        }

    });

    function CheckDates(alertMessage) {
        var getExchangeDate = new Date($('#ExchangeDate').val());

        var getCompletionDate = new Date($('#CompletionDate').val());

        if (getExchangeDate != null && getCompletionDate != null && (getExchangeDate > getCompletionDate)) {

            ShowMessage(alertMessage);

            return false;
        } else {
            return true;
        }

    }
</script>


