﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    


}

@model CountryWide.Models.Admin.AdminModel

<div class="container">
    <h1>
        Add User
    </h1>
    <br />
    @using (Html.BeginForm("NewUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="Action" id="Action" value="@ViewBag.Action" />
        @Html.HiddenFor(model=>model.Id)
        <div class="row form-group required">
            <label class="col-md-4 control-label">User</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.UserId, Model.UserList, "Select User", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select User')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Role</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.RoleId, Model.RoleList, "Select Role", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Role')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
          


        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>Ok</span>
                </button>


                <a href="@Url.Action("GetReviewUsers","Admin")" class="btn btn-info"> Cancel</a>

            </div>
        </div>

    }
</div>