﻿@using System.Data
@model DataTable
@using CountryWide.Utility



@{
    ViewBag.Title = "GetReviewComplaints";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime dt;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

}

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #DissatisfactionTable span {
        display: none;
    }
</style>

<h2>Review: Dissatisfaction Tracker</h2>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />

    <input type="hidden" id="GridCount" value="@ViewBag.GridCount" name="GridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" id="DissatisfactionTable">
        @if (Model.Rows.Count == 0 || ViewBag.GridCount == 1)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" id="Dissatisfaction-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;

                        }

                    }


                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                    </td>
                                }
                                else
                                {

                                    if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                    {

                                        bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                        if (isDate == true)
                                        {

                                            string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                            <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                        }
                                        else
                                        {

                                            <td>@row[col.ColumnName]</td>

                                        }
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }




                                }
                                columnCount++;

                            }

                            <td>

                                <a href="@Url.Action("EditDissatisfactionTracker", "Dissatisfaction", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,EditViewType="Edit" })">   View</a>


                            </td>
                        }

                    </tr>
                }


            </tdata>
        }


    </table>

    <div style="margin-left:45%">
        <button type="button" id="btnDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        @if (getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Gen)
        {
            <button type="button" id="btnDelete" class="btn btn-primary">
                <span>  Delete  </span>
            </button>
        }
        </div>

</div>

<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($("#GridCount").val() == 1 || PageCount == 0) {

            $("#btnDownload,#btnDelete").hide();
        }
        else {
            var columnCount = $('#DissatisfactionTable th').length - 1;


            $('#DissatisfactionTable thead tr').clone(true).appendTo('#DissatisfactionTable thead');
            $('#DissatisfactionTable thead tr:eq(1) th').each(function (i) {

                if (i != 0 && columnCount != i) {

                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table.column(i).search(this.value).draw();
                        }
                    });
                }

            });

            var table = $('#DissatisfactionTable').DataTable({
                pageLength: 20,
                order: [],
                columnDefs: [{ orderable: false, targets: [0, columnCount] }],
                orderCellsTop: true,
                fixedHeader: true
            });

            $("#DissatisfactionTable thead tr:eq(1) th:last-child").text("");
            $("#DissatisfactionTable thead tr:eq(1) th:first-child input").remove();

            $(".dataTables_length").css("display", "block");
            $("#DissatisfactionTable_length label").remove();

            $("#DissatisfactionTable_length").append("<span>Total Count : " + PageCount + '</span>');

        }


        $('#Dissatisfaction-select-all').on('click', function () {

            // Check/uncheck all checkboxes in the table
            var rows = $("#DissatisfactionTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

            $('input[type="checkbox"]').prop('checked', this.checked);
        });



        $('#DissatisfactionTable tbody').on('change', 'input[type="checkbox"]', function () {

            var tableRow = $("#DissatisfactionTable tbody tr");
            var tdataCount = tableRow.length;
            var checkCount = 0;
            if (this.checked) {


                $('#DissatisfactionTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        checkCount += 1;
                    });
                });

                if (tdataCount == checkCount) {
                    $('#Dissatisfaction-select-all').prop("checked", true);

                }
            }
            else {
                $('#Dissatisfaction-select-all').prop("checked", false);
            }
        });

        $("#btnDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnDelete").click(function () {

            DownloadOrDeleteOperations("Delete");
        });

          function DownloadOrDeleteOperations(operationType) {

            var selectedData = [];
            let selectedCount = 0;

              $('#DissatisfactionTable tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                  document.location = '@Url.Action("DownloadDissatisfactionTracker", "Dissatisfaction")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }
                else {
                    $("#btnDownload").attr("disabled", "disabled");
                    document.location = '@Url.Action("DeleteDissatisfactionTracker", "Dissatisfaction")?selectedData=' + selectedData + '&DeleteType=Delete&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }

            }

        }

    });
</script>