﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.DissatisfactionModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    <h1>
        Dissatisfaction Tracker: New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewDissatificationTracker", "Dissatisfaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>
       

        <div class="row form-group required">
            <label class="col-md-4 control-label">Received From</label>
            <div class="col-md-8">

                <input class="form-control" id="Receivedfrom" name="Receivedfrom" maxlength="50" oninvalid="this.setCustomValidity('Please Enter Received From')" oninput="this.setCustomValidity('')" @(Model.Receivedfrom != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Received From" title="" type="text" value="@Model.Receivedfrom" />

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Exec complaint?</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Execcomplaint, Model.NewCompliantModel.ExceCompliantList, "Select Complaint", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select complaint')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Source</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Source, Model.SourceList, "Select Source", new { @class = "form-control selectpicker" })
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Date received</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="Datereceived" name="Datereceived" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@DateTime.Now.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Matter Number</label>
            <div class="col-md-8">
                  <input class="form-control" id="MatterNumberID" name="MatterNumberID" required="required"  value="@Model.MatterNumberID" readonly="readonly" placeholder="Matter Number" title="" type="text" oninvalid="this.setCustomValidity('Please enter customer matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumberID != null ? "readonly=\"readonly\"" : "") />


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">ABS</label>
            <div class="col-md-8">
                <input id="ABS" name="ABS" type="checkbox" value="true" @(Model.ABS != null && Model.ABS.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("ABS", false)*@
                <br />
                <span>Is this an ABS matter?</span>
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Center</label>
            <div class="col-md-8 dropdown">
                @if (Model.CenterID != 0)
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

                }
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @if (Model.TeamID != 0)
                {
                    @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.TeamID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

                }
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Subsidiary / Branch</label>
            <div class="col-md-8">

                <input class="form-control" id="SubsidaryBranch" name="SubsidaryBranch" maxlength="50" oninvalid="this.setCustomValidity('Please Enter Subsidary/Branch')" oninput="this.setCustomValidity('')" @(Model.SubsidaryBranch != null ? "readonly=\"readonly\"" : "")  placeholder="Enter Subsidary/Branch" title="" type="text" value="@Model.SubsidaryBranch" />

               
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Region</label>
            <div class="col-md-8 dropdown" required>
                @if (Model.RegionID != null)
                {
                    @Html.DropDownListFor(M => M.RegionID, Model.RegionList, "Select Region", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.RegionID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.RegionID, Model.RegionList, "Select Region", new { @oninvalid = "this.setCustomValidity('Please Select Region')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

                }
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Attributed to?</label>
            <div class="col-md-8">
                <input class="form-control" id="AttributedTo" maxlength="50" name="AttributedTo" title="" type="text" value="@Model.AttributedTo" />
                <span>This should be the person the complainant is expressing dissat about</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Key areas of dissat</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="KeyareaStr" name="KeyareaStr" rows="10">@Model.KeyareaStr</textarea>

                <span>This should be the dissatisfaction as the complainant sees it, not root cause.</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">UD-Updates</label>
            <div class="col-md-8">
                <input id="UpdatesUD" name="UpdatesUD" type="checkbox" value="true" @(Model.UpdatesUD != null && Model.UpdatesUD.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("UD_Updates", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PPW-Paperwork went missing</label>
            <div class="col-md-8">
                <input id="PPW_PaperworkWentMissing" name="PPW_PaperworkWentMissing" type="checkbox" value="true" @(Model.PPW_PaperworkWentMissing != null && Model.PPW_PaperworkWentMissing.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("PPW_Paperwork", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">TS-OC not happy with timescales</label>
            <div class="col-md-8">
                <input id="TS_OCNotHappyWithTimescales" name="TS_OCNotHappyWithTimescales" type="checkbox" value="true" @(Model.TS_OCNotHappyWithTimescales != null && Model.TS_OCNotHappyWithTimescales.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("TS_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">ERR-Errors on paperwork</label>
            <div class="col-md-8">
                <input id="ERR_ErrorsOnPaperwork" name="ERR_ErrorsOnPaperwork" type="checkbox" value="true" @(Model.ERR_ErrorsOnPaperwork != null && Model.ERR_ErrorsOnPaperwork.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("ERR_Errors", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CB-Call backs not returned</label>
            <div class="col-md-8">
                <input id="CB_CallBacksnotReturned" name="CB_CallBacksnotReturned" type="checkbox" value="true" @(Model.CB_CallBacksnotReturned != null && Model.CB_CallBacksnotReturned.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("CB_Call", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">LOC-OC preferred a local service</label>
            <div class="col-md-8">
                <input id="LOC_OCPreferredalocalservice" name="LOC_OCPreferredalocalservice" type="checkbox" value="true" @(Model.LOC_OCPreferredalocalservice != null && Model.LOC_OCPreferredalocalservice.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("LOC_OC", false)*@
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">WEB-Website issues</label>
            <div class="col-md-8">
                <input id="WebsiteIssues" name="WebsiteIssues" type="checkbox" value="true" @(Model.WebsiteIssues != null && Model.WebsiteIssues.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("WEB_Website", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INC-OC told incorrect things</label>
            <div class="col-md-8">
                <input id="INC_OCToldIncorrectThings" name="INC_OCToldIncorrectThings" type="checkbox" value="true" @(Model.INC_OCToldIncorrectThings != null && Model.INC_OCToldIncorrectThings.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("INC_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PLS-Hard to speak to PL</label>
            <div class="col-md-8">
                <input id="PLS_HardToSpeakToPL" name="PLS_HardToSpeakToPL" type="checkbox" value="true" @(Model.PLS_HardToSpeakToPL != null && Model.PLS_HardToSpeakToPL.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("PLS_Hard", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">EA-EA said it would take less time</label>
            <div class="col-md-8">
                <input id="EA_EASaidItWouldTakeLessTime" name="EA_EASaidItWouldTakeLessTime" type="checkbox" value="true" @(Model.EA_EASaidItWouldTakeLessTime != null && Model.EA_EASaidItWouldTakeLessTime.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("EA_EA", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">COMP-Error at completion</label>
            <div class="col-md-8">
                <input id="COMP_ErrorAtCompletion" name="COMP_ErrorAtCompletion" type="checkbox" value="true" @(Model.COMP_ErrorAtCompletion != null && Model.COMP_ErrorAtCompletion.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("COMP_Error", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">POC-Fewer points of contact</label>
            <div class="col-md-8">
                <input id="POC_FewerPointsOfContact" name="POC_FewerPointsOfContact" type="checkbox" value="true" @(Model.POC_FewerPointsOfContact != null && Model.POC_FewerPointsOfContact.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("POC_Fewer", false)*@
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CW-Long call waits</label>
            <div class="col-md-8">
                <input id="CW_LongCallWaits" name="CW_LongCallWaits" type="checkbox" value="true" @(Model.CW_LongCallWaits != null && Model.CW_LongCallWaits.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("CW_Long", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INF-Asked for information already provided</label>
            <div class="col-md-8">
                <input id="INF_OCAskedForInformedAlreadyProvided" name="INF_OCAskedForInformedAlreadyProvided" type="checkbox" value="true" @(Model.INF_OCAskedForInformedAlreadyProvided != null && Model.INF_OCAskedForInformedAlreadyProvided.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("INF_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">RUD-Client was spoken to rudely</label>
            <div class="col-md-8">
                <input id="RUD_OCWasSpokenToRudely" name="RUD_OCWasSpokenToRudely" type="checkbox" value="true" @(Model.RUD_OCWasSpokenToRudely != null && Model.RUD_OCWasSpokenToRudely.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("RUD_OC", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">SDLT</label>
            <div class="col-md-8">
                <input id="Sdlt" name="Sdlt" type="checkbox" value="true" @(Model.Sdlt != null && Model.Sdlt.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("SDLT", false)*@
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">ALL - Delays allocating to VF/Team/PL</label>
            <div class="col-md-8">
                <input id="ALLDelaysallocatingtoVFTeamPL" name="ALLDelaysallocatingtoVFTeamPL" type="checkbox" value="true" @(Model.ALLDelaysallocatingtoVFTeamPL != null && Model.ALLDelaysallocatingtoVFTeamPL.Value ? "checked=\"checked\"" : "") />
                @*@Html.CheckBox("AllDelays", false)*@
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">Transaction status</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Transactionstatus, Model.NewCompliantModel.TransactionstatusList, "Select Transaction Status", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Has note been added to critical to confirm dissatisfaction?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Hasnotebeenaddedtocriticaltoconfirmdissatisfaction, "true") Yes</label>
                    @*<label><input type="radio" name="confirmdissatisfaction" value="1" checked>Yes</label>*@
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Hasnotebeenaddedtocriticaltoconfirmdissatisfaction, "false") No</label>
                    @*<label><input type="radio" name="confirmdissatisfaction" value="0">No</label>*@

                </div>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Ensure team manager is aware of dissat</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Ensureteammanagerisawareofdissat, "true") Yes</label>
                    @*<label><input type="radio" name="Ensureteammanager" value="1">Yes</label>*@
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Ensureteammanagerisawareofdissat, "false") No</label>
                    @*<label><input type="radio" name="Ensureteammanager" value="0" checked>No</label>*@

                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Send TCF examples to Mel Beatty</label>
            <div class="col-md-8">
                <input id="SendTCFexamplestoMelBeatty" name="SendTCFexamplestoMelBeatty" type="checkbox" value="true" @(Model.SendTCFexamplestoMelBeatty != null && Model.SendTCFexamplestoMelBeatty.Value ? "checked=\"checked\"" : "") />
                @*   @Html.CheckBox("SendTCF", false)*@
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">CET Check</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.CETCheck, Model.NewCompliantModel.CETCheckList, "Select CET Check", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select cet check')", @oninput = "this.setCustomValidity('')" })

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Resolution</label>
            <div class="col-md-8">
                <input class="form-control" id="Resolution" maxlength="200" name="Resolution" placeholder="Enter Resolution" title="" type="text" value="@Model.Resolution" />
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Single / Multi</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.SingleMultiId, Model.NewCompliantModel.SingleMultiList, "Select Value", new { @required= "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select Agency')", @oninput = "this.setCustomValidity('')" })

                <span>Just CCS or multiple agency?</span>
            </div>
        </div>

        @*<div class="row form-group">
            <label class="col-md-4 control-label">Name</label>
            <div class="col-md-8">
                <input class="form-control" id="Name" maxlength="30" name="Name" title="" type="text" value="@Model.Name" />
            </div>
        </div>*@
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }


</div>




<script type="text/javascript">

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }



    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>



