﻿@using CountryWide.Utility
@model CountryWide.Models.BridgeControl.BridgeControlModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Home Page";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<div class="container">
    <h1>
        Bridge Control: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewBridgeControl", "BridgeControl", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="AttachFile" name="AttachFile">
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Date Auth</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="DateAuth" name="DateAuth" onchange="this.CheckDates()" oninvalid="this.setCustomValidity('Please Select Date Auth')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date Auth"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Submitted By</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" id="SubmittedBy" name="SubmittedBy" onchange="this." oninvalid="this.setCustomValidity('Please Enter Submitted By')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Submitted by" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @if (Model.CenterID != 0)
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(M => M.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" id="Team" name="Team" onchange="this." oninvalid="this.setCustomValidity('Please Enter Team')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Team" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">


                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">


                <input class="form-control" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Category</label>
            <div class="col-md-8">
                    @Html.DropDownListFor(M => M.CategoryID, Model.CategoryList, "Select Category", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Category')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Matter Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="MatterCompletionDate" name="MatterCompletionDate" onchange="this.CheckDates()" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Matter Completion Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control text" type="number" id="Amount" name="Amount" oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" min="0" required="required" placeholder="Enter Amount" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Risk</label>
            <div class="col-md-8">
                    @Html.DropDownListFor(M => M.RiskId, Model.RiskList, "Select Risk", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Risk')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Explanation</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Explanation" name="Explanation" rows="10" oninvalid="this.setCustomValidity('Please Enter Explanation')" oninput="this.setCustomValidity('')" required="required">@Model.Explanation</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Action To Recover Funds</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="ActiontoRecoverFunds" name="ActiontoRecoverFunds" rows="10" oninvalid="this.setCustomValidity('Please Enter Action to Recover Funds')" oninput="this.setCustomValidity('')" required="required">@Model.ActiontoRecoverFunds</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Expected Date of Return</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="ExpectedDateofReturn" name="ExpectedDateofReturn" onchange="this.CheckDates()"  min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2050-01-01" onkeydown="return false;" placeholder="Select Exchange Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Authorised By</label>
            <div class="col-md-8">
                <input class="form-control text" type="text" id="Authorisedby" name="Authorisedby" onchange="this." oninvalid="this.setCustomValidity('Please Enter Authorised by')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Authorised by" title="" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Comments</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Comments" name="Comments" rows="10">@Model.Comments</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Outstanding</label>
            <div class="col-md-8">
                <input class="form-control text" type="number" id="Outstanding" name="Outstanding" oninvalid="this.setCustomValidity('Please Enter Outstanding Amount')" oninput="this.setCustomValidity('')" min="0" required="required" placeholder="Enter Outstanding Amount" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Date Repaid</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="DateRepaid" name="DateRepaid"  min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date Repaid" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Date of next update </label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="Dateofnextupdate" name="Dateofnextupdate" onchange="this.CheckDates()"  min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2050-01-01" onkeydown="return false;" placeholder="Select Exchange Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary" onclick="return CheckDates();">
                    <span>Ok</span>
                </button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>



