﻿
@{
    //ViewData["Title"] = "Home Page";
}

   
    <div>
        <label>Attach file: </label>
        <input type="file" id="Myfile" name="Myfile"/>
    </div>
<div >
    <input type="button" id="btnSaveData" name="SaveData" value="Save"/>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('#btnSaveData').click(function () {
            debugger
           // var path = 'D://DosFile.xls';
            window.location = '@Url.Action("ReadExcel","Home")?ExcelPath=' + 'D://DosFile.xls';
        })
    })
</script>
