﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditIndemnityPolicies";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.IndemnityPolicies.IndemnityPoliciesModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (ViewBag.Message != null)
{
<script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Indemnity Policies: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Indemnity Policies: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateIndemnityPolicies", "IndemnityPolicies", FormMethod.Post))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        @Html.HiddenFor(M => M.IsMatterNumberExisted)


        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" readonly="readonly" name="MatterNumber" required="required" title="" type="text" value="@Model.MatterNumber" oninvalid="this.setCustomValidity('Please enter matter number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select centre')", @oninput = "this.setCustomValidity('')" })
                @Html.HiddenFor(M => M.CenterID)
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Address</label>
            <div class="col-md-8">
                <input class="form-control" id="Address" name="Address" required="required" placeholder="Enter Address" title="" type="text" value="@Model.Address" oninvalid="this.setCustomValidity('Please enter address')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Premium</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="Premium" name="Premium" min="0" required="required" value="@Convert.ToInt32(Model.Premium)" placeholder="Enter Premium" onkeypress="return isNumberKey(event)" title="" oninvalid="this.setCustomValidity('Please enter premium')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Quote Number</label>
            <div class="col-md-8">
                <input class="form-control" id="QuoteNumber" name="QuoteNumber" required="required" placeholder="Enter Quote Number" title="" type="text" value="@Model.QuoteNumber" oninvalid="this.setCustomValidity('Please enter quote number')" oninput="this.setCustomValidity('')" />
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.StatusID, Model.StatusList, "Select Status", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select status')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="CompletionDate" name="CompletionDate" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@Model.CompletionDate.ToString("yyyy-MM-dd")" oninvalid="this.setCustomValidity('Please select completion date')" oninput="this.setCustomValidity('')"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>


        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"IndemnityPolicies", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["IndemnityPoliciesViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewIndemnityPolicies","IndemnityPolicies", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["IndemnityPoliciesViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>




<script type="text/javascript">


    $(".row input").not("select").attr("readonly", "readonly");
    $(".row select").attr("disabled", "disabled");



    $("#btnEdit").click(function () {

        $(".row input").not("select").removeAttr("readonly", "readonly");
        $(".row select").removeAttr("disabled", "disabled");

        //if ($("#IsMatterNumberExisted").val() == "True") {
        //    $("#MatterNumber").attr("readonly", "readonly");
        //    $("#CenterID").attr("disabled", "disabled");
        //}
        $("#MatterNumber").attr("readonly", "readonly");
        $("#divedit").hide();
        $("#divsave").show();


    });


    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>




