﻿@model CountryWide.Models.ClientToClientTransfersModel
@using CountryWide.Utility;

@{
    ViewBag.Title = "EditClientToClientTransfers";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Client To Client Transfers: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Client To Client Transfers: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateClientToClientTransfersTracker", "ClientToClientTransfers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <div class="row form-group required">
            <label class="col-md-4 control-label">From Matter Number</label>
            <div class="col-md-8">
                <input class="form-control textFromMatterNumber" id="MatterNumberFrom" oninvalid="this.setCustomValidity('Please Enter From Matter number')" oninput="this.setCustomValidity('')" required="required" readonly="readonly" name="MatterNumberFrom" placeholder="Enter Value" title="" type="text" value="@Model.MatterNumberFrom" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">To Matter Number</label>
            <div class="col-md-8">
                <input class="form-control textToMatterNumber" maxlength="20" oninvalid="this.setCustomValidity('Please Enter To Matter number')" oninput="this.setCustomValidity('')" required="required" id="MatterNumberTo" name="MatterNumberTo" placeholder="Enter Value" title="" type="text" value="@Model.MatterNumberTo" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount to be transferred</label>
            <div class="col-md-8">
                <input class="form-control textAmountToBeTransferred" oninvalid="this.setCustomValidity('Please Enter Amount to be transferred')" oninput="this.setCustomValidity('')" required="required" id="AmountTransfered" name="AmountTransfered" placeholder="Enter Value" title="" type="number" min="0" onkeypress="return isNumberKey(event)" value="@Convert.ToInt64(Model.AmountTransfered)" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason</label>
            <div class="col-md-8">
                <input class="form-control textReason" maxlength="200" oninvalid="this.setCustomValidity('Please Enter Reason')" oninput="this.setCustomValidity('')" required="required" id="Reason" name="Reason" placeholder="Enter Value" title="" type="text" value="@Model.Reason" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Transferred</label>
            <div class="col-md-8">
                <input id="Transferred" name="Transferred" type="checkbox" value="true" @(Model.Transferred != null && Model.Transferred.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"ClientToClientTransfers", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["ClientToClientViewName"]})" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                @*<button type="submit" id="btnSubmit" name="command" value="Resolve" class="btn btn-primary ">
                        <span>  Resolve  </span>
                    </button>*@

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewClientToClient","ClientToClientTransfers", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["ClientToClientViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>




<script type="text/javascript">

    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });


    $(".row input").not("input[type=text],select").attr("readonly", "readonly");
    $(".row input,select").attr("disabled", "disabled");



    $("#btnEdit").click(function () {

        $(".row input").not("select").removeAttr("readonly", "readonly");
        $(".row input,number,select").removeAttr("disabled", "disabled");
        $("#MatterNumberFrom").attr("readonly", "readonly");
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>



