﻿@model CountryWide.Models.ClientToClientTransfersModel
@using CountryWide.Utility

@{
    ViewBag.Title = "NewClientToClientTransfersTracker";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">
    <h1>
        Client To Client Transfers: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewClientToClientTransfersForm", "ClientToClientTransfers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="hidden" name="ID" id="ID" value="@Model.ID" />

        <div class="row form-group required">
            <label class="col-md-4 control-label">From Matter Number</label>
            <div class="col-md-8">
                <input class="form-control textFromMatterNumber" id="MatterNumberFrom" required="required" oninvalid="this.setCustomValidity('Please Enter From Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumberFrom != null ? "readonly=\"readonly\"" : "") name="MatterNumberFrom" placeholder="Enter Value" title="" type="text" value="@Model.MatterNumberFrom" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">To Matter Number</label>
            <div class="col-md-8">
                <input class="form-control textToMatterNumber" maxlength="20" oninvalid="this.setCustomValidity('Please Enter To Matter number')" oninput="this.setCustomValidity('')" required="required" id="MatterNumberTo" name="MatterNumberTo" placeholder="Enter Value" title="" type="text" value="@Model.MatterNumberTo" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount to be transferred</label>
            <div class="col-md-8">
                <input class="form-control textAmountToBeTransferred" type="number" id="AmountTransfered" name="AmountTransfered" min="0" oninvalid="this.setCustomValidity('Please Enter Amount to be transferred')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Value" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason</label>
            <div class="col-md-8">
                <input class="form-control textReason" maxlength="200" oninvalid="this.setCustomValidity('Please Enter Reason')" oninput="this.setCustomValidity('')" required="required" id="Reason" name="Reason" placeholder="Enter Value" title="" type="text" value="@Model.Reason" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Transferred</label>
            <div class="col-md-8">
                @Html.CheckBox("Transferred", false)
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>





<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>

