﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Errror.aspx.cs" Inherits="CountryWide.Errror" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>CCSTracker - Application not working</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Application not working:</h1>
            <p></p>
            <p>Dear User,</p>
            <p>There is an issue with application at the moment.</p>
            <p>Please contact Help desk for assistance.</p>
            <p></p>
        </div>
    </form>
</body>
</html>
