﻿@using CountryWide.Utility
@model CountryWide.Models.ThirdPartyCompliants.ThirdPartyCompliantsModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Home Page";

}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <h1>
        3rd Party Complaints Tracker: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewThirdPartyCompliants", "ThirdPartyCompliants", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" readonly="readonly" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Name of Complainant</label>
            <div class="col-md-8">

                <input class="form-control" id="ComplainantName" name="ComplainantName"  placeholder="Enter Name of Complainant"  type="text" />

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date Received</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="DateReceived" name="DateReceived" oninvalid="this.setCustomValidity('Please Select Date Received')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date Received" value="@DateTime.Now.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Exec Complaint</label>
            <div class="col-md-8 form-input">
                <select id="ExecComplaint" name="ExecComplaint" class="form-control" title="Please Select" required="required" oninvalid="this.setCustomValidity('Please Select Exec Complaint')" oninput="this.setCustomValidity('')">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">CCS Unresponsive</label>
            <div class="col-md-8">
                @Html.CheckBox("CCSUnresponsive", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CCS Raising repeated enquiries</label>
            <div class="col-md-8">
                @Html.CheckBox("CCSRaisingrepeatedEnquiries", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CCS not forwarding ppw in good time</label>
            <div class="col-md-8">
                @Html.CheckBox("CCSNotForwardingPPWinGoodTime", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CCS causing delays</label>
            <div class="col-md-8">
                @Html.CheckBox("CCSCausingDelays", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Source</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.SourceID, Model.SourceList, "Select Source ", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>
<script type="text/javascript">
    $('#ExchangeDate,#CompletionDate').change(function () {
        if ($(this).attr("name") == "ExchangeDate") {
            CheckDates("Exchange Date cannot be greater than Completion Date");
        }
        else {
            CheckDates("Completion date cannot be less than Exchange Date");

        }

    });

    function CheckDates(alertMessage) {
        var getExchangeDate = new Date($('#ExchangeDate').val());

        var getCompletionDate = new Date($('#CompletionDate').val());

        if (getExchangeDate != null && getCompletionDate != null && (getExchangeDate > getCompletionDate)) {

            ShowMessage(alertMessage);

            return false;
        } else {
            return true;
        }

    }
</script>


