﻿@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.SalesLeadsModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">

    <h1>
        Sales Leads: New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewSalesLeadsForm", "SalesLeads", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>


        <input type="hidden" name="ID" id="ID" value="@Model.ID" />


        <div class="row form-group required">
            <label class="col-md-4 control-label">Consultant</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.ConsultantId, Model.NewCompliantModel.ConsultantList, "Select Consultant", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Consultant')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Lead Received</label>
            <div class="col-md-8">

                <input type="date" class="form-control inputstl" id="LeadReceived" name="LeadReceived" oninvalid="this.setCustomValidity('Please Select Lead Received')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" onkeydown="return false" />

                @*<input type="date" class="form-control inputstl" id="LeadReceived" name="LeadReceived" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select Date" value="@(Model.LeadReceived).ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>*@

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Source</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.SourceID, Model.NewCompliantModel.SourceList, "Select Source", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Source')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team / Office</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.TeamOfficeId, Model.TeamOfficeList, "Select Team / Office", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team / Office')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Area</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.AreaID, Model.NewCompliantModel.AreaList, "Select Area", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Area')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Region</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.RegionId, Model.RegionList, "Select Region", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Region')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Brand</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.BrandId, Model.NewCompliantModel.BrandList, "Select Brand", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Brand')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Branch</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.BranchId, Model.NewCompliantModel.BranchList, "Select Branch", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Branch')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Referrer</label>
            <div class="col-md-8">

                <input class="form-control textReferrer" id="ReferrerText" name="ReferrerText" required="required" oninvalid="this.setCustomValidity('Please Enter Referrer')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.ReferrerText" maxlength="50" />

            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Transaction Type</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TransactionId, Model.NewCompliantModel.TransactionTypeList, "Select Transaction Type", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Name</label>
            <div class="col-md-8">
                <input type="text" class="form-control rounded-0" id="CustomerName" name="CustomerName" required="required" oninvalid="this.setCustomValidity('Please Enter Customer Name')" oninput="this.setCustomValidity('')" value="@(Model.CustomerName)" maxlength="50" />
            </div>
        </div>

        @*<div class="row form-group">
                <label class="col-md-4 control-label">Customer Mobile</label>
                <div class="col-md-8">
                    <input type="text" class="form-control rounded-0" id="CustomerMobile" name="CustomerMobile" value="@(Model.CustomerMobile)" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" maxlength="10" />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-4 control-label">Customer Email</label>
                <div class="col-md-8">
                    <input type="text" class="form-control rounded-0" id="CustomerEmail" name="CustomerEmail" value="@(Model.CustomerEmail)" maxlength="50" />
                </div>
            </div>*@
        <div class="row form-group">
            <label class="col-md-4 control-label">Property Price</label>
            <div class="col-md-8">
                @*<input type="text" class="form-control rounded-0" id="PropertyPrice" name="PropertyPrice" value="@(Model.PropertyPrice)" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" />*@
                <input type="text" class="form-control" id="PropertyPrice" name="PropertyPrice" value="@(Model.PropertyPrice)"  />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Next Follow Up Due</label>
            <div class="col-md-8">
                <input type="date" class="form-control inputstl" id="NextFollowUpDue" name="NextFollowUpDue" value="@Model.NextFollowUpDue" onkeydown="return false" />

                @* <input type="date" class="form-control inputstl" id="NextFollowUpDue" name="NextFollowUpDue" onkeydown="return false;" placeholder="Select Date" value="@(Convert.ToDateTime(Model.NextFollowUpDue).ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>*@

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Lead Status</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.LeadStatusId, Model.NewCompliantModel.LeadList, "Select Lead", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Lead Status')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Pending Reason</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.PendingReasonId, Model.NewCompliantModel.PendingReasonList, "Select Pendng Reason", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Decline Reason</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.DeclineReasonId, Model.NewCompliantModel.DeclineReasonList, "Select Decline Reason", new { @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Not Valid Reason</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.NotValidreasonId, Model.NewCompliantModel.NotValidReasonList, "Select Not Valid Reason", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Notes</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Notes" name="Notes" rows="10" oninvalid="this.setCustomValidity('Please Enter Notes')" oninput="this.setCustomValidity('')">@(Model.Notes)</textarea>
            </div>
        </div>
        @*<div class="row form-group">
                <label class="col-md-4 control-label">PC</label>
                <div class="col-md-8">
                    @Html.CheckBox("PC", false)

                </div>
            </div>*@
        <div class="row form-group">
            <label class="col-md-4 control-label">Instruction Date</label>
            <div class="col-md-8">
                <input type="datetime-local" class="form-control date-picker" id="InstructionDate" onkeydown="return false;" name="InstructionDate"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">eDIF or TMID</label>
            <div class="col-md-8">
                <input type="text" class="form-control rounded-0" id="eDif_Or_TMID" name="eDif_Or_TMID" value="@(Model.eDif_Or_TMID)" maxlength="50" />

            </div>
        </div>
        @*<div class="row form-group">
                <label class="col-md-4 control-label">Total Fee Quoted (exc VAT & LR)</label>
                <div class="col-md-8">
                    <input type="text" class="form-control rounded-0" id="TotalFeeQuoted" name="TotalFeeQuoted" value="@(Model.TotalFeeQuoted)" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode<=57))" />

                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Discount</label>
                <div class="col-md-8">
                    <input type="number" class="form-control rounded-0" id="Discount" name="Discount" value="@(Model.Discount)" onkeypress="return (event.charCode != 46 && event.charCode > 31 || (event.charCode < 48 || event.charCode > 57))" />

                </div>
            </div>*@

        <div class="row form-group">
            <label class="col-md-4 control-label">Revenue (ref cost calc)</label>
            <div class="col-md-8">
                <input class="form-control" id="Revenue" name="Revenue" placeholder="Enter Revenue" title="" type="text" value="@Model.Revenue" oninput="this.setCustomValidity('')" />
               

            </div>
        </div>


        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }
</div>




<script type="text/javascript">
    //$('.select2').select2();
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    $(function () {

        var dtToday = new Date();
        var dd = dtToday.getDate();
        var mm = dtToday.getMonth() + 1; //January is 0!
        var yyyy = dtToday.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        dtToday = yyyy + '-' + mm + '-' + dd;

        document.getElementById("NextFollowUpDue").setAttribute("min", dtToday);

        $('.textReferrer').attr("required", "required");
        //$('.dropdownReferrer').prop("disabled", true);
        //$(".textReferrer").attr("disabled", false);

        //$(':radio[name=ReferrerId]').change(function () {
        //    setRequiredValidation(this.value);
        //});

    });
    //function setRequiredValidation(value) {
    //    if (value == '1') {

    //        $('.dropdownReferrer').prop("disabled", false);
    //        $('.dropdownReferrer').attr("required", "required");

    //        $('.textReferrer').val('');
    //        $(".textReferrer").attr("disabled", true);
    //    }
    //    else {
    //        $('.textReferrer').prop("disabled", false);
    //        $('.textReferrer').attr("required", "required");

    //        $('.dropdownReferrer').prop('selectedIndex', 0);
    //        $('.dropdownReferrer').prop("disabled", true);
    //    }
    //}
    var txt = document.getElementById('Revenue');
    txt.addEventListener('keyup', myFunc);
    var txtPrice = document.getElementById('PropertyPrice');
    txtPrice.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
</script>



