﻿@model CountryWide.Models.Audit.AuditDetailsModel


@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />


<h2>Audit: @Model.TrackerInfo.HeaderName</h2>

<div class="row form-group" id="ViewRequired">
    <a style="margin-left: 85%;" href="@Url.Action(Model.TrackerInfo.ReviewActionName,Model.TrackerInfo.ControllerName, new { TrackerId =Model.TrackerInfo.TrackerId, ProcessorId = Model.TrackerInfo.ProcessId ,ViewName=Model.TrackerInfo.ViewName})">Back To Review</a>

</div>
<div class="table-responsive">


    <span style="font-size:0.8em;">All versions of the items are listed below with the new value of any changed properties.</span>

   
    <table class="table table-bordered table-condensed sortable" id="AuditTable">

        @if (Model.AuditDetails == null)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Modified</th>
                    <th>Modified By</th>

                </tr>
            </thead>
            <tdata>

                @foreach (var row in Model.AuditDetails.OrderByDescending(o => o.VersionNumber).GroupBy(g => g.VersionNumber))
                {

                    int previousActionCount = 0;
                    <tr>
                        <td>@row.FirstOrDefault().VersionNumber.0</td>
                        <td>
                            @row.FirstOrDefault().BeginDate

                            <table style="width:50%">
                                @foreach (var versionData in row)
                                {
                                    if (versionData.ColumnName == "Action")
                                    {
                                        previousActionCount += 1;
                                    }

                                    //if (versionData.ColumnName != "ModifyingUser" && versionData.ColumnName != "Action")
                                    if (versionData.ColumnName != "ModifyingUser")
                                    {
                                        <tr>
                                            <th>@versionData.ColumnName</th>
                                            @if (versionData.ColumnName == "Action")
                                            {
                                                switch (versionData.CurrentValue)
                                                {
                                                    case "I":
                                                        <td>Insert</td>
                                                        break;
                                                    case "U":
                                                        <td>Updated</td>
                                                        break;
                                                    case "D":
                                                        <td>Deleted</td>
                                                        break;
                                                    case "R":
                                                        <td>Re-Active</td>
                                                        break;
                                                }
                                            }
                                            else
                                            {
                                                <td> @versionData.CurrentValue </td>


                                            }
                                        </tr>

                                    }
                                }

                                @if (previousActionCount == 0)
                                {
                                    <tr>
                                        <th>Action</th>
                                        <td>Updated</td>

                                    </tr>
                                }
                            </table>
                        </td>
                        <td>
                            @row.FirstOrDefault().ModifiedBy

                        </td>
                    </tr>
                }


            </tdata>
        }


    </table>



</div>

<script>

    $(document).ready(function () {

        $('#AuditTable').DataTable({
            searching: false,
            paging: false,
            info: false,
            "order": [[0, "desc"]]
        });

    });

</script>