﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

}

@model CountryWide.Models.OutOfHoursId.OutOfHoursIdCheckModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">

    @if (ViewBag.EditViewType != "View")
    {
    <h1>
        Out Of Hours Id Check Process :  Edit / View
    </h1>
    }
    else
    {
        <h1>
             Out Of Hours Id Check Process :  View
        </h1>
    }



    <br />
    @using (Html.BeginForm("UpdateOutOfHours", "OutOfHoursIdCheck", FormMethod.Post, new { id = "NewOutOfhoursIdTracker", enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />
        <input type="hidden" name="OldDatetimetocall" id="OldDatetimetocall" value="@Model.OldDatetimetocall" />
        @Html.HiddenFor(M => M.IsMatterNumberExisted)
        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadTOutOfHoursFile", "OutOfHoursIdCheck", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>
                }


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date & Time To Call</label>
            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" required="required" id="Datetimetocall" oninvalid="this.setCustomValidity('Please Enter Date & Time To Call')" oninput="this.setCustomValidity('')" onkeydown="return false;" name="Datetimetocall" placeholder="Select Date" value="@(Model.Datetimetocall.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                @Html.DropDownListFor(M => M.TimeSlotId, Model.TimeSlotList, "Select Time Slot", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Time Slot')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                <label>Please ensure there are no more than 2 requests in the same hour already booked. Also stress to OC that this is an approximate time</label>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">


                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Person(s) needing AML Check</label>
            <div class="col-md-8">

                <input class="form-control" id="PersonNeedingAMLCheck" name="PersonNeedingAMLCheck" placeholder="Enter Person  needing AML Check" oninvalid="this.setCustomValidity('Please Enter Person  needing AML Check')" oninput="this.setCustomValidity('')" required="required" title="" type="text" value="@Model.PersonNeedingAMLCheck" />
                <label>Full names please. Don't just state "Mr"</label>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Best number(s) to call</label>
            <div class="col-md-8">

                <input class="form-control" id="BestNumberToCall" name="BestNumberToCall" placeholder="Enter Best number to call" oninvalid="this.setCustomValidity('Please Enter Best number to call')" oninput="this.setCustomValidity('')" required="required" title="" type="text" value="@Model.BestNumberToCall" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Additional Instructions</label>
            <div class="col-md-8">

                <textarea class="form-control rounded-0" id="AdditionalInstructions" name="AdditionalInstructions" rows="10">@Model.AdditionalInstructions</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property lawyer's email address</label>
            <div class="col-md-8">

                <input type="email" class="form-control" id="PropertyLawyerEmailAddress" name="PropertyLawyerEmailAddress" placeholder="Enter Property lawyer email address" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please Enter Property Lawyer Email Address')" required="required" title="" value="@Model.PropertyLawyerEmailAddress" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Your email address</label>
            <div class="col-md-8">

                <input class="form-control" id="EmailAddressYours" name="EmailAddressYours" placeholder="Enter Your email address" title="" type="email" value="@Model.EmailAddressYours" />
                <label>If different from PL's address above</label>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">AML Call Successful?</label>
            <div class="col-md-8">

                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.AMLCallSuccessfull, "true") Yes</label>

                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.AMLCallSuccessfull, "false") No</label>
                    <br />
                    <label>To be completed by OOH only</label>

                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Consultant</label>
            <div class="col-md-8">
                <div class="radio d-flex align-items-center">
                    @Html.RadioButtonFor(M => M.ConsultantID, 1, new { @checked = "true", @class = "mr-1" })
                    @Html.DropDownListFor(m => m.ConsultantDropdown, new List<SelectListItem>
{
new SelectListItem{ Text="Sahil", Value = "Sahil" },
new SelectListItem{ Text="Tiane", Value = "Tiane" },
new SelectListItem{ Text="Abu",   Value = "Abu" },
new SelectListItem{ Text="Martin",Value = "Martin" },
new SelectListItem{ Text="Other", Value = "Other" }
}, "Select Consultant", new { @class = "form-control selectpicker dropdownConsultant" })


                </div>

                <br />
                <div class="radio">

                    <label>@Html.RadioButtonFor(M => M.ConsultantID, 0) Specify your own value:</label>
                    <br />
                    <input class="form-control textConsultant" id="ConsultantText" name="ConsultantText" placeholder="Enter Value" title="" type="text" value="@Model.ConsultantText" />
                    <label>To be completed by AML consultant only</label>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">OOH notes</label>
            <div class="col-md-8">

                <textarea class="form-control rounded-0" id="OOHNotes" name="OOHNotes" rows="10">@Model.OOHNotes</textarea>
                <br />
                <label>To be completed by OOH only</label>
            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"OutOfHoursIdCheck", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["OutOfHoursViewName"]  })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewOutOfHours","OutOfHoursIdCheck", new{TrackerId=ViewBag.TrackerId, ProcessorId=ViewBag.ProcessorId,ViewName = Session["OutOfHoursViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>





    }

</div>
<script type="text/javascript">



    $(document).ready(function () {


        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }


        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").attr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],select,input[type=radio]").attr("disabled", "disabled");



        $("#btnEdit").click(function () {

            $(".row input,textarea").not("input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("readonly", "readonly");
            $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");

            //if ($("#IsMatterNumberExisted").val() == "True") {
            //    $("#MatterNumber").attr("readonly", "readonly");
            //}
            $("#MatterNumber").attr("readonly", "readonly");
                       $("#divedit").hide();
            $("#divsave").show();
            setRequiredValidation($('input[name="ConsultantID"]:checked').val());

        });

        $('input[name="ConsultantID"]').change(function () {

            setRequiredValidation(this.value);
        });
        $('#Datetimetocall').change(function () {
            ValidateTimeSlot();

        });

        $('#TimeSlotId').change(function () {
            ValidateTimeSlot();
        });
        $("#btnsave").click(function () {
         
            var isValid = true;
            var propertyLawyerEmail = $('#PropertyLawyerEmailAddress').val();
            var yourEmail = $('#EmailAddressYours').val();
            var propertyLawyerResult = validateEmail(propertyLawyerEmail);
            var yourEmailResult = validateEmail(yourEmail);
            
          
            if (propertyLawyerResult == false) {
                isValid = false;
                ShowMessage("Please enter valid property lawyer email address");
                $('#PropertyLawyerEmailAddress').val(' ');
            }

            else if (yourEmailResult == false) {
                isValid = false;
                ShowMessage("Please enter valid your email address");
                $('#EmailAddressYours').val(' ');
            }

            return isValid;
        });
    });
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function validateEmail(email) {

        if (email.length == 0) return true;
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;


        if (regex.test(email)) {
            return true;
        }
        else {
            return false;

        }
    }
    function setRequiredValidation(value) {
        if (value == '1') {

            $('.dropdownConsultant').prop("disabled", false);

            $('.textConsultant').val('');
            $(".textConsultant").attr("disabled", true);
        }
        else {
            console.log(value);
            $('#ConsultantText').prop("disabled", false);
            $('.dropdownConsultant').val(null);

            $('.dropdownConsultant').prop("disabled", true);
        }
    }
     function ValidateTimeSlot()
        {

         let datetimetocall = new Date($('#Datetimetocall').val());
         let oldDateTimeCall =($('#OldDatetimetocall').val());
        let timeSlotId = $('#TimeSlotId').val();
        if (datetimetocall != null && (timeSlotId != null && timeSlotId.length > 0)) {
            $.ajax({
                url: "@Url.Action("CheckExistingTimeSlots", "OutOfHoursIdCheck")",
                data: { datetimetocall: datetimetocall.toDateString(), timeSlotId: timeSlotId, oldDateTimeCall: oldDateTimeCall},
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data == true) {
                            ShowMessage("Selected Time Slot already Blocked!!");
                            $("#Datetimetocall").val(null);
                            $('#TimeSlotId').val('');
                        }
                    }

                });
            }
    }
</script>