﻿@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.ComplaintsForm
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <h1>
        Complaints Tracker: New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewComplaintsTracker", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group required">
            <label class="col-md-4 control-label">Attach a file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile" oninvalid = "this.setCustomValidity('Please Select Attach a file')" oninput = "this.setCustomValidity('')" required="required">
            </div>
        </div>


        <div class="row form-group required" style="margin-top:10px">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.CenterID, Model.NewCompliantModel.CenterNameList, "Select Center", new { @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')",@required = "required", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TeamID, Model.NewCompliantModel.TeamList, "Select Team", new { @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')",@required = "required", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumberID" name="MatterNumberID" value="@Model.MatterNumberID" placeholder="Matter Number" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" readonly="readonly" required="required" title="" type="text" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">ABS With</label>
            <div class="col-md-8">
                <input class="form-control" id="ABSWith" value="@Model.ABSWith" name="ABSWith" placeholder="ABS With" maxlength="50" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Fee Earner</label>
            <div class="col-md-8">
                <input class="form-control" id="FeeEarner" maxlength="50" @(Model.FeeEarner != null ? "readonly=\"readonly\"" : "") value="@Model.FeeEarner" name="FeeEarner"  oninvalid="this.setCustomValidity('Please Enter Fee Earner')" oninput="this.setCustomValidity('')" placeholder="Free Earner" required="required" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" maxlength="30" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") value="@Model.ClientName" name="ClientName" placeholder="Client Name" required="required"  oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" title="" type="text" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Transaction Type</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TransactionTypeID, Model.NewCompliantModel.TransactionTypeList, "Select Transaction Type", new { @class = "form-control selectpicker", @required = "required", @oninvalid = "this.setCustomValidity('Please Select Transaction Type')", @oninput = "this.setCustomValidity('')" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Subsidiary / Branch</label>
            <div class="col-md-8">
                <input class="form-control" id="SubsidaryBranch" value="@Model.SubsidaryBranch" maxlength="30" name="SubsidaryBranch" placeholder="Subsidiary Branch" title="" type="text" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Region</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(m=>m.RegionID, Model.NewCompliantModel.RegionList, "Select Region", new { @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Date instruction received</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="InstructionDateReceived" name="InstructionDateReceived" min="2000-01-01" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Date 1st call made</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="FirstCallMadeOn" name="FirstCallMadeOn" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Date of Exchange</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="DateOfExchange" name="DateOfExchange" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar" data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Time taken from instruction to exchange</label>
            <div class="col-md-8">
                <input class="form-control" id="InstructionToExchange" maxlength="30" name="InstructionToExchange" required="required" oninvalid="this.setCustomValidity('Please Enter Time taken from instruction to exchange')" oninput="this.setCustomValidity('')" title="" type="number" min="0" onkeypress="return isNumberKey(event)" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Completion Date</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="CompletionDate" min="2000-01-01" onkeydown="return false;" required="required" oninvalid="this.setCustomValidity('Please Enter Completion Date')" oninput="this.setCustomValidity('')" name="CompletionDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Complaint received date</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="ComplaintReceivedDate" min="2000-01-01" value="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" name="ComplaintReceivedDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">How was the complaint received?</label>
            <div class="col-md-8 form-input">
                @Html.DropDownListFor(m=>m.ComplaintReceivedID, Model.NewCompliantModel.CompliantModeList, "Select Compliant Mode", new { @class = "form-control", @title = "Please Select" })
            </div>
            @*<div class="help-block with-errors"></div>*@
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Do compliance need to be made aware?</label>
            <div class="col-md-8">
                @*<input id="ComplainceAwareness" name="ComplainceAwareness" required="required" title="" type="checkbox" value="" />*@
                @Html.CheckBox("ComplianceAwareness", false)
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Has a note been added to critical?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.CriticalNote, "true", new { @checked = true }) Yes</label>
                    @*<label><input type="radio" name="CriticalNote" id="CriticalNote" value="1" checked>Yes</label>*@
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.CriticalNote, "false") No</label>
                    <br />
                    <a>Note should take the form of:</a>
                    <a>Complaint in the progress date and signed off with name and extension</a>
                </div>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Remember to send copy to Resolutions team </label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.ResolutionTeamCopy, "true", new { @checked = true }) Yes</label>
                   
                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.ResolutionTeamCopy, "false") No</label>
                   
                    <br />
                    <a>Ensure copy of Complaint is sent to Res.</a>
                </div>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Attributed to?</label>
            <div class="col-md-8">
                <input class="form-control" id="AttributedTo" maxlength="50" name="AttributedTo" required="required" oninvalid="this.setCustomValidity('Please Enter Attributed to?')" oninput="this.setCustomValidity('')"  title="" type="text" />
                <a> Who does the complaint primarily relate to? </a>
                <a>(Either put PL's initials or Post comp/ Post exc/offshore/cp's or if not upheld in any way state n/A Not upheld</a>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Ensure copy complaint saved to file and catalogued in Cust Experience folder</label>
            <div class="col-md-8">

                @Html.CheckBox("EnsurecopycomplaintsavedtofileandcataloguedinCustExperienceFolder", false)
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Summary of issues</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" required="required" oninvalid="this.setCustomValidity('Please Enter Summary of issues?')" oninput="this.setCustomValidity('')" id="SummaryIssues" name="SummaryIssues" rows="10"></textarea>

                <span>This should be the clients perspective of the complaint and not the root cause</span>
                <span>e.g. not being kept updated = issue, root cause = lack of PL / CP interaction</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">UD-Updates</label>
            <div class="col-md-8">

                @Html.CheckBox("UpdatesUD", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PPW-Paperwork went missing</label>
            <div class="col-md-8">

                @Html.CheckBox("PPW_PaperworkWentMissing", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">TS-OC not happy with timescales</label>
            <div class="col-md-8">

                @Html.CheckBox("TS_OCNotHappyWithTimescales", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">ERR-Errors on paperwork</label>
            <div class="col-md-8">

                @Html.CheckBox("ERR_ErrorsOnPaperwork", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CB-Call backs not returned</label>
            <div class="col-md-8">

                @Html.CheckBox("CB_CallBacksnotReturned", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">LOC-OC preferred a local service</label>
            <div class="col-md-8">

                @Html.CheckBox("LOC_OCPreferredalocalservice", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">WEB-Website issues</label>
            <div class="col-md-8">

                @Html.CheckBox("WebsiteIssues", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INC-OC told incorrect things</label>
            <div class="col-md-8">

                @Html.CheckBox("INC_OCToldIncorrectThings", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PLS-Hard to speak to PL</label>
            <div class="col-md-8">

                @Html.CheckBox("PLS_HardToSpeakToPL", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">EA-EA said it would take less time</label>
            <div class="col-md-8">

                @Html.CheckBox("EA_EASaidItWouldTakeLessTime", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">COMP-Error at completion</label>
            <div class="col-md-8">

                @Html.CheckBox("COMP_ErrorAtCompletion", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">POC-Fewer points of contact</label>
            <div class="col-md-8">

                @Html.CheckBox("POC_FewerPointsOfContact", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CW-Long call waits</label>
            <div class="col-md-8">

                @Html.CheckBox("CW_LongCallWaits", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">INF-OC asked for informed already provided</label>
            <div class="col-md-8">

                @Html.CheckBox("INF_OCAskedForInformedAlreadyProvided", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">RUD-OC was spoken to rudely</label>
            <div class="col-md-8">

                @Html.CheckBox("RUD_OCWasSpokenToRudely", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">SDLT</label>
            <div class="col-md-8">

                @Html.CheckBox("Sdlt", false)
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Root cause commentary</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="RootCauseCommentary" name="RootCauseCommentary" rows="10"></textarea>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Responsible person</label>
            <div class="col-md-8">
                <input class="form-control" id="ResponsiblePerson" maxlength="50" name="ResponsiblePerson" required="required"  oninvalid="this.setCustomValidity('Please Enter Responsible person')" oninput="this.setCustomValidity('')" title="" type="text" />
                <span>Who will be responsible for dealing with the complaint from the business?</span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Holding letter issued date</label>
            <div class="col-md-8">
                <input class="form-control" id="HoldingLetterIssuedDate" maxlength="30" name="HoldingLetterIssuedDate" title="" min="2000-01-01" onkeydown="return false;" type="date" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Complaint response due by</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="ComplaintResponseDueBy" name="ComplaintResponseDueBy" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Actual response issued (date)</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="ActualResponseIssued" name="ActualResponseIssued" min="2000-01-01" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Response reviewed by?</label>
            <div class="col-md-8">
                <input class="form-control" id="ResponseReviewed" maxlength="50" name="ResponseReviewed" title="" type="text" />
                <span> Who has verified the response (e.g. another team manager or Head of)</span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Complaint Upheld or Partially Upheld?</label>
            <div class="col-md-8">
                <div class="radio">
                    <label><input type="radio" name="ComplaintUpheldorPartiallyUpheld" id="ComplaintUpheldorPartiallyUpheld" value="1" checked>Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="ComplaintUpheldorPartiallyUpheld" id="ComplaintUpheldorPartiallyUpheld" value="0">No</label>

                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Gesture of goodwill offered?</label>
            <div class="col-md-8">

                @Html.CheckBox("GestureOfGoodwillOffered", false)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Amount of goodwill offered?</label>
            <div class="col-md-8">
                <input class="form-control" id="AmountOfGoodwillOffered" maxlength="50" name="AmountOfGoodwillOffered" title="" type="text" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Payments to third parties</label>
            <div class="col-md-8">
                <input class="form-control" id="PaymentsToThirdParties" maxlength="50" name="PaymentsToThirdParties" title="" type="text" />
                <span>Payments made to third parties (ie NOT our client)</span>
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">L1 Dealt with in SLA?</label>
            <div class="col-md-8 form-input">
                <select id="L1DealtWithinSLA" name="L1DealtWithinSLA" class="form-control" oninvalid = "this.setCustomValidity('Please Select L1 Dealt with in SLA?')", oninput = "this.setCustomValidity('')" title="Please Select" required="required">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>


                </select>

            </div>

        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Reason for delay in response</label>
            <div class="col-md-8">

                <span>@Html.CheckBox("DelayResponse1", false) System issues</span><br />
                <span>@Html.CheckBox("DelayResponse2", false) TM absence</span><br />
                <span>@Html.CheckBox("DelayResponse3", false) Waiting on res / compliance</span><br />
                <span>@Html.CheckBox("DelayResponse4", false) Waiting on 3rd party</span><br />
                <span>@Html.CheckBox("DelayResponse5", false) Waiting for further information from client</span><br />
                <span>@Html.CheckBox("DelayResponse6", false) TM / HOPL workload</span><br />
                <span>@Html.CheckBox("DelayResponse7", false) Legal matter being dealt with by compliance</span><br />
                <span>@Html.CheckBox("DelayResponse8", false) Matthew Lewis</span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Has complaint been escalated to stage 2?</label>
            <div class="col-md-8">
                <div class="radio">
                    @*<label><input type="radio" name="ComplaintBeenEscalatedToStage2" id="ComplaintBeenEscalatedToStage2" value="1" checked>Yes</label>*@
                    <label> @Html.RadioButtonFor(M => M.ComplaintBeenEscalatedToStage2, "true") Yes</label>
                </div>
                <div class="radio">
                    @*<label><input type="radio" name="ComplaintBeenEscalatedToStage2" id="ComplaintBeenEscalatedToStage2" value="0">No</label>*@
                    <label> @Html.RadioButtonFor(M => M.ComplaintBeenEscalatedToStage2, "false") No</label>

                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Level 2 complaint received date</label>
            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="Level2ComplaintReceivedDate" min="2000-01-01" onkeydown="return false;" name="Level2ComplaintReceivedDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Level 2 acknowledgement issue date</label>


            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="Level2AcknowledgementIssueDate" min="2000-01-01" onkeydown="return false;" name="Level2AcknowledgementIssueDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Level 2 complaint response due date</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="Level2ComplaintResponseDueDate" min="2000-01-01" onkeydown="return false;" name="Level2ComplaintResponseDueDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Level 2 complaint response actual date</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="Level2ComplaintResponseActualDate" min="2000-01-01" onkeydown="return false;" name="Level2ComplaintResponseActualDate" placeholder="Select Date"><span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">L2 Dealt with in SLA?</label>
            <div class="col-md-8 form-input">
                <select id="L2DealtWithInSLA" name="L2DealtWithInSLA" class="form-control" title="Please Select" oninvalid = "this.setCustomValidity('Please Select L2 Dealt with in SLA?')", oninput = "this.setCustomValidity('')" required="required">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Summary of any feedback from Resolutions</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="SummaryFeedbackResolutions" name="SummaryFeedbackResolutions" rows="10"></textarea>


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Summary of any feedback from Compliance</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="SummaryFeedbackCompliance" name="SummaryFeedbackCompliance" rows="10"></textarea>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Copy sent to HOPL</label>
            <div class="col-md-8 form-input">
                <select id="CopySentToHOPL" name="CopySentToHOPL" class="form-control" title="Please Select" oninvalid = "this.setCustomValidity('Please Select Copy sent to HOPL')", oninput = "this.setCustomValidity('')" required="required">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Exec complaint?</label>
            <div class="col-md-8 form-input">
                <select id="ExecComplaint" name="ExecComplaint" class="form-control"  oninvalid = "this.setCustomValidity('Please Select Exec complaint?')", oninput = "this.setCustomValidity('')" title="Please Select" required="required">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Single / Multi</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(m=>m.SingleMultiId, Model.NewCompliantModel.SingleMultiList, "Select Value", new { @class = "form-control selectpicker", oninvalid = "this.setCustomValidity('Please Enter Single / Multi')", oninput = "this.setCustomValidity('')", @required = "required" })
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Ensure no Feefo invite is sent</label>
            <div class="col-md-8 form-input">
                <select id="EnsureNoFeefoInviteSent" name="EnsureNoFeefoInviteSent" class="form-control" title="Please Select"  oninvalid = "this.setCustomValidity('Please Select Ensure no Feefo invite is sent')", oninput = "this.setCustomValidity('')" required="required">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Complaint closed?</label>
            <div class="col-md-8 form-input">
                <select id="ComplaintClosed" name="ComplaintClosed" class="form-control"  title="Please Select">
                    <option value="">Select Y/N</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

        </div>


        @*<div class="row form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="Name" maxlength="30" name="Name" title="" type="text" />
                </div>
            </div>*@

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
                @*<button type="button" class="btn btn-info" onclick="window.location.href='Index/Home';">
                        <span>Cancel</span>
                    </button>*@
            </div>
        </div>



    }
</div>




<script type="text/javascript">


    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    //$('#exampleModal').modal({ backdrop: 'static', keyboard: false });


        //$('#Dateinstructionreceived').datepicker({
        //    dateFormat: 'yy-mm-dd',
        //    showButtonPanel: true,
        //    changeMonth: true,
        //    changeYear: true,
        //    yearRange: '1999:2012',
        //    showOn: "button",
        //    buttonImage: "images/calendar.gif",
        //    buttonImageOnly: true,
        //    minDate: new Date(2000, 10 - 1, 25),
        //    maxDate: '+30Y',
        //    inline: true
        //});

        //debugger;
        //$('#Dateinstructionreceived').dateDropper('setDate', {
        //    d: o1,
        //    m: 01,
        //    y: 2000
        //});
    //});

</script>



