﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditThirdPartyCompliants";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.ThirdPartyCompliants.ThirdPartyCompliantsModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
    <h1>
        3rd Party Complaints Tracker: Edit/View
    </h1>
    }
    else
    {
<h1>
    3rd Party Complaints Tracker: View
</h1>
    }
    <br />

    @using (Html.BeginForm("UpdateThirdPartyCompliants", "ThirdPartyCompliants", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />
        <input type="hidden" name="hdnExecCompliant" id="hdnExecCompliant" value="@Model.ExecComplaint.ToString()" />

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadThirdPartyCompliantsFile", "ThirdPartyCompliants", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>

                }

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Name of Complainant</label>
            <div class="col-md-8">

                <input class="form-control" id="ComplainantName" name="ComplainantName" value="@Model.ComplainantName" placeholder="Enter Name of Complainant" type="text" />

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date Received</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="DateReceived" name="DateReceived" oninvalid="this.setCustomValidity('Please Select Date Received')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date Received" value="@Model.DateReceived.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Exec Complaint</label>
            <div class="col-md-8 form-input">
                <select id="ExecComplaint" name="ExecComplaint" class="form-control execCompliant" title="Please Select" required="required" oninvalid="this.setCustomValidity('Please Select Exec Complaint')" oninput="this.setCustomValidity('')">
                    <option value="">Select Y/N</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </div>

        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">CCS Unresponsive</label>
            <div class="col-md-8">
                <input id="CCSUnresponsive" name="CCSUnresponsive" type="checkbox" value="true" @(Model.CCSUnresponsive != null && Model.CCSUnresponsive.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CCS Raising repeated enquiries</label>
            <div class="col-md-8">
                <input id="CCSRaisingrepeatedEnquiries" name="CCSRaisingrepeatedEnquiries" type="checkbox" value="true" @(Model.CCSRaisingrepeatedEnquiries != null && Model.CCSRaisingrepeatedEnquiries.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CCS not forwarding ppw in good time</label>
            <div class="col-md-8">
                <input id="CCSNotForwardingPPWinGoodTime" name="CCSNotForwardingPPWinGoodTime" type="checkbox" value="true" @(Model.CCSNotForwardingPPWinGoodTime != null && Model.CCSNotForwardingPPWinGoodTime.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CCS causing delays</label>
            <div class="col-md-8">
                <input id="CCSCausingDelays" name="CCSCausingDelays" type="checkbox" value="true" @(Model.CCSCausingDelays != null && Model.CCSCausingDelays.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Source</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.SourceID, Model.SourceList, "Select Source ", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"ThirdPartyCompliants", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["ThirdPartyCompliantsViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewThirdPartyCompliants","ThirdPartyCompliants", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["ThirdPartyCompliantsViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>




<script type="text/javascript">


    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }

        $(".execCompliant").val($("#hdnExecCompliant").val());
    });

    $(".row input,textarea").not("input[type=checkbox],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],select").attr("disabled", "disabled");


    $("#btnEdit").click(function () {

        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],select").removeAttr("disabled", "disabled");

        $("#MatterNumber").attr("readonly", "readonly");

        $("#divedit").hide();
        $("#divsave").show();


    });


</script>




