﻿@model CountryWide.Models.StopCheque.StopChequeModel
@using CountryWide.Utility;
@{
    ViewBag.Title = "EditStopCheque";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

   $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });

    </script>
}

<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Stop Cheque: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Stop Cheque: View
        </h1>
    }
    <br />


    @using (Html.BeginForm("UpdateStopChequeTracker", "StopCheque", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        @Html.HiddenFor(M => M.IsMatterNumberExisted)

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">
                <input class="form-control textMatterNumber" id="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") name="MatterNumber" placeholder="Enter Value" title="" type="text" value="@Model.MatterNumber" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control textClientName" required="required" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.CenterID)
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Payee</label>
            <div class="col-md-8">
                <input class="form-control textPayee" required="required" id="Payee" name="Payee" oninvalid="this.setCustomValidity('Please Enter Payee')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.Payee" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Issued Date</label>
            <div class="col-md-8">
                <input type="date" class="form-control textIssuedDate" id="IssuedDate" name="IssuedDate" oninvalid="this.setCustomValidity('Please Enter Issue Date')" oninput="this.setCustomValidity('')" max="@(Model.IssuedDate.ToString("yyyy-MM-dd"))" value="@Model.IssuedDate.ToString("yyyy-MM-dd")" onkeydown="return false" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="Amount" name="Amount" oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" min="0" required="required" placeholder="Enter Amount" onkeypress="return isNumberKey(event)" title="" value="@Convert.ToInt64(Model.Amount)" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason for stopping cheque</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="ReasonForStoppingCheque" required="required" name="ReasonForStoppingCheque" rows="10" oninvalid="this.setCustomValidity('Please Enter Reason For Stopping Cheque')" oninput="this.setCustomValidity('')">@(Model.ReasonForStoppingCheque)</textarea>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Steps taken to advise payee that cheque will be stopped</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0 textAdvisePayeeChequeStopped" required="required" id="AdvisePayeeChequeStopped" name="AdvisePayeeChequeStopped" rows="10" oninvalid="this.setCustomValidity('Please Enter Advise Payee Cheque Stopped')" oninput="this.setCustomValidity('')">@(Model.AdvisePayeeChequeStopped)</textarea>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Assigned To</label>
            <div class="col-md-8">
                <input class="form-control textAssignedTo" required="required" id="AssignedTo" name="AssignedTo" oninvalid="this.setCustomValidity('Please Enter Assigned To')" oninput="this.setCustomValidity('')" placeholder="Enter Value" title="" type="text" value="@Model.AssignedTo" maxlength="50" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.StatusID, Model.NewCompliantModel.StopChequeStatusList, "Select Status", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Status')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Chq No (CA Only)</label>
            <div class="col-md-8">
                <input class="form-control textChqNo" id="ChqNo" name="ChqNo" placeholder="Enter Value" title="" type="text" value="@Model.ChqNo" maxlength="20" />
            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"StopCheque", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["StopChequeViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewStopCheque","StopCheque", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["StopChequeViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>



    }

</div>
<script type="text/javascript">


    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });

    $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
    $(".row input").not("input[type=text],select").attr("readonly", "readonly");
    $(".row input,select").attr("disabled", "disabled");



    $("#btnEdit").click(function () {
        $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input").not("select").removeAttr("readonly", "readonly");
        $(".row input,number,select").removeAttr("disabled", "disabled");
        if ($("#IsMatterNumberExisted").val() == "True") {
            $("#MatterNumber,#ClientName").attr("readonly", "readonly");
            $("#CenterID").attr("disabled", "disabled");
        }
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

</script>




