﻿@{ ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";  }


<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/ajaxjquery-1.10.0.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

@if (ViewBag.Message != null)
{
<script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    <h1>
        Interest Payable OC: New Item
    </h1>
    <br />
    <div class="AutoPopulateData">

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="AutoMatterNumber" name="Matter_Number" placeholder="Enter Customer Matter Number" required="required" title="" type="text" />
                <input type="hidden" id="hfAutoMatterNumber" name="SelectedMatterNumber" />
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="button" id="btnProceed" class="btn btn-primary">
                    <span>  Proceed  </span>
                </button>
                <button type="button" id="btnSkip" class="btn btn-primary">
                    <span>  Skip  </span>
                </button>

                <button type="button" id="btncancel" class="btn btn-info">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <div style="margin-top: 80px; font-size: larger; background-color: #e6f5f7; padding-left: 10px;">
        <p>Dear User,</p>
        <br />
        <p>As you enter your input in Matter Number field, application will look for relevant Matter Numbers from Visual Files (VF) and auto-suggest for you to select from suggested list.</p>

        <p>We sync with Matter Numbers created in Visual Files (VF) every 15 minutes. Just in case, if you cannot find Matter Number you are looking for in auto-suggest list, please note it might be a newly created Matter Number in Visual Files (VF) and is not synced with CCS application yet. In such cases, we recommend you to try and create desired record after 15 mins gap.</p>
        <br />
        <p>If you choose to SKIP Matter Number selection, Matter Number field will remain manual entry.</p>
    </div>
</div>
<script type="text/javascript">


    $(function () {

        $("#AutoMatterNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("MatterNumberAutoComplete", "Compliments")",
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfAutoMatterNumber").val(i.item.val);
            },
            minLength: 1
        });


         $('#btncancel').click(function () {
        document.location = '@Url.Action("Index","Home")';
          });



        $('#btnSkip').click(function () {
                   document.location = '@Url.Action("NewInterestPayableTracker", "InterestPayableOC")?MatterNumber=';
          });


        $('#btnProceed').click(function () {

            //var getRecievedFrom = $("#AutoRecievedFrom").val().trim();
            var getMatterNumber = $("#AutoMatterNumber").val().trim();

            if (getMatterNumber != "") {
                             var ldata;

                    $.ajax({
                        url: "@Url.Action("Verifyfields", "Compliments")",
                        data: { Matternumber: getMatterNumber },
                        type: 'GET',
                        dataType: "json",
                        success: function (response) {
                            ldata = parseInt(response);
                            VerifyfieldsExisted(ldata, getMatterNumber);
                        }
                    });
            }
            else {
                ShowMessage("Please enter Matter Number.");
                return false;
            }
       });
    });



    function VerifyfieldsExisted(countNumber, MatterNumber) {
        if (countNumber == 1) {
            document.location = '@Url.Action("NewInterestPayableTracker", "InterestPayableOC")?MatterNumber=' + MatterNumber;
        }
        else {
            ShowMessage("Please enter valid details / Select from auto-populated values.");
            return false;
        }
    }



</script>