﻿@using System.Data
@using CountryWide.Utility
@using CountryWide.Models.ODBCReport;

@{
    ViewBag.Title = "LoadAllReportNames";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.UpdateMessage != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.UpdateMessage');
    });
    </script>
}
<h2>Please select a Report</h2>

@using (Html.BeginForm("CountrywideReport", "Report", FormMethod.Post))
{
    <div class="row form-group required">
        <label class="col-md-4 control-label">Report</label>
        <div class="col-md-8">
            @* @Html.DropDownListFor(M => M.ReportName, Model.ReportList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })*@
            @Html.DropDownList("ReportName", (List<SelectListItem>)ViewBag.ReportNamesList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
        </div>
    </div>

    <div class="row form-group">
        <div class="offset-md-5">
            <button type="submit" id="btnSubmit" class="btn btn-primary">
                <span>  View Report</span>
            </button>



        </div>
    </div>

}
@using (Html.BeginForm("GetAllSubscription", "Report", FormMethod.Post))
{
    <div class="row form-group required">
        <label class="col-md-4 control-label">Report</label>
        <div class="col-md-8">
            @* @Html.DropDownListFor(M => M.ReportName, Model.ReportList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })*@
            @Html.DropDownList("ReportName", (List<SelectListItem>)ViewBag.ReportNamesList, "Select Report", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Report')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
        </div>
    </div>

    <div class="row form-group">
        <div class="offset-md-5">
            <button type="submit" id="btnSubmit" class="btn btn-primary">
                <span>  Configure Email</span>
            </button>



        </div>
    </div>

}