﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());

}

@model CountryWide.Models.InterestPayableOCModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">
    $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">

    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Interest Payable OC :  Edit / View
        </h1>
    }
    else
    {
        <h1>
            Interest Payable OC :  View
        </h1>
    }



    <br />

    @using (Html.BeginForm("UpdateInterestPayableTracker", "InterestPayableOC", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="CenterId" id="CenterId" value="@ViewBag.CenterId" />
        <input type="hidden" name="TeamId" id="TeamId" value="@ViewBag.TeamId" />
        @Html.HiddenFor(M => M.IsMatterNumberExisted)
        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">


                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" value="@Model.MatterNumber" placeholder="Matter Number" title="" type="text" onkeypress="return preventEmptyChars(event)" />

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Center</label>
            <div class="col-md-8 dropdown">


                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.CenterID)



            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", required = "required", @class = "form-control selectpicker" })



            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Date funds received</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="DateFundsRevd" name="DateFundsRevd" oninvalid="this.setCustomValidity('Please Enter Date funds received')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@(Model.DateFundsRevd.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>


            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Payment Date</label>

            <div class="col-sm-4 col-md-8 input-group date">
                <input type="date" class="form-control inputstl" id="PaymentDate" name="PaymentDate" oninvalid="this.setCustomValidity('Please Enter Payment Date')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@(Model.PaymentDate.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Number of dates funds held</label>
            <div class="col-md-8">
                <input class="form-control" id="NumberOfDatesFundsHeld" name="NumberOfDatesFundsHeld" readonly="readonly" oninvalid="this.setCustomValidity('Please Enter Number of dates funds held')" oninput="this.setCustomValidity('')" required="required" title="" value="@Model.NumberOfDatesFundsHeld" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Funds held</label>
            <div class="col-md-8">
                <input class="form-control" id="FundsHeld" name="FundsHeld" placeholder="Enter Funds held" oninvalid="this.setCustomValidity('Please Enter Funds held')" oninput="this.setCustomValidity('')" required="required" title="" type="text" value="@Model.FundsHeld" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Interest Payable</label>
            <div class="col-md-8">
                <input class="form-control" id="Formula_25" name="Formula_25" required="required" oninvalid="this.setCustomValidity('Please Enter 25')" oninput="this.setCustomValidity('')" title="" readonly="readonly" value="@Model.Formula_25" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label required">Reason for interest payment</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="ReasonForInterestPayment" name="ReasonForInterestPayment" oninvalid="this.setCustomValidity('Please Enter Reason for interest payment')" oninput="this.setCustomValidity('')" required="required" rows="10" onkeypress="return preventEmptyChars(event)">@Model.ReasonForInterestPayment</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Posted(CA Only)</label>
            <div class="col-md-8">
                <input id="Posted" name="Posted" type="checkbox" value="true" @(Model.Posted != null && Model.Posted.Value ? "checked=\" checked\"" : "" ) />

            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_WNS && getRoleId != objGenericUtility.Read_CustomerExperience && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"InterestPayableOC", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId ,ViewName = Session["InterestPayableViewName"]})" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">


                @*<button type="submit" id="btnSubmit" name="command" value="Resolve" class="btn btn-primary ">
                        <span>  Resolve  </span>
                    </button>*@

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewInterestPayable","InterestPayableOC", new{TrackerId=ViewBag.TrackerId, ProcessorId=ViewBag.ProcessorId,ViewName = Session["InterestPayableViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>





    }

</div>
<script type="text/javascript">

    $(function () {
        $('#FundsHeld').keyup(function () {
            getCalculation();

        });
    });


        $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");

        $("#btnEdit").click(function () {

            $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
            $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
            $("#MatterNumber,#NumberOfDatesFundsHeld,#Formula_25").attr("readonly", "readonly");
            //$("#CenterID,#TeamID").attr("disabled", "disabled");
            $("#divedit").hide();
            $("#divsave").show();
        });
    $('#FundsHeld').val(round($('#FundsHeld').val(), 2));
    function round(value, decimals) {
        return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals).toFixed(decimals);
    }
        $('.selectpicker').on('hide.bs.select', function () {
            $(this).trigger("focusout");
        });

    
    var txt = document.getElementById('FundsHeld');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
        $('.form-group label').on('mousedown', function (e) {
            e.preventDefault();
        });
    function preventEmptyChars(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 32 && evt.target.value.length == 0)
            return false;
        return true;
    }


    $('#PaymentDate').change(function () {
        CheckDates()
        getCalculation();

    });
    $('#DateFundsRevd').change(function () {
        CheckDates()
        getCalculation();

    });

        function  getCalculation()
        {
            
            
            let params = {
                DateFundsRevd: new Date($('#DateFundsRevd').val()),
                PaymentDate: new Date($('#PaymentDate').val()),
                FundsHeld: $('#FundsHeld').val()
            }
            if (PaymentDate.value != null && DateFundsRevd.value != null && FundsHeld.value != null) {
                
                $.ajax({
                    url: "@Url.Action("GetDateDifference", "InterestPayableOC")",
                    data: { DateFundsRevd: DateFundsRevd.value, PaymentDate: PaymentDate.value, FundsHeld: FundsHeld.value},
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                    
                        $('#NumberOfDatesFundsHeld').val(data.dateDifference);
                        $('#Formula_25').val(data.calculateValue);
                    }
                        
                });
            }
    }
    function CheckDates() {
        var paymentDate = new Date($('#PaymentDate').val());

        var dateFundsReceived = new Date($('#DateFundsRevd').val());

        if (paymentDate != null && dateFundsReceived != null && (paymentDate < dateFundsReceived)) {

            ShowMessage("Payment Date should be greater than date funds received")
            $("#PaymentDate").val(null);
            $('#NumberOfDatesFundsHeld,#Formula_25').val('');
            
            return false;
        } else {
            return true;
        }

    }
</script>



