﻿@using System.Data
@model DataTable
@{
    ViewBag.Title = "GetDeleteStopCheque";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    DateTime dt;
}

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #StopChequeTable span {
        display: none;
    }
</style>

<h2>Deleted: Stop Cheque</h2>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}




<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />
    <input type="hidden" id="StopChequeGridCount" value="@ViewBag.GridCount" name="StopChequeGridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" id="StopChequeTable">
        @if (Model.Rows.Count == 0 || ViewBag.GridCount == 1)
        {
            <tr>
                @if (Model.Rows.Count == 0)
                {
                    <td colspan="10">No Record's found.</td>
                }
                else
                {
                    <td colspan="10">No view configured for Delete screen.Please configure atleast one view</td>
                }
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" id="StopCheque-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;
                        }
                    }
                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                    </td>
                                }
                                else
                                {

                                    if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                    {

                                        bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                        if (isDate == true)
                                        {

                                            string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                            <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                        }
                                        else
                                        {

                                            <td>@row[col.ColumnName]</td>

                                        }
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }




                                }
                                columnCount++;

                            }

                            <td>

                                <a href="@Url.Action("EditStopCheque", "StopCheque", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,EditViewType="View" })">   View</a>


                            </td>
                        }




                    </tr>
                }


            </tdata>
        }


    </table>

    <div style="margin-left:45%">
        <button type="button" id="btnStopChequeDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        <button type="button" id="btnDelete" class="btn btn-primary">
            <span>Make Active</span>
        </button>
    </div>

</div>

<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($('#StopChequeGridCount').val() == 1 || PageCount == 0) {

            $("#btnStopChequeDownload,#btnDelete").hide();
        }
        else {
            var columnCount = $('#StopChequeTable th').length - 1;
            $('#StopChequeTable').DataTable({
                pageLength: 20,
                order: [],
                columnDefs: [{ orderable: false, targets: [0, columnCount] }]
            });

            $(".dataTables_length").css("display", "block");
            $("#StopChequeTable_length label").remove();




            $("#StopChequeTable_length").append("<span>Total Count : " + PageCount + '</span>');

        }



        $('#StopCheque-select-all').on('click', function () {

            // Check/uncheck all checkboxes in the table
            var rows = $("#StopChequeTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

            $('input[type="checkbox"]').prop('checked', this.checked);
        });



        $('#StopChequeTable tbody').on('change', 'input[type="checkbox"]', function () {

            var tableRow = $("#StopChequeTable tbody tr");
            var tdataCount = tableRow.length;
            var checkCount = 0;
            if (this.checked) {


                $('#StopChequeTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        checkCount += 1;
                    });
                });

                if (tdataCount == checkCount) {
                    $('#StopCheque-select-all').prop("checked", true);

                }
            }
            else {
                $('#StopCheque-select-all').prop("checked", false);
            }
        });



        $("#btnStopChequeDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnDelete").click(function () {

            DownloadOrDeleteOperations("Delete");
        });

          function DownloadOrDeleteOperations(operationType) {

            var selectedData = [];
            let selectedCount = 0;

              $('#StopChequeTable tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                  document.location = '@Url.Action("DownloadStopChequeTracker", "StopCheque")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }
                else {
                    $("#btnStopChequeDownload").attr("disabled", "disabled");
                    document.location = '@Url.Action("DeleteStopChequeRecords", "StopCheque")?selectedData=' + selectedData + '&DeleteType=Active&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }

            }

        }
    });
</script>

