﻿@using System.Data
@using CountryWide.Utility
@model DataTable


@{
    ViewBag.Title = "GetReviewComplaints";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    DateTime dt;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #CardPaymentRequestTable span {
        display: none;
    }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

<h2>Review: Card Payment-Requests</h2>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">

       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />

    <input type="hidden" id="GridCount" value="@ViewBag.GridCount" name="GridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" id="CardPaymentRequestTable">
        @if (Model.Rows.Count == 0 || ViewBag.GridCount == 1)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" id="CreditCardRefund-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;

                        }

                    }


                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">
                                    </td>
                                }
                                else
                                {

                                    if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                    {

                                        bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                        if (isDate == true)
                                        {
                                            string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                            <td><span>@getDateValue</span>@row[col.ColumnName]</td>
                                        }
                                        else
                                        {
                                            <td>@row[col.ColumnName]</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }
                                }
                                columnCount++;

                            }

                            <td>

                                <a href="@Url.Action("EditCardPaymentRequest", "CardPaymentRequests", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId ,EditViewType="Edit"})">View</a>


                            </td>
                        }




                    </tr>
                }


            </tdata>
        }


    </table>

    <div style="margin-left:45%">
        <button type="button" id="btnDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen)
        {
            <button type="button" id="btnDelete" class="btn btn-primary">
                <span>  Delete  </span>
            </button>
        }

    </div>

</div>

<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($("#GridCount").val() == 1 || PageCount == 0) {

            $("#btnDownload,#btnDelete").hide();
        }
        else {

            var columnCount = $('#CardPaymentRequestTable th').length - 1;
            $('#CardPaymentRequestTable').DataTable({
                pageLength: 20,
                order: [],
                columnDefs: [{ orderable: false, targets: [0, columnCount] }]
            });

           $(".dataTables_length").css("display", "block");
            $("#CardPaymentRequestTable_length label").remove();

            $("#CardPaymentRequestTable_length").append("<span>Total Count : " + PageCount + '</span>');

        }
        $('#CreditCardRefund-select-all').on('click', function () {

            // Check/uncheck all checkboxes in the table
            var rows = $("#CardPaymentRequestTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

            $('input[type="checkbox"]').prop('checked', this.checked);
        });



        $('#CardPaymentRequestTable tbody').on('change', 'input[type="checkbox"]', function () {

            var tableRow = $("#CardPaymentRequestTable tbody tr");
            var tdataCount = tableRow.length;
            var checkCount = 0;
            if (this.checked) {


                $('#CardPaymentRequestTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        checkCount += 1;
                    });
                });

                if (tdataCount == checkCount) {
                    $('#CreditCardRefund-select-all').prop("checked", true);

                }
            }
            else {
                $('#CreditCardRefund-select-all').prop("checked", false);
            }
        });

        $("#btnDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnDelete").click(function () {

            DownloadOrDeleteOperations("Delete");
        });

          function DownloadOrDeleteOperations(operationType) {

           var selectedData = [];
            let selectedCount = 0;

                $('#CardPaymentRequestTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        selectedCount += 1;
                        var getValueId = $(this).val();
                        selectedData.push(getValueId);

                    });
                });

              if (selectedCount == 0) {
                  ShowMessage("Please select atleast one Record.");
                  return false;
              }
              else {
                  if (operationType == "Download") {
                      document.location = '@Url.Action("DownloadCardPaymentRequestTracker", "CardPaymentRequests")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;
                  }
                  else {
                      $("#btnDownload").attr("disabled", "disabled");
                      document.location = '@Url.Action("DeleteCardPaymentRequestRecords", "CardPaymentRequests")?selectedData=' + selectedData + '&DeleteType=Delete&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;
                  }
              }


        }
    });
</script>