﻿@model  CountryWide.Models.MulttiViewQueryBuilder

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #QueryBuilder tbody td:first-child {
        cursor: move;
    }

    .table-responsive {
        position: relative;
        height: 520px;
        overflow: auto;
    }

   .table-responsive thead th {
       position: sticky;
       top: 0;
   }

    table {
        border-collapse: collapse;
        width: 100%;
    }

</style>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-ui.min_draggble.js"></script>
    <div class="table-responsive">

        <table class="table table-bordered table-condensed table-striped table-hover sortable cell-border" id="QueryBuilder">

            <thead class="thead-dark">
                <tr>
                    <th>S.No</th>
                    <th>Column Name</th>
                    <th>Operator</th>
                    <th>Value</th>
                    <th style="width:195px;">Condition</th>
                </tr>
            </thead>
                <tbody>

                    @{ int count = 1;
                        foreach (var row in Model.GetTableColumnDetails)
                        {
                            if (row.ColumnAliasName != "ID")
                            {
                                <tr id="@row.ColumnRefID">
                                    <input type="hidden" class="hdnColumnRefId" name="hdnId" value="@row.ColumnRefID" />
                                    <td>@count</td>
                                    <td>@row.ColumnAliasName</td>
                                    <td style="width: 200px;">
                                        <select id="OperatorId" name="OperatorId" class="form-control commonOperator" title="Please Select" required="required">
                                            <option value="">Select Operator</option>

                                            @switch (row.DataType)
                                            {

                                                case "varchar":
                                                case "nvarchar":
                                                    foreach (var operatordata in Model.GetOperatorDetails.Where(m => m.Category == "String"))
                                                    {
                                                        if (row.OperatorRefID == operatordata.ID)
                                                        {
                                                            <option data-type="String" value="@operatordata.ID" selected>@operatordata.OperatorName</option>

                                                        }
                                                        else
                                                        {
                                                            <option data-type="String" value="@operatordata.ID">@operatordata.OperatorName</option>

                                                        }

                                                    }
                                                    break;
                                                case "int":
                                                case "money":
                                                case "decimal":
                                                    foreach (var operatordata in Model.GetOperatorDetails.Where(m => m.Category == "Number"))
                                                    {
                                                        if (row.OperatorRefID == operatordata.ID)
                                                        {
                                                            <option data-type="Number" value="@operatordata.ID" selected>@operatordata.OperatorName</option>

                                                        }
                                                        else
                                                        {
                                                            <option data-type="Number" value="@operatordata.ID">@operatordata.OperatorName</option>

                                                        }

                                                    }
                                                    break;
                                                case "datetime":
                                                    foreach (var operatordata in Model.GetOperatorDetails.Where(m => m.Category == "Date"))
                                                    {
                                                        if (row.OperatorRefID == operatordata.ID)
                                                        {
                                                            <option data-type="Date" value="@operatordata.ID" selected>@operatordata.OperatorName</option>

                                                        }
                                                        else
                                                        {
                                                            <option data-type="Date" value="@operatordata.ID">@operatordata.OperatorName</option>

                                                        }

                                                    }
                                                    break;
                                                case "bit":
                                                    foreach (var operatordata in Model.GetOperatorDetails.Where(m => m.Category == "Checkbox"))
                                                    {
                                                        if (row.OperatorRefID == operatordata.ID)
                                                        {
                                                            <option data-type="Checkbox" value="@operatordata.ID" selected>@operatordata.OperatorName</option>

                                                        }
                                                        else
                                                        {
                                                            <option data-type="Checkbox" value="@operatordata.ID">@operatordata.OperatorName</option>

                                                        }

                                                    }
                                                    break;

                                            }
                                        </select>

                                    </td>
                                    <td>

                                        @switch (row.DataType)
                                        {

                                            case "varchar":
                                            case "nvarchar":
                                                <input class="form-control string" @(row.SearchName != null ? "value=" + row.SearchName + "" : "") onkeypress="allowAlphaNumericSpace(event)" name="DynamicTextBox" type="text" />
                                                break;
                                            case "int":
                                            case "money":
                                            case "decimal":

                                              
                                                        <input class="form-control number FromNumber" @(row.SearchName != null ? "value=" + row.SearchName.Split(',')[0] + "" : "") onkeypress="allowOnlyNumeric(event)" name="DynamicTextBox" type="text" />
                                                  
                                                    if (row.OperatorRefID == 12)
                                                    {
                                                        
                                                            <input style="margin-top:4px;" class="form-control number ToNumber" @(row.SearchName != null ? "value=" + row.SearchName.Split(',')[1] + "" : "") onkeypress="allowOnlyNumeric(event)" name="DynamicTextBox" type="text" />
                                                       
                                                    }
                                                    else
                                                    {
                                                      
                                                            <input style="margin-top:4px;display:none;" class="form-control number ToNumber"  onkeypress="allowOnlyNumeric(event)" name="DynamicTextBox" type="text" />
                                                    
                                                    }
                                          
                                                break;
                                            case "datetime":
                                   
                                              
                                                    <input type="date" class="form-control inputstl StartDate" @(row.SearchName != null ? "value=" + Convert.ToDateTime(row.SearchName.Split(',')[0]).ToString("yyyy-MM-dd") + "" : "") name="StartDate" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select  Date">

                                              
                                                if (row.OperatorRefID == 12)
                                                {
                                                     
                                                        <input type="date" style="margin-top:4px;"  class="form-control inputstl EndDate" @(row.SearchName != null ? "value=" + Convert.ToDateTime(row.SearchName.Split(',')[1]).ToString("yyyy-MM-dd") + "" : "") name="EndDate" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select  Date">

                                                  
                                                }
                                                else
                                                {
                                                        <input type="date" style="margin-top:4px;display:none;"  class="form-control inputstl EndDate" name="EndDate" required="required" min="2000-01-01" onkeydown="return false;" placeholder="Select  Date">

                                                   
                                                }
                                           

                                                break;

                                        }

                                    </td>
                                    <td>
                                        <select id="ConditionId" name="ConditionId" class="form-control commonCondition" title="Please Select" required="required">
                                            <option value="">Select Condition</option>
                                            <option value="AND" @(row.Condition == "AND" ? "selected" : "")>AND</option>
                                            <option value="OR" @(row.Condition == "OR" ? "selected" : "")>OR</option>

                                        </select>

                                    </td>

                                </tr>
                                count++;
                            }
                        }

                    }


                </tbody>

        </table>
        <br />

    </div>
    <br />

    <div style="margin-left:45%;">
        <button type="button" id="btnSave" class="btn btn-primary">
            <span>  Save  </span>
        </button>
        <button type="button" id="btnDelete" class="btn btn-primary">
            <span>  Delete  </span>
        </button>
    </div>

    <button type="button" style="display:none" id="btnAlert" class="btn btn-info" data-toggle="modal" data-target="#ConfigurationModel" data-backdrop="static" data-keyboard="false">
        <span>Alert</span>
    </button>
    <div class="modal fade" id="ConfigurationModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:400px;margin-left:40%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: gold; ">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center">
                    <label class="control-label" id="ConfigurationMessageId" style=" font-size: 1.2em;"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-right: 170px; margin-top: 0px;" class="btn btn-info" data-dismiss="modal"> Ok </button>
                </div>
            </div>
        </div>
    </div>

    <script>

    $(document).ready(function () {

        var $sortable = $("#QueryBuilder > tbody");
        $sortable.sortable();


        $(".commonOperator").change(function () {
            var dataType = $(this).find("option:selected").attr("data-type");
            var operatorName = $(this).find("option:selected").text();

            if ((dataType == "Date" || dataType == "Number") && operatorName == "Between") {

                $(this).closest("tr").find("td:eq(3) .ToNumber,.EndDate").show();


            }
            else {
                $(this).closest("tr").find("td:eq(3) .ToNumber,.EndDate").hide();
            }


        });

        $("#btnSave").click(function () {

            var getAllRowData = $("#QueryBuilder tbody tr");

            var getConfiguraData = "";


            var getTrackerId = $("#TrackerName").val();
            var getViewName = $("#ViewNameid").find("option:selected").text();

            var validateCount = 0;
            var getConditionCount = 0;
            var getDateValueCount = 0;
            var getBetweenDateValueCount = 0;
            var validationDatePart = 0;
            var getNumberValueCount = 0;
            var getBetweenNumberValueCount = 0;
            var validationNumberPart = 0;

            getAllRowData.each(function () {

                var getType = $(this).find(".commonOperator option:selected").attr("data-type");
                var getTypeValue = $(this).find(".commonOperator option:selected").text();

                var getCondition = $(this).find(".commonCondition option:selected").val();

                if (getType == "String" || getType == "Checkbox" || getType == "Date" || getType == "Number") {
                    validateCount += 1;
                }

                if ((getType == "String" || getType == "Checkbox" || getType == "Date" || getType == "Number") && getCondition != "") {
                    getConditionCount += 1;
                }

                if (getType == "Date") {
                    var getFromDate = $(this).find(".StartDate").val();
                    if (getTypeValue == "Between") {
                        var getToDate = $(this).find(".EndDate").val();


                        if (getFromDate == "" || getToDate == "") {
                            getBetweenDateValueCount += 1;
                        }
                        else if (Date.parse(getFromDate) > Date.parse(getToDate)) {
                            validationDatePart += 1;
                        }

                    }
                    else if (getFromDate == "") {
                        getDateValueCount += 1;
                    }

                }


                if (getType == "Number") {
                    var getFirstNumber = $(this).find(".FromNumber").val().trim();
                    if (getTypeValue == "Between") {
                        var getSecondNumber = $(this).find(".ToNumber").val().trim();
                        if (getSecondNumber == "" || getFirstNumber == "") {
                            getBetweenNumberValueCount += 1;
                        }
                        else if (parseInt(getFirstNumber) > parseInt(getSecondNumber)) {
                            validationNumberPart += 1;
                        }

                    }
                    else if (getFirstNumber == "") {
                        getNumberValueCount += 1;
                    }
                }

            });

            if (validateCount == 0) {
                ShowConfigurationMessage("Please select any one column");
                return false;
            }
            else if (validateCount == 1 && getConditionCount > 0) {
                ShowConfigurationMessage("Please select other value");
                return false;
            }
            else if (validateCount > 1 && getConditionCount == 0) {
                ShowConfigurationMessage("Please Add Condition");
                return false;
            }
            else if (validateCount == getConditionCount) {
                ShowConfigurationMessage("Please select other value");
                return false;
            }
            else if( validateCount > getConditionCount && validateCount-1 != getConditionCount) {
                ShowConfigurationMessage("Please Add Condition");
                return false;
            }
            else if (getDateValueCount > 0) {
                ShowConfigurationMessage("Please select Date");
                return false;
            }
            else if (getBetweenDateValueCount > 0) {
                ShowConfigurationMessage("Please Select Both Dates");
                return false;
            }
            else if (validationDatePart > 0) {
                ShowConfigurationMessage("from Date Should Not Be Greater than to value");
                return false;
            }
            else if (getNumberValueCount > 0) {
                ShowConfigurationMessage("Please Enter Value");
                return false;
            }
            else if (getBetweenNumberValueCount > 0) {
                ShowConfigurationMessage("Please Enter Both Values");
                return false;
            }
            else if (validationNumberPart > 0) {
                ShowConfigurationMessage("From Value should not be greater than to value");
                return false;
            }
            else {

                var count = 0;
                getAllRowData.each(function () {
                    var getType = $(this).find(".commonOperator option:selected").attr("data-type");
                    var getTypeValue = $(this).find(".commonOperator option:selected").text();
                    var getOperatorTypeValue = $(this).find(".commonOperator option:selected").val();
                    var columnRefId = $(this).find(".hdnColumnRefId").val();
                    var getConditionValue = $(this).find(".commonCondition").val();


                    var sortValue = count + 1;

                    if (getType == "Checkbox") {
                        if (count == 0) {
                            getConfiguraData = getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + getTypeValue + "^" + sortValue;

                        }
                        else {
                            getConfiguraData = getConfiguraData + "_" + getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + getTypeValue + "^" + sortValue;

                        }
                    }
                    else if (getType == "String") {
                        if (count == 0) {
                            getConfiguraData = getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + $(this).find(".string").val() + "^" + sortValue;

                        }
                        else {
                            getConfiguraData = getConfiguraData + "_" + getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + $(this).find(".string").val() + "^" + sortValue;

                        }
                    }
                    else if (getType == "Date") {

                        var getFromDate = $(this).find(".StartDate").val();
                        var getToDate = $(this).find(".EndDate").val();

                        var combineBetweenConditionValue = getTypeValue != "Between" ? getFromDate : getFromDate + "," + getToDate;

                        if (count == 0) {
                            getConfiguraData = getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + combineBetweenConditionValue + "^" + sortValue;

                        }
                        else {
                            getConfiguraData = getConfiguraData + "_" + getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + combineBetweenConditionValue + "^" + sortValue;

                        }
                    }
                    else if (getType == "Number") {

                        var getFirstNumber = $(this).find(".FromNumber").val().trim();
                        var getSecondNumber = $(this).find(".ToNumber").val().trim();

                        var combineBetweenConditionValue = getTypeValue != "Between" ? getFirstNumber : getFirstNumber + "," + getSecondNumber;

                        if (count == 0) {
                            getConfiguraData = getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + combineBetweenConditionValue + "^" + sortValue;

                        }
                        else {
                            getConfiguraData = getConfiguraData + "_" + getTrackerId + "^" + getViewName + "^" + columnRefId + "^" + getOperatorTypeValue + "^" + getConditionValue + "^" + combineBetweenConditionValue + "^" + sortValue;

                        }
                    }

                    count += 1;
                });

                 document.location = '@Url.Action("MultiViewqueryBuilder", "Configuration")?TrackerId=' + getTrackerId + '&ViewName=' + getViewName + '&ConfigureData=' + getConfiguraData;
            }

        });

        $("#btnDelete").click(function () {
            var getTrackerId = $("#TrackerName").val();
            var getViewNameValue = $("#ViewNameid").find("option:selected").val();


            if (getTrackerId == "" || getViewNameValue == "") {
                ShowConfigurationMessage("Please Select Tracker and ViewName");
                return false;
            }
            else {

                document.location = '@Url.Action("MultiViewqueryBuilder", "Configuration")?TrackerId=' + getTrackerId + '&ViewName=' + getViewNameValue + '&OperationType=Delete';

            }
        });

    });


    function allowAlphaNumericSpace(e) {

        var code = ('charCode' in e) ? e.charCode : e.keyCode;
        if (!(code == 32) && // space
            !(code > 47 && code < 58) && // numeric (0-9)
            !(code > 64 && code < 91) && // upper alpha (A-Z)
            !(code > 96 && code < 123)) { // lower alpha (a-z)
            e.preventDefault();
        }
    }
    function allowOnlyNumeric(e) {

        var code = ('charCode' in e) ? e.charCode : e.keyCode;
        if (!(code == 32) && // space
            !(code > 47 && code < 58) // numeric (0-9)
        ) {
            e.preventDefault();
        }
    }

    function ShowConfigurationMessage(alertMessage) {
        $("#ConfigurationMessageId").text(alertMessage);
        $("#btnAlert").trigger('click');
    }

    </script>
