﻿@model CountryWide.Models.ODBCReport.EmailSubscriptionModel
@using CountryWide.Utility
@using System.Text

@{
    ViewBag.Title = "UpdateEmailSubscription";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/multiselect.min.js"></script>
<script src="~/Scripts/emailconfiguration/emailconfiguration.js"></script>
<script type="text/javascript">
    var isStopSchedule = "@Model.stopSchedule";
    var ondaysText = "@Model.Days";
</script>
<style>
    .CalendarPicker {
        width: 150px;
    }

    .datewidth {
        width: 200px !important;
    }

    .forColMonth {
        margin: 0px;
        /*  padding:0px;
        float:right;*/
    }

    .col {
        margin-left: 2px;
    }
</style>

<div class="container">
    <h1>
        Update Subscription
    </h1>
    <br />


    @using (Html.BeginForm("UpdateEmailSubscriptions", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @*@Html.HiddenFor(x => x.ReportID)*@
        @Html.HiddenFor(x => x.SubscriptionID)
        @Html.HiddenFor(x => x.ScheduleID)
        <input type="text" id="Rec" value="@Model.RecurrsionType" hidden="hidden" />


        <div class="row form-group required">
            <label class="col-md-4 control-label">TO</label>
            <div class="col-md-8">
                <input class="form-control text" id="To" @*oninvalid="this.setCustomValidity('Please Enter To')" oninput="this.setCustomValidity('')" required="required"*@ required="required" name="To" placeholder="Enter Value" title="" type="email" value="@Model.To.Replace(";",",")" multiple />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">CC</label>
            <div class="col-md-8">
                <input class="form-control text" id="CC"  name="CC" placeholder="Enter Value" title="" type="email" value="@Model.CC" multiple />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Body</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Body" name="Body" oninvalid="this.setCustomValidity('Please Enter Body')" oninput="this.setCustomValidity('')" required="required" required="required" rows="10">@Model.Body</textarea>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Subject</label>
            <div class="col-md-8">
                <input class="form-control text" id="Subject" @*oninvalid="this.setCustomValidity('Please Enter Subject')" oninput="this.setCustomValidity('')" required="required"*@ required="required" name="Subject" placeholder="Enter Value" title="" type="text" value="@Model.Subject" />
            </div>
        </div>
        <div id="frequencyType" class="row form-group required">
            <label class="col-md-4 control-label">Choose Frequency Type</label>
            <div class="col-md-8">
                @Html.RadioButtonFor(x => x.RecurrsionType, 4,new { @class="weekly"})Weekly &nbsp;
                @Html.RadioButtonFor(x => x.RecurrsionType, 5, new { @class = "monthly" })Monthly<br />
            </div>
        </div>
        <div id="weekly" style="display:none;">
            <strong>Weekly Schedule</strong>
            <p></p>
            <div class="row form-group required">
                <label class="col-md-4 control-label">Repeat after this number of weeks:</label>
                <div class="col-md-8">
                    @*<input class="form-control text" id="repeatWeekly" oninvalid="this.setCustomValidity('Please Enter Repeat after this number of weeks')" oninput="this.setCustomValidity('')" required="required" name="repeatWeekly" min="1" max="999" placeholder="Enter Value" title="" type="number" value=" @Model.weeklyInterval.ToString()" />*@
                    <input class="form-control text" id="weeklyInterval" name="weeklyInterval" oninvalid="this.setCustomValidity('Please enter values and make sure they are in range(1-999)')" min="1" max="999" maxlength="3" oninput="this.setCustomValidity('')" required="required" name="repeatWeekly" placeholder="Weekly interval" title="" type="number" value="@Model.weeklyInterval.ToString()" />
                </div>
            </div>
            <strong>On Days:</strong>
            <label><strong>Frequency</strong></label>
            <div class="row form-group">
                <br />
            </div>
            <div id="frequency" class="form-check form-check-inline">

                <div class="row form-group ">

                    <div class="col-md-8">
                        <input type="checkbox" id="Sunday" name="Sunday" class="weeklyclassname" value="true" @(Model.Sunday != null && Model.Sunday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Sunday</label>
                    </div>

                </div>

                <div class="row form-group">

                    <div class="col-md-8">
                        <input type="checkbox" id="Monday" name="Monday" class="weeklyclassname" value="true" @(Model.Monday != null && Model.Monday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Monday</label>
                    </div>
                </div>

                <div class="row form-group">

                    <div class="col-md-8">
                        <input type="checkbox" id="Tuesday" name="Tuesday" class="weeklyclassname" value="true" @(Model.Tuesday != null && Model.Tuesday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Tuesday</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-8">
                        <input type="checkbox" id="Wednesday" name="Wednesday" class="weeklyclassname" value="true" @(Model.Wednesday != null && Model.Wednesday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Wednesday</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-8">
                        <input type="checkbox" id="Thursday" name="Thursday" class="weeklyclassname" value="true" @(Model.Thursday != null && Model.Thursday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Thursday</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-8">
                        <input type="checkbox" id="Friday" name="Friday" class="weeklyclassname" value="true" @(Model.Friday != null && Model.Friday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Friday</label>
                    </div>
                </div>

                <div class="row form-group">

                    <div class="col-md-8">
                        <input type="checkbox" id="Saturday" name="Saturday" class="weeklyclassname" value="true" @(Model.Saturday != null && Model.Saturday.Value ? "checked=\"checked\"" : "") />
                        <label class="col-md-4 control-label">Saturday</label>
                    </div>
                </div>
            </div>

        </div>
        <div id="monthly" class="monthclassname" style="display:none;">
            <strong>Monthly Schedule</strong>
            <div class="row form-group">
                <br />
            </div>
            <div id="divMonths" class="form-check form-check-inline">
                <label class="col forColMonth"></label>

                <div class="col forColMonth form-check-input">
                    <input type="checkbox" id="January" name="January" class="monthclassname" value="true" style="vertical-align:-2px;margin:0;padding:0" @(Model.January != null && Model.January.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col" style="margin:-3px;padding:-3px;">January</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="February" name="February" class="monthclassname" value="true" @(Model.February != null && Model.February.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">February</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="March" name="March" class="monthclassname" value="true" @(Model.March != null && Model.March.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">March</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="April" name="April" class="monthclassname" value="true" @(Model.April != null && Model.April.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">April</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="May" name="May" class="monthclassname" value="true" @(Model.May != null && Model.May.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col form-check-input">May</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="June" name="June" class="monthclassname" value="true" @(Model.June != null && Model.June.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">June</label>

            </div>
            <div class="form-check form-check-inline">
                <label class="col forColMonth"></label>



                <div class="col forColMonth form-check-input">
                    <input type="checkbox" class="monthclassname" id="July" name="July" value="true" style="vertical-align:-2px;margin:0;padding:0" @(Model.July != null && Model.July.Value ? "checked=\"checked\"" : "") />
                    @*<label class="col" >July</label>*@
                </div>
                <label class="col" style="margin:-3px;padding:-3px;">July</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="August" name="August" class="monthclassname" value="true" @(Model.August != null && Model.August.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">August</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="September" name="September" class="monthclassname" value="true" @(Model.September != null && Model.September.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">September</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="October" name="October" class="monthclassname" value="true" @(Model.October != null && Model.October.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">October</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="November" name="November" class="monthclassname" value="true" @(Model.November != null && Model.November.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">November</label>

                <div class="col form-check-input">
                    <input type="checkbox" id="December" name="December" class="monthclassname" value="true" @(Model.December != null && Model.December.Value ? "checked=\"checked\"" : "") />
                </div>
                <label class="col">December</label>

            </div>

            <div class="row form-group">
                <div class="col-11">
                    <label class="form-label select-label">On Calendar Days:</label>
                    <input type="text" class="common" id="ondaystext" min="1" name="ondaystext" pattern="^[0-9]*[0-9,-]*[0-9]+$" value="@Model.Days" required="required" />  <b>(No special characters are allowed except - and ,)</b>

                </div>
            </div>
        </div>
       
        <div id="common">
            <div id="time">

                <div class="row form-group">
                    <div class="col-md-11">
                        <label>Start Time</label>
                        <input type="number" id="hours" name="hours" min="0" max="23" required="required" value="@Model.hours.ToString()" />:<input type="number" id="minutes" name="minutes" min="0" max="59" required="required" value="@Model.minutes.ToString()" />
                        <label>(24 Hrs format)</label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <strong>Start and end dates</strong>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    Specify the date to start and optionally end this schedule.
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    Begin running this schedule on:
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 col-md-8 input-group date">

                    <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
                        <input type="date" value="@Model.startDate.Value.ToString("yyyy-MM-dd")" style="width:50px !important;" class="form-control inputstl" id="startDate" name="startDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Start Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                        <span class="input-group-addon"><em class="glyphicon glyphicon-calendar"></em></span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <input type="checkbox" id="stopSchedule" name="stopSchedule" value="@Model.stopSchedule" />
                    @Html.Label("Stop this schedule on: ")
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 col-md-8 input-group date">
                    @*//<div class="col">*@
                    <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy" data-provide="datepicker">
                        @if (Model.endDate != null)
                        {
                            <input type="date" value="@Model.endDate.Value.ToString("yyyy-MM-dd")" disabled="disabled" style="width: 50px !important;" class="form-control inputstl" id="endDate" name="endDate" @(Model.endDate > Model.startDate) min="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select End Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span> }
                        else
                        {
                            <input type="date" disabled="disabled" style="width: 50px !important;" class="form-control inputstl" id="endDate" name="endDate" min="2000-01-01" onkeydown="return false;" placeholder="Select End Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>}

                        <span class="input-group-addon"><em class="glyphicon glyphicon-th"></em></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>

                <a href="@Url.Action("Index","Report")" class="btn btn-info"> Cancel</a>
            </div>
        </div>



    }

</div>
