﻿@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.TaskLawyer.TaskLawyerModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<div class="container">
    <h1>
        Task Lawyer Report: New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewTaskLawyerTracker", "TaskLawyer", FormMethod.Post, new { id = "NewTaskLawyerTrackerForm", enctype = "multipart/form-data" }))
    {


        <div class=" row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.CenterId, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>


        <div class=" row form-group required">
            <label class="col-md-4 control-label">KTL/Mentor</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.KTL_MentorID, Model.KTLMentorList, "Select KTL/Mentor", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select KTL/Mentor')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Overtime</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Overtime, "false") No</label>

                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Overtime, "true") Yes</label>


                </div>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Start Time</label>
            <div class="col-sm-4 col-md-8 input-group date">


                <input type="datetime-local" class="form-control inputstl" required="required" id="StartTime" onkeydown="return false;" name="StartTime"  placeholder="Select Date" value="@(Model.StartTime.ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.TeamId, Model.TaskLawyerTeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">ABS</label>
            <div class="col-md-8">
                <input id="ABS" name="ABS" type="checkbox" value="true" @(Model.ABS != null && Model.ABS.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Enter FE Initials</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.Enter_FEInitialsID, Model.FEInitialsList, "Select FE Initials", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select FE initials')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Lawyer Grade</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.LawyerGradeID, Model.LawyerGradeList, "Select Lawyer Grade", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Lawyer Grade')", @oninput = "this.setCustomValidity('')",@class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" maxlength="20" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Task</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TaskID, Model.TaskList, "Select Task", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Task')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">End Time</label>
            <div class="col-sm-4 col-md-8 input-group date">


                <input type="datetime-local" class="form-control inputstl" required="required" id="EndTime" onkeydown="return false;" name="EndTime"  placeholder="Select Date" value="@(Model.EndTime.ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Notes/Comments</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Notes_Comments" name="Notes_Comments" rows="10">@Model.Notes_Comments</textarea>


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Annotated</label>
            <div class="col-md-8">
                <input id="Annotated" name="Annotated" type="checkbox" value="true" @(Model.Annotated != null && Model.Annotated.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Admin</label>
            <div class="col-md-8">
                <input class="form-control" id="Admin" maxlength="50" name="Admin" title="" type="text" value="@Model.Admin" />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Completed as Part of Holiday Cover</label>
            <div class="col-md-8">
                <input id="HolidayCoverage" name="HolidayCoverage" type="checkbox" value="true" @(Model.HolidayCoverage != null && Model.HolidayCoverage.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Additional Fees Billed</label>
            <div class="col-md-8">
                <input id="AdditionalFee" name="AdditionalFee" type="checkbox" value="true" @(Model.AdditionalFee != null && Model.AdditionalFee.Value ? "checked=\"checked\"" : "") />
                <br />
                <span>were additional fees billed</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Reason for Additional Fee</label>
            <div class="col-md-8">
                <input class="form-control" id="ReasonForAdditionalFee"  name="ReasonForAdditionalFee" maxlength="100" title="" type="text" value="@Model.ReasonForAdditionalFee" />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Fee Amount(excl. VAT)</label>
            <div class="col-md-8">
                <input class="form-control" id="FeeAmount" name="FeeAmount" title="" onpaste="return false;"  type="text" onkeypress="return isNumberKey(event)" maxlength="10" value="@Model.FeeAmount" />
                <br />
                <span> Enter Net Fee(Not Including VAT)</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">VAT Due</label>
            <div class="col-md-8">
                <input class="form-control" id="VATDue" name="VATDue" title="" type="text" onpaste="return false;"  onkeypress="return isNumberKey(event)" maxlength="10" value="@Model.VATDue" />
                <br />
                <span> If VAT is due, enter amount, i.e. 20% of Net Fee </span>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    
    $('#StartTime').change(function () {
        CheckDates('start')


    });
    $('#EndTime').change(function () {

        CheckDates('end')


    });


    function CheckDates(type) {
        var startDate = new Date($('#StartTime').val());

        var endDate = new Date($('#EndTime').val());

        if (endDate != null && startDate != null && (endDate < startDate)) {

            ShowMessage("End Time should be greater than Start Time");
            if (type == 'start') {
                $("#StartTime").val(null);
            }
            else {
                $("#EndTime").val(null);
            }

            return false;
        } else {
            return true;
        }

    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>