﻿@using CountryWide.Utility
@model CountryWide.Models.ContaminatedLand.ContaminatedLandModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditContaminatedLand";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">

   $(document).ready(function () {
   ShowMessage('@ViewBag.Message');
  });

</script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
    <h1>
        Contaminated Land Indemnity: Edit/View
    </h1>
    }
    else
    {
    <h1>
         Contaminated Land Indemnity: View
    </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateContaminatedLand", "ContaminatedLand", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadContaminatedLandFile", "ContaminatedLand", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>
                }

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                @Html.HiddenFor(M => M.ExitsCustomerMatterNumbers)
                <input class="form-control" id="MatterNumber" name="MatterNumber" required="required" oninvalid="this.setCustomValidity('Please Enter Matter Number')" oninput="this.setCustomValidity('')" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" required="required" placeholder="Enter Client name" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Center", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.CenterID)
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Address</label>
            <div class="col-md-8">
                <textarea class="form-control" id="PropertyAddress" name="PropertyAddress" rows="8"  oninvalid="this.setCustomValidity('Please Enter Property Address')"  oninput="this.setCustomValidity('')" required="required" placeholder="Enter Property Address" title="" type="text" value="">@Model.PropertyAddress</textarea>
            </div>
        </div>

        <div class="row form-group ">
            <label class="col-md-4 control-label">Exchange Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                @if (Model.ExchangeDate == null)
                {
                    <input type="date" class="form-control inputstl" id="ExchangeDate" name="ExchangeDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }
                else
                {
                    <input type="date" class="form-control inputstl" id="ExchangeDate" name="ExchangeDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@(Model.ExchangeDate.Value.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }

            </div>
        </div>
        <div class="row form-group ">
            <label class="col-md-4 control-label">Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">
                @if (Model.CompletionDate == null)
                {

                    <input type="date" class="form-control inputstl" id="CompletionDate" name="CompletionDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                }
                else
                {
                    <input type="date" class="form-control inputstl" id="CompletionDate" name="CompletionDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@Model.CompletionDate.Value.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property Price</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="PropertyPrice" name="PropertyPrice"  required="required" placeholder="Enter Property Price" title="" value="@(Model.PropertyPrice)" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Premium IP Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="PremiumIPAmount" name="PremiumIPAmount" required="required" placeholder="Enter Premium IP Amount"  title="" value="@(Model.PremiumIPAmount)" />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">CA only</label>
            <div class="col-md-8 dropdown">
                <input id="CAOnly" name="CAOnly" type="checkbox" value="true" @(Model.CAOnly != null && Model.CAOnly.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Fee Earner</label>
            <div class="col-md-8 dropdown">
                <input class="form-control" type="text" id="FeeEarner" required="required" name="FeeEarner" placeholder="Enter Fee Earner" title="" value="@Model.FeeEarner" />
            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"ContaminatedLand", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["ContaminatedLandViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">
                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary" onclick="return checkDates('Completion date cannot be less than Exchange Date');">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewContaminatedLand","ContaminatedLand", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["ContaminatedLandViewName"] })" class="btn btn-info"> Close</a>

            </div>
        </div>
    }
</div>



<script type="text/javascript">

    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });
   

    $(".row input").not("input[type=text],textarea,number, select").attr("readonly", "readonly");
    $(".row input,select,textarea,number").attr("disabled", "disabled");

    $('#PropertyPrice').val(round($('#PropertyPrice').val(), 2));
    $('#PremiumIPAmount').val(round($('#PremiumIPAmount').val(), 2));
    function round(value, decimals) {
        return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals).toFixed(decimals);
    }
    $("#btnEdit").click(function () {

        $(".row input").not("select").removeAttr("readonly", "readonly");
        $(".row input,select,textarea,number").removeAttr("disabled", "disabled");
        //if ($("#ExitsCustomerMatterNumbers").val() == "True") {
        //    $("#MatterNumber,#ClientName").attr("readonly", "readonly");
           

        //    $("#CenterID").attr("disabled", "disabled");
        //}
        $("#MatterNumber").attr("readonly", "readonly");
      
        $("#divedit").hide();
        $("#divsave").show();


    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


   


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });

    $('#ExchangeDate,#CompletionDate').change(function () {

        if ($(this).attr("name") == "ExchangeDate") {
            checkDates("Exchange Date Cannot be gater than Completion Date");
        }
        else {
            checkDates("Completion Date Cannot be less then Exchange Date");
        }

    });
    function checkDates(alertMessage) {
        var getExchangeDate = new Date($('#ExchangeDate').val());
        var getCompletionDate = new Date($('#CompletionDate').val());
        if (getExchangeDate != null && getCompletionDate != null && (getExchangeDate > getCompletionDate)) {
            ShowMessage(alertMessage);
            return false;
        } else {
            return true;
        }
    }
    var txt = document.getElementById('PropertyPrice');
    txt.addEventListener('keyup', myFunc);
    var txtPremium = document.getElementById('PremiumIPAmount');
    txtPremium.addEventListener('keyup', myFunc);
    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }

</script>

