﻿@using CountryWide.Utility
@{
    ViewBag.Title = "EditPanelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

@model CountryWide.Models.PanelFormModel


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}

<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Panel Form: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Panel Form: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdatePanelForm", "PanelForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>

            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadPanelFormFile", "PanelForm", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>
                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Type Of Panel</label>
            <div class="col-md-8">
                @Html.DropDownListFor(pt => pt.TypeOfPanelID, Model.NewCompliantModel.PanelModelList, "Select Panel Type", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select panel type')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Reason For Panel</label>
            <div class="col-md-8">
                @Html.DropDownListFor(pt => pt.ReasonForPanelID, Model.NewCompliantModel.PanelReasonList, "Select Reason For Panel", new { @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" name="ClientName" placeholder="Enter Client Name" title="" type="text" value="@Model.ClientName" required="required" oninvalid="this.setCustomValidity('Please enter client name')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Address</label>
            <div class="col-md-8">
                <input class="form-control" id="Address" name="Address" placeholder="Enter Address" title="" type="text" value="@Model.Address" required="required" oninvalid="this.setCustomValidity('Please enter address')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">TMID/eDIF No</label>
            <div class="col-md-8">
                <input class="form-control" id="TMID" name="TMID" placeholder="Enter TMID/eDIF No" title="" type="text" value="@Model.TMID" required="required" oninvalid="this.setCustomValidity('Please enter TMID/eDIF no')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Details</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Details" name="Details" rows="10" required="required" oninvalid="this.setCustomValidity('Please enter details')" oninput="this.setCustomValidity('')">@(Model.Details)</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Panel Firm (Funds going to)</label>
            <div class="col-md-8">
                <input class="form-control" id="PanelFrim_FundsGoing" name="PanelFrim_FundsGoing" placeholder="Panel Firm (Funds going to)" title="" type="text" value="@Model.PanelFrim_FundsGoing" required="required" oninvalid="this.setCustomValidity('Please enter panel firm (funds going to)')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Panel firm (Funds coming from)</label>
            <div class="col-md-8">
                <input class="form-control" id="PanelFrim_FundsComing" name="PanelFrim_FundsComing" placeholder="Panel firm (Funds coming from)" title="" type="text" value="@Model.PanelFrim_FundsComing" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Awaiting funds?</label>
            <div class="col-md-8">
                @Html.DropDownListFor(pt => pt.AwaitingFundsId, Model.NewCompliantModel.PanelAwaitingFundsList, "Select Funds Status", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select funds status)')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" id="Amount" name="Amount" placeholder="Enter Amount" onpaste="return false;"  title="" type="text" value="@Model.Amount"  required="required" oninvalid="this.setCustomValidity('Please enter amount')" oninput="this.setCustomValidity('')" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Client accounts - complete</label>
            <div class="col-md-8">

                <input id="ClientAccounts_complete" name="ClientAccounts_complete" type="checkbox" value="true" @(Model.ClientAccounts_complete != null && Model.ClientAccounts_complete.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Action required by panel</label>
            <div class="col-md-8">

                <input id="ActionrequiredByPanel" name="ActionrequiredByPanel" type="checkbox" value="true" @(Model.ActionrequiredByPanel != null && Model.ActionrequiredByPanel.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Panel team complete</label>
            <div class="col-md-8">

                <input id="PanelTeamComplete" name="PanelTeamComplete" type="checkbox" value="true" @(Model.PanelTeamComplete != null && Model.PanelTeamComplete.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Panel firm allocated/appointed</label>
            <div class="col-md-8">
                <input class="form-control" id="PanelFirmAllocated_Appointed" name="PanelFirmAllocated_Appointed" placeholder="Panel Firm Allocated / Appointed" title="" type="text" value="@Model.PanelFirmAllocated_Appointed" />
            </div>
        </div>
        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {

                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"PanelForm", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["PanelFormViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewPanelForm","PanelForm", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,ViewName = Session["PanelFormViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>

    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });
    $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });
    $('#Amount').val(round($('#Amount').val(), 2));
    function round(value, decimals) {
        return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals).toFixed(decimals);
    }
    $("#btnEdit").click(function () {
        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");
        $("#divedit").hide();
        $("#divsave").show();
    });
    var txt = document.getElementById('Amount');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
</script>
