﻿
@{
    ViewBag.Title = "ConfigurationView";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

}

<style>

    .drowdowncss {
        width: 250px;
        margin-left: -25%;
        height: 35px;
    }
</style>

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>


@if (ViewBag.MappedMessage != null)
{
    <script type="text/javascript">
          $(document).ready(function () {
        ShowMessage('@ViewBag.MappedMessage');
    });
    </script>
}

<div class="container" >
    <h1>
        Query Builder
    </h1>
    <br />

    <div class="row form-group required">
        <label class="col-md-2 control-label">Tracker Name: </label>
        <div class="col-md-3">
            @Html.DropDownList("TrackerName", new SelectList(ViewBag.getTeamlist, "TrackerId", "TrackerName"), "Please Select Tracker Name", new { @required = "required", @id = "TrackerName", @class = "form-control selectpicker drowdowncss" })
        </div>
        <label class="col-md-2 control-label">View Name: </label>
        <div class="col-md-3">

            <select id="ViewNameid" name="ViewNameid" class="form-control drowdowncss" title="Please Select" required="required">
                <option value="">Please Select View Name</option>
            </select>
        </div>
    </div>
    </div>

    @*<div class="row form-group required">
      


</div>*@

<div id="QueryBuilderData">


</div>



<script type="text/javascript">



    $(document).ready(function () {



        $("#TrackerName").change(function () {

            var getTrackerId = $("#TrackerName").val().trim();

                $("#ViewNameid option:gt(0)").remove();
                $("#ColumnDetailsid option:gt(0)").remove();

            if (getTrackerId != "") {

                $.ajax({
                    url: "@Url.Action("GetConfigurationViewslist", "Configuration")",
                    data: { Trackerid: getTrackerId },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {
                        var Selectedlist = "";

                        for (var i = 0; i < data.length; i++) {
                            Selectedlist += '<option value="' + data[i].Id + '">' + data[i].ViewName + '</option>';
                        }
                        $("#ViewNameid").append(Selectedlist);
                    }
                });
            }
            else {
                $("#QueryBuilderData").html("");
            }
        });

        $("#ViewNameid").change(function () {

            var getTrackerId = $("#TrackerName").val();
            var getViewName = $(this).find("option:selected").text();


            if ($(this).val() != "") {
                $.ajax({
                    url: "@Url.Action("GetQueryBuilderMultiViewList", "Configuration")",
                    data: { TrackerId: getTrackerId, ViewName: getViewName },
                    datatype: "json",
                    type: "post",
                    contenttype: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        $("#QueryBuilderData").html(data);
                    },
                    error: function (xhr) {
                        ShowMessage('error');
                    }
                });
            }
            else {
                $("#QueryBuilderData").html("");
            }

        });


    });


</script>
