﻿
@{
    ViewBag.Title = "ConfigurationView";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

}

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/fieldChooser.js"></script>

@if (ViewBag.MappedMessage != null)
{
    <script type="text/javascript">
          $(document).ready(function () {
        ShowMessage('@ViewBag.MappedMessage');
    });
    </script>
}

<div class="container">
    <h1>
        Multi View
    </h1>
    <br />

    <div class="row form-group required">
        <label class="col-md-2 control-label">Tracker Name: </label>
        <div class="col-md-9">
            @Html.DropDownList("TrackerName", new SelectList(ViewBag.getTeamlist, "TrackerId", "TrackerName"), "Please Select Tracker Name", new { @required = "required", @id = "TrackerName", @class = "form-control selectpicker" })
        </div>
    </div>

    <div class="row form-group required">
        <label class="col-md-2 control-label">View Name: </label>
        <div class="col-md-9">

            <select id="ViewNameid" name="ViewNameid" class="form-control" title="Please Select" required="required">
                <option value="">Please Select View Name</option>
                <option value="CreateScreen">Create</option>
                <option value="Create">Create View</option>
                <option value="Delete">Delete</option>
                <option value="Resolve">Resolve</option>
            </select>
        </div>
    </div>

    <div class="row">

        <!-- Left side select -->
        <div class="col-xs-5 col-md-5 col-sm-5">
            <label class="control-label" title="Multi-select fields in this panel and click on >icon to include selected fields into Review grid of this tracker.Select >> icon to select all mandatory fields into review grid">Mandatory Fields in the tracker</label>
            <div id="sourceFields" class="form-control" style="height:300px;width:100%;">


            </div>
        </div>

        <!-- Action buttons -->
        <div class="col-xs-1 col-md-1 col-sm-1" style="margin-top: 130px;margin-right:-1%;margin-left:1%;">
            <button type="button" id="mySideToSideSelect_rightAll" style="width: 50px;" title="Click this icon to add all mandatory fields in review grid" class="btn btn-primary btn-block"><strong>>></strong></button>
            <button type="button" id="mySideToSideSelect_leftAll" style="width: 50px;" title="Click this icon to remove  all  fields from review grid" class="btn btn-primary btn-block"> <strong><<</strong> </button>
        </div>

        <!-- Right side select -->
        <div class="col-xs-5 col-md-5 col-sm-5">
            <label class="col-md-7 control-label" style="margin-left:-3%;" title="Field list shown in this panel is configured field list for review grid of this tracker. Multi-select fields and click on < icon to de-select fields from review grid. You can click on << to clear all selected fields from review grid">Selected fields for Review grid</label>
            <div id="destinationFields" class="form-control" style="height:300px;width:100%;">


            </div>
        </div>
    </div>
    <br />

    <div class="row form-group multiConfig" id="ViewRequired">
        <label class="col-md-4 control-label">View Name: </label>
        <div class="col-md-7">
            <input type="text" class="form-control" id="MultiViewName" name="MultiViewName" maxlength="100" readonly="readonly" required="required" />
        </div>
    </div>


    <div class="row form-group multiConfig">
        <label class="col-md-4 control-label">Do you want to make this view as Active?: </label>
        <div class="col-md-1">
            <input type="checkbox" id="IsActive" name="IsActive" disabled="disabled" />
        </div>
    </div>

    <br />
    <div class="row">
        <div style="margin-left:38%;">
            <button type="button" id="btnSubmit" class="btn btn-primary" title="Click here to save changes" style="width:75px;">
                <span>  Ok  </span>
            </button>

            <button type="button" id="btnCancel" class="btn btn-info" title="Click here to navigate back to homepage. Any unsaved changes will be lost" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                <span>Cancel</span>
            </button>

            <button type="button" id="btnDelete" class="btn btn-primary" style="width:75px;">
                <span>  Delete  </span>
            </button>
        </div>
    </div>

</div>

<script>

$(document).ready(function () {

    var viewNamesList = ["Resolve", "Review", "Delete"];

    var sourceFields = $("#sourceFields");
    var destinationFields = $("#destinationFields");
    var $chooser = $("#fieldChooser").fieldChooser(sourceFields, destinationFields);

    $("#mySideToSideSelect_rightAll").click(function () {

        $("#destinationFields").append($("#sourceFields").html());
        $("#sourceFields").html("");
    });

    $("#mySideToSideSelect_leftAll").click(function () {

        $("#sourceFields").append($("#destinationFields").html());
        $("#destinationFields").html("");
    });


    $("#TrackerName").change(function () {

        var getTrackerId = $("#TrackerName").val().trim();

        if (getTrackerId == "27") {
            $("#ViewNameid option:eq(1)").show();

        }
        else {
            $("#ViewNameid option:eq(1)").hide();
        }


        if (getTrackerId != "1") {
            $("#ViewNameid option:eq(4)").hide();
        }
        else {
            $("#ViewNameid option:eq(4)").show();

        }
        $('#ViewNameid').val('');
        $("#ViewNameid option:gt(4)").remove();
        $("#sourceFields,#destinationFields").html('');


        if (getTrackerId != "") {

            $.ajax({
                url: '@Url.Action("GetConfigurationViewslist", "Configuration")',
                data: { Trackerid: getTrackerId },
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    var Selectedlist = "";

                    for (var i = 0; i < data.length; i++) {
                        Selectedlist += '<option value="' + data[i].Id + '">' + data[i].ViewName + '</option>';
                    }
                    $("#ViewNameid").append(Selectedlist);
                }
            });
        }


    });


         $("#ViewNameid").change(function () {
                var $getTrackerNameid = $("#TrackerName").val();
                var $getViewNameid = $("#ViewNameid").val();

                if ($getViewNameid == "") {

                $("#sourceFields,#destinationFields").html('');

                }


             if ($getViewNameid != "" && viewNamesList.includes($getViewNameid) != true && $getViewNameid != "CreateScreen") {

                $("#MultiViewName").val("").removeAttr("readonly").attr("required", "required");
                $("#ViewRequired").addClass("required");
                $("#IsActive").removeAttr("disabled");
                $(".multiConfig,#btnDelete").show();


                }
                else {

                $("#MultiViewName").val("").attr("readonly", "readonly").removeAttr("required");
                $("#ViewRequired").removeClass("required");
                $("#IsActive").attr("disabled", "disabled");
                    $(".multiConfig,#btnDelete").hide();
                }


                if ($getTrackerNameid != "" && $getViewNameid != "") {
                    var getIsActive
                    var completiondairyMandatoryFieldsList = ["Matter Number", "Team", "Client Surname", "Matter Type", "Expected Completion Date"];

                    var Selectedlist = "", Nonselectedlist = "";
                $.ajax({
                url: "@Url.Action("GetConfigurationHeaderslist", "Configuration")",
                data: { Trackerid: $getTrackerNameid, ViewName: $getViewNameid },
                type: 'GET',
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        if ($getTrackerNameid == 27 && $getViewNameid == "CreateScreen") {

                            if (data[i].IsSelected == 1) {

                                if (completiondairyMandatoryFieldsList.includes(data[i].ColumnAliasName) == true)
                                    {
                                    Selectedlist += '<div id="' + data[i].Id + '">' + data[i].ColumnAliasName +  " <font color='red'>*</font>" + '</div>';

                                }
                                else {
                                    Selectedlist += '<div id="' + data[i].Id + '">' + data[i].ColumnAliasName + '</div>'

                                }


                            }
                            else {
                                Nonselectedlist += '<div id="' + data[i].Id + '">' + data[i].ColumnAliasName + '</div>';
                            }
                        }
                        else {
                            if (data[i].IsSelected == 1) {

                                Selectedlist += '<div id="' + data[i].Id + '">' + data[i].ColumnAliasName + '</div>';
                            }
                            else {
                                Nonselectedlist += '<div id="' + data[i].Id + '">' + data[i].ColumnAliasName + '</div>';
                            }
                        }

                }
                $("#IsActive").prop("checked", data[0].IsActive);
                $("#sourceFields").html(Nonselectedlist);
                $("#destinationFields").html(Selectedlist);
                }
                });

                if (viewNamesList.includes($getViewNameid) != true && $getViewNameid != "Create") {

                $("#MultiViewName").val($getViewNameid);
                }
                else {
                $("#MultiViewName").val("");
                }
                }
                else if ($getTrackerNameid == "" && $getViewNameid != "") {
                ShowMessage("Please select Tracker Name.");
                $('#ViewNameid').val('');
                return false;
                }
                else if ($getTrackerNameid == "" && $getViewNameid == "") {
                ShowMessage("Please select Tracker Name and View Name.");
                return false;
                }

                });




      $("#IsActive").change(function () {
                var viewNamesList = ["Resolve", "Review", "Delete"];
                var $getTrackerNameid = $("#TrackerName").val();
                var $getViewNameid = $("#ViewNameid").val();
                var $IsActive = $(this).prop("checked");

                if ($getTrackerNameid != "" && $getViewNameid != "" && viewNamesList.includes($getViewNameid) != true && $(this).prop("checked") == true) {
                ShowMessage("This will be default as view screen in Review Screen.");
                }

                });


      $('#btnCancel').click(function () {

                $('#ViewNameid').val('');
                $("#TrackerName").val('');
                $("#mySideToSideSelect").html('');
                $("#mySideToSideSelect_to").html('');
                });

      $('#btnSubmit').click(function () {


      var $TrackerNameid = $("#TrackerName").val();
      var $ViewName = $("#ViewNameid").val();

      var selectedData = [];
      var selectedOrderDatawithId = [];

      var completiondairyMandatoryFieldsList = ["Matter Number *", "Team *", "Client Surname *", "Matter Type *", "Expected Completion Date *"];


      var $IsActive = $("#IsActive").prop('checked');

          let selectedCount = 0;
          let completionDairyCount= 0;


      $('#destinationFields div').each(function () {
          selectedCount += 1;
          var getValueId = $(this).attr("id");
          var getValueName = $(this).text();

          var getOrderedValueId = $(this).attr("id") + "_" + selectedCount;
          selectedData.push(getValueId);
          selectedOrderDatawithId.push(getOrderedValueId);
          if (completiondairyMandatoryFieldsList.includes(getValueName) == true) {
              completionDairyCount += 1;
          }


      });

                if (selectedCount == 0 || $TrackerNameid.trim() == '' || $ViewName.trim() == '') {
                        if ($TrackerNameid.trim() == '' && $ViewName.trim() == '') {
                        ShowMessage("Please select Tracker Name and View Name.");
                        return false;
                        }
                    if ($ViewName.trim() == '') {
                        ShowMessage("Please select View Name.");

                        return false;
                    }
                    ShowMessage("Please select atleast one record in the Review Grid.");
                        return false;
                }
                else {
                    var multiViewNamesList = ["Resolve", "Review", "Delete"];

                        var getNewViewName = $("#MultiViewName").val().trim();

                    if (getNewViewName == "" && multiViewNamesList.includes($ViewName) != true && $ViewName != "CreateScreen") {
                        ShowMessage("Please Enter View Name");
                        return false;

                    }
                    else if ($TrackerNameid == "27" && $ViewName == "CreateScreen") {
                        if (completionDairyCount == completiondairyMandatoryFieldsList.length) {

                            document.location = '@Url.Action("UpdateConfiguration", "Configuration")?selectedData=' + selectedData + '&selectedOrderwithId=' + selectedOrderDatawithId + '&TrackerNameid=' + $TrackerNameid + '&ViewName=' + $ViewName;
                        }
                        else {
                            ShowMessage("Mandatory fields cannot be de-selected");
                            return false;
                        }

                    }
                    else {
                        if (multiViewNamesList.includes($ViewName) != true) {
                                $.ajax({
                                    url: "@Url.Action("CheckViewNameExistorNot", "Configuration")",
                                    data: { TrackerId: $TrackerNameid, ViewName: getNewViewName },
                                    type: 'GET',
                                    dataType: "json",
                                    success: function (response) {
                                        let viewCount = parseInt(response);
                                        if (viewCount > 0) {
                                            if ($ViewName == "Create") {
                                                ShowMessage("View Name is already existed");
                                                return false;
                                            }
                                            if ($ViewName == getNewViewName) {
                                                SubmitConfigurationOperation($ViewName, $TrackerNameid, $IsActive, selectedData, selectedOrderDatawithId, getNewViewName);
                                            }
                                            else {
                                                ShowMessage("View Name is already existed");
                                                return false;
                                            }
                                        }
                                        else {
                                            SubmitConfigurationOperation($ViewName, $TrackerNameid, $IsActive, selectedData, selectedOrderDatawithId, getNewViewName);
                                        }

                                    }
                                });

                            }
                            else {
                                   SubmitConfigurationOperation($ViewName, $TrackerNameid, $IsActive, selectedData, selectedOrderDatawithId, getNewViewName);
                            }
                    }
                }
                });


          $("#btnDelete").click(function () {

                var $TrackerNameid = $("#TrackerName").val();
                var $ViewName = $("#ViewNameid").val();

                if ($TrackerNameid.trim() == '' || $ViewName.trim() == '') {
                if ($TrackerNameid.trim() == '' && $ViewName.trim() == '') {
                ShowMessage("Please select Tracker Name and View Name.");
                return false;
                }

                if ($ViewName.trim() == '') {
                ShowMessage("Please select View Name.");
                return false;
                }
                }
                else {
                var multiViewNamesList = ["Resolve", "Review", "Delete"];

                    if ($ViewName == "Create" || multiViewNamesList.includes($ViewName) == true) {
                        console.log("create");
                        ShowMessage("Please Select View Only.");
                        return false;

                    }
                    else {
                        $.ajax({
                            url: "@Url.Action("CheckActiveView", "Configuration")",
                            data: { TrackerId: $TrackerNameid },
                            type: 'GET',
                            dataType: "json",
                            success: function (response) {
                                let activeCount = parseInt(response);
                                if (activeCount == 0) {
                                    ShowMessage("Please make atleast one view as default and can able to delete view");
                                    return false;
                                }
                                else {
                                    document.location = '@Url.Action("UpdateConfiguration", "Configuration")?TrackerNameid=' + $TrackerNameid + '&ViewName=' + $ViewName + '&TransactionType=DELETE';

                                }

                            }
                        });

                    }
                }
          });



});


    function SubmitConfigurationOperation(ViewName, TrackerNameid, IsActive, selectedData, selectedOrderDatawithId, getNewViewName) {

        var viewNamesList = ["Resolve", "Review", "Delete"];

        if (viewNamesList.includes(ViewName) != true) {
                                $.ajax({
                                    url: "@Url.Action("CheckActiveView", "Configuration")",
                                    data: { TrackerId: TrackerNameid },
                                    type: 'GET',
                                    dataType: "json",
                                    success: function (response) {
                                        let activeCount = parseInt(response);
                                        if (activeCount == 0) {

                                            if (ViewName == "Create" && IsActive == false) {
                                                ShowMessage("Please make atleast one view as default and can able to create another view");
                                                return false;
                                            }
                                            else if (IsActive == false) {
                                                ShowMessage("Please make atleast one view as default");
                                                return false;
                                            }

                                        }
                                        if (viewNamesList.includes(ViewName) != true && ViewName == "Create") {
                                            document.location = '@Url.Action("UpdateConfiguration", "Configuration")?selectedData=' + selectedData + '&selectedOrderwithId=' + selectedOrderDatawithId + '&TrackerNameid=' + TrackerNameid + '&ViewName=' + ViewName + '&UpdateViewName=' + getNewViewName + '&IsActive=' + IsActive + '&TransactionType=CREATE';
                                        }
                                        else if (viewNamesList.includes(ViewName) != true) {
                                            document.location = '@Url.Action("UpdateConfiguration", "Configuration")?selectedData=' + selectedData + '&selectedOrderwithId=' + selectedOrderDatawithId + '&TrackerNameid=' + TrackerNameid + '&ViewName=' + ViewName + '&UpdateViewName=' + getNewViewName + '&IsActive=' + IsActive + '&TransactionType=UPDATE';
                                        }

                                    }
                                });
                            }
                            else {
                            document.location = '@Url.Action("UpdateConfiguration", "Configuration")?selectedData=' + selectedData + '&selectedOrderwithId=' + selectedOrderDatawithId + '&TrackerNameid=' + TrackerNameid + '&ViewName=' + ViewName;

                            }

    }

</script>