﻿@using System.Data
@using CountryWide.Utility

@model DataTable
@{
    ViewBag.Title = "GetReviewInterestPayable";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    DateTime dt;
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #InterestPayableTable span {
        display: none;
    }
</style>
<h2>Review: Interest Payable OC</h2>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />
    <input type="hidden" id="InterestPayableGridCount" value="@ViewBag.InterestPayableGridCount" name="InterestPayableGridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable" id="InterestPayableTable">
        @if (Model.Rows.Count == 0 || ViewBag.InterestPayableGridCount == 1)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" id="InterestPayable-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;
                        }
                    }
                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                    </td>
                                }
                                else
                                {

                                    if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                    {

                                        bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                        if (isDate == true)
                                        {

                                            string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                            <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                        }
                                        else
                                        {

                                            <td>@row[col.ColumnName]</td>

                                        }
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }




                                }
                                columnCount++;

                            }

                            <td>

                                <a href="@Url.Action("EditInterestPayable", "InterestPayableOC", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,EditViewType="Edit" })">   View</a>


                            </td>
                        }

                    </tr>
                }


            </tdata>
        }


    </table>

    <div style="margin-left:45%">
        <button type="button" id="btnDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen)
        {
            <button type="button" id="btnDelete" class="btn btn-primary">
                <span>  Delete  </span>
            </button>
        }
        </div>

</div>

<script>
    $(document).ready(function () {
        if ($("#InterestPayableGridCount").val() == 1) {

            $("#btnDownload,#btnDelete").hide();
        }

        var columnCount = $('#InterestPayableTable th').length-1;
        $('#InterestPayableTable').DataTable({
            pageLength: 20,
            order: [],
            columnDefs: [{ orderable: false, targets: [0,columnCount] }]
        });

       $(".dataTables_length").css("display", "block");
        $("#InterestPayableTable_length label").remove();

        var PageCount = $("#Pagecount").val();



        $("#InterestPayableTable_length").append("<span>Total Count : " + PageCount + '</span>');


        $('#InterestPayable-select-all').on('click', function () {

            // Check/uncheck all checkboxes in the table
            var rows = $("#InterestPayableTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

            $('input[type="checkbox"]').prop('checked', this.checked);
        });



        $('#InterestPayableTable tbody').on('change', 'input[type="checkbox"]', function () {

            var tableRow = $("#InterestPayableTable tbody tr");
            var tdataCount = tableRow.length;
            var checkCount = 0;
            if (this.checked) {


                $('#InterestPayableTable  tbody tr').each(function () {

                    $(this).find('input:checked').each(function () {
                        checkCount += 1;
                    });
                });

                if (tdataCount == checkCount) {
                    $('#InterestPayable-select-all').prop("checked", true);

                }
            }
            else {
                $('#InterestPayable-select-all').prop("checked", false);
            }
        });

        $("#btnDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnDelete").click(function () {

            DownloadOrDeleteOperations("Delete");
        });

        function DownloadOrDeleteOperations(operationType) {
            console.log(operationType)

            var selectedData = [];
            let selectedCount = 0;

            $('#InterestPayableTable  tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                    document.location = '@Url.Action("DownloadInterestPayableTracker", "InterestPayableOC")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;
                }
                else {
                    $("#btnDownload").attr("disabled", "disabled");
                    document.location = '@Url.Action("DeleteInterestPayableOC", "InterestPayableOC")?selectedData=' + selectedData + '&DeleteType=Delete&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;
                }
            }


        }
    });
</script>