﻿@using CountryWide.Utility
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditBridgeControl";
    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());


}

@model CountryWide.Models.BridgeControl.BridgeControlModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Bridge Control: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Bridge Control: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateBridgeControl", "BridgeControl", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="Id" id="Id" value="@Model.ID" />
        <input type="hidden" name="hdnMyfile" id="hdnMyfile" value="@Model.AttachFile" />

        @Html.HiddenFor(M => M.MatterNumberExists)

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach file:</label>
            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
                @if (Model.AttachFile != "" && Model.AttachFile != null)
                {
                    <br />
                    <a class="" title="Download" href="@Url.Action("DownloadBridgeControlFile", "BridgeControl", new { Filepath = Model.AttachFile })"> <em class="class='far fa-edit' style='font-size:36px'"></em>@Model.AttachFile</a>

                }

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Date Auth</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="DateAuth" name="DateAuth" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@Model.DateAuth.ToString("yyyy-MM-dd")"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Submitted By</label>
            <div class="col-md-8">
                <input class="form-control" id="SubmittedBy" name="SubmittedBy" required="required" placeholder="Enter Submitted By" title="" type="text" value="@Model.SubmittedBy" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.CenterID)
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8">
                <input class="form-control" id="Team" name="Team" required="required" placeholder="Enter Team" title="" type="text" value="@Model.Team" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">
                <input class="form-control" id="MatterNumber" readonly="readonly" name="MatterNumber" required="required" title="" type="text" value="@Model.MatterNumber" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name</label>
            <div class="col-md-8">
                <input class="form-control" id="ClientName" readonly="readonly" name="ClientName" required="required" title="" type="text" value="@Model.ClientName" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Category</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.CategoryID, Model.CategoryList, "Select Centre", new { @required = "required", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.CategoryID)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Matter Completion Date</label>

            <div class="col-sm-4 col-md-8 input-group date">
                @if (Model.MatterCompletionDate == null)
                {
                    <input type="date" class="form-control inputstl" id="MatterCompletionDate" name="MatterCompletionDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                }
                else
                {
                    <input type="date" class="form-control inputstl" id="MatterCompletionDate" name="MatterCompletionDate" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@(Model.MatterCompletionDate.Value.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>


                }
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="Amount" name="Amount" min="0" required="required" value="@Convert.ToInt32(Model.Amount)" placeholder="Enter Amount" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Risk</label>
            <div class="col-md-8">

                @Html.DropDownListFor(M => M.RiskId, Model.RiskList, "Select Centre", new { @required = "required", @class = "form-control selectpicker" })
                @Html.HiddenFor(M => M.RiskId)
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Explanation</label>
            <div class="col-md-8">
                <textarea class="form-control" id="Explanation" name="Explanation" rows="10" required="required" placeholder="Enter Explanation" title="" value="@Model.Explanation">@(Model.Explanation)</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Action to Recover funds</label>
            <div class="col-md-8">
                <textarea class="form-control" id="ActiontoRecoverFunds" name="ActiontoRecoverFunds" rows="10" required="required" placeholder="Enter Action to Recover funds" title="" value="@Model.ActiontoRecoverFunds">@(Model.ActiontoRecoverFunds)</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Expected Date Of Return</label>

            <div class="col-sm-4 col-md-8 input-group date">
                @if (Model.ExpectedDateofReturn == null)
                {
                    <input type="date" class="form-control inputstl" id="ExpectedDateofReturn" name="ExpectedDateofReturn" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2050-01-01" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                }
                else
                {
                    <input type="date" class="form-control inputstl" id="ExpectedDateofReturn" name="ExpectedDateofReturn" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2050-01-01" onkeydown="return false;" placeholder="Select Date" value="@(Model.ExpectedDateofReturn.Value.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Authorised By</label>
            <div class="col-md-8">
                <input class="form-control" id="Authorisedby" name="Authorisedby" required="required" placeholder="Enter Submitted By" title="" type="text" value="@Model.Authorisedby" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Comments</label>
            <div class="col-md-8">
                <textarea class="form-control" id="Comments" name="Comments" rows="10" placeholder="Enter Comments" title="" value="@Model.Comments">@(Model.Comments)</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="Outstanding" name="Outstanding" min="0" required="required" value="@Convert.ToInt32(Model.Outstanding)" placeholder="Enter Outstanding" onkeypress="return isNumberKey(event)" title="" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Date Repaid</label>

            <div class="col-sm-4 col-md-8 input-group date">

                @if (Model.DateRepaid == null)
                {
                    <input type="date" class="form-control inputstl" id="DateRepaid" name="DateRepaid" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }
                else
                {
                    <input type="date" class="form-control inputstl" value="@Model.DateRepaid.Value.ToString("yyyy-MM-dd")" id="DateRepaid" name="DateRepaid" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

                }

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Date Of Next Update</label>

            <div class="col-sm-4 col-md-8 input-group date">

                @if (Model.Dateofnextupdate == null)
                {

                    <input type="date" class="form-control inputstl" id="Dateofnextupdate" name="Dateofnextupdate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2050-01-01" onkeydown="return false;" placeholder="Select Date" ><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                }
                else
                {
                    <input type="date" class="form-control inputstl" id="Dateofnextupdate" name="Dateofnextupdate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2050-01-01" onkeydown="return false;" placeholder="Select Date" value="@(Model.Dateofnextupdate.Value.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>


                }
            </div>
        </div>

        <div class="row form-group" id="divedit">
            <div class="offset-md-5">

                @if (getRoleId != objGenericUtility.Read_ClientAccounting && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }
                <a href="@Url.Action(ViewBag.ActionName,"BridgeControl", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId , @ViewName = Session["BridgeControlViewName"]})" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewBridgeControl","BridgeControl", new{TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["BridgeControlViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>


    }

</div>




<script type="text/javascript">

    $(document).ready(function () {
        if ($("#hdnMyfile").val() != "") {
            $("#myfile").css("color", "transparent");
        }
    });

        $(".row input,textarea").not("select,input[type=file]").attr("readonly", "readonly");
        $(".row select,input[type=file]").attr("disabled", "disabled");


    $("#btnEdit").click(function () {

        $(".row input,textarea").not("select,input[type=file]").removeAttr("readonly", "readonly");
        $(".row select,input[type=file]").removeAttr("disabled", "disabled");

        //if ($("#MatterNumberExists").val() == "True") {
        //    $("#MatterNumber,#ClientName").attr("readonly", "readonly");
        //    $("#CenterID").attr("disabled", "disabled");
        //}
        $("#MatterNumber").attr("readonly", "readonly");

        $("#divedit").hide();
        $("#divsave").show();


    });


    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });


</script>





