﻿@using CountryWide.Utility
@model CountryWide.Models.CardPaymentRequests.CardPaymentRequestsModel
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml"; ;
    ViewBag.Title = "Home Page";

}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (ViewBag.Message != null)
{
<script type="text/javascript">
        $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    <h1>
        Card Payment-Requests: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewCardPaymentRequestsTracker", "CardPaymentRequests", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>

            <div class="col-md-6 dropdown">
                <input type="file" id="myfile" name="myfile">
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter number</label>
            <div class="col-md-8">


                <input class="form-control" id="MatterID" name="MatterID" @(Model.MatterID != null ? "readonly=\"readonly\"" : "") oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterID" />

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Client Name(Full Name)</label>
            <div class="col-md-8">

                <input class="form-control" id="ClientName" name="ClientName" oninvalid="this.setCustomValidity('Please Enter Client Name')" oninput="this.setCustomValidity('')" @(Model.ClientName != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Client name" title="" type="text" value="@Model.ClientName" />

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Contact Numbers</label>
            <div class="col-md-8">
                <input class="form-control" id="ContactNumber" maxlength="50" oninput="this.setCustomValidity('');" oninvalid="this.setCustomValidity('Please Enter Contact Numbers')" required="required" name="ContactNumber" placeholder="Enter Contact Number" title="" type="text" value="@Model.ContactNumber" />
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date & Time To Call</label>
            <div class="col-md-8">
                <input type="datetime-local" class="form-control date-picker" required="required" id="DateTimeToCall" onkeydown="return false;" name="DateTimeToCall" min="@(Model.DateTimeToCall.ToString("yyyy-MM-ddTHH:mm"))" value="@(Model.DateTimeToCall.ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">I confirm that the client is expecting the call </label>
            <div class="col-md-8">
                <label>
                    <input type="radio" id="ClientIsExpectingCall" oninvalid="this.setCustomValidity('Please Select I confirm that the client is expecting the call')" oninput="this.setCustomValidity('')" required="required" name="ClientIsExpectingCall" title="" />
                    Confirmed
                </label>

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="Amount" name="Amount" min="0" oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter Amount" title="" value="@Convert.ToInt64(Model.Amount)" />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">Reason for Payment</label>
            <div class="col-md-8 dropdown">
                <textarea class="form-control rounded-0" id="PaymentReason" name="PaymentReason" rows="10">@Model.PaymentReason</textarea>
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">Payment Taken</label>
            <div class="col-md-8 dropdown">
                <input id="PaymentTaken" name="PaymentTaken" type="checkbox" value="true" @(Model.PaymentTaken != null && Model.PaymentTaken.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">(CA only) Unable to contact</label>
            <div class="col-md-8 dropdown">
                <input id="UnableToContact" name="UnableToContact" type="checkbox" value="true" @(Model.UnableToContact != null && Model.UnableToContact.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>

        <div class=" row form-group">
            <label class="col-md-4 control-label">CA (Only) Notes</label>
            <div class="col-md-8 dropdown">
                <textarea class="form-control rounded-0" id="CANotes" name="CANotes" rows="10">@Model.CANotes</textarea>
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Requestor Name</label>
            <div class="col-md-8 dropdown">
                <input class="form-control" type="text" id="RequesterName" maxlength="50" oninvalid="this.setCustomValidity('Please Enter Requestor Name')" oninput="this.setCustomValidity('')" required="required" name="RequesterName" placeholder="Enter Requester Name" title="" value="@Model.RequesterName" />
            </div>
        </div>


        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Amount').val("");


    })
   
    $("#ClientIsExpectingCall").prop("checked", false);

    

    

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    var txt = document.getElementById('Amount');
    txt.addEventListener('keyup', myFunc);

    function myFunc(e) {
        var val = this.value;
        var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
        var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
        if (re.test(val)) {
            //do something here

        } else {
            val = re1.exec(val);
            if (val) {
                this.value = val[0];
            } else {
                this.value = "";
            }
        }
    }
</script>



