﻿@model CountryWide.Models.OutOfHoursId.EmailConfig

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EmailConfigure";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}

<div class="container">


    <h1>
        Out Of Hours Id Email Configuration
    </h1>

    <br />

    @using (Html.BeginForm("UpdateEmailConfigure", "OutOfHoursIdCheck", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ID" id="ID" value="@Model.ID" />

        <div class="row form-group required">
            <label class="col-md-4 control-label">Email Subject</label>
            <div class="col-md-8">


                <input class="form-control" id="MailSubject" name="MailSubject" oninvalid="this.setCustomValidity('Please Enter MailSubject')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter MailSubject" title="" type="text" value="@Model.MailSubject" />

            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Email Body</label>
            <div class="col-md-8">


                <input class="form-control" id="MailBody" name="MailBody" oninvalid="this.setCustomValidity('Please Enter MailBody')" oninput="this.setCustomValidity('')" required="required" placeholder="Enter MailBody" title="" type="text" value="@Model.MailBody" />

            </div>
        </div>

        <div class="row form-group" id="divsave">
            <div class="offset-md-5">

                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                @*<a href="@Url.Action("GetReviewOutOfHours","OutOfHoursIdCheck", new{TrackerId=ViewBag.TrackerId, ProcessorId=ViewBag.ProcessorId })" class="btn btn-info"> Close</a>*@

            </div>
        </div>


    }
</div>