﻿@using CountryWide.Utility


@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    GenericUtility objGenericUtility = new GenericUtility();
    int getRoleId = Convert.ToInt32(Session["UserRoleId"].ToString());
}

@model CountryWide.Models.TaskLawyer.TaskLawyerModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<div class="container">
    @if (ViewBag.EditViewType != "View")
    {
        <h1>
            Task Lawyer Report: Edit/View
        </h1>
    }
    else
    {
        <h1>
            Task Lawyer Report: View
        </h1>
    }
    <br />

    @using (Html.BeginForm("UpdateTaskLawyer", "TaskLawyer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
        <input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.CenterId, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>


        <div class=" row form-group required">
            <label class="col-md-4 control-label">KTL/Member</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.KTL_MentorID, Model.KTLMentorList, "Select KTL/Member", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Overtime</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Overtime, "false") No</label>

                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Overtime, "true") Yes</label>


                </div>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Start Time</label>
            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" oninvalid="this.setCustomValidity('Please Enter Start Time')" oninput="this.setCustomValidity('')" required="required" id="StartTime" onkeydown="return false;" name="StartTime" min="@(Model.StartTime.ToString("yyyy-MM-ddTHH:mm"))" placeholder="Select Date" value="@(Model.StartTime.ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.TeamId, Model.TaskLawyerTeamList, "Select Team", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">ABS</label>
            <div class="col-md-8">
                <input id="ABS" name="ABS" type="checkbox" value="true" @(Model.ABS != null && Model.ABS.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Enter FE Initials</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.Enter_FEInitialsID, Model.FEInitialsList, "Select FE Initials", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select FE initials')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Lawyer Grade</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.LawyerGradeID, Model.LawyerGradeList, "Select Lawyer Grade", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Lawyer Grade')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Task</label>
            <div class="col-md-8 dropdown">

                @Html.DropDownListFor(M => M.TaskID, Model.TaskList, "Select Task", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Task')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })


            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">End Time</label>
            <div class="col-sm-4 col-md-8 input-group date">

                <input type="datetime-local" class="form-control inputstl" required="required" id="EndTime" oninvalid="this.setCustomValidity('Please Enter End Time')" oninput="this.setCustomValidity('')" onkeydown="return false;" name="EndTime" min="@(Model.EndTime.ToString("yyyy-MM-ddTHH:mm"))" placeholder="Select Date" value="@(Model.EndTime.ToString("yyyy-MM-ddTHH:mm"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>


        <div class="row form-group">
            <label class="col-md-4 control-label">Notes/Comments</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Notes_Comments" name="Notes_Comments" rows="10">@Model.Notes_Comments</textarea>
                <br />
                <span>If you selected "other" or task unusual please add comment</span>

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Annotated</label>
            <div class="col-md-8">
                <input id="Annotated" name="Annotated" type="checkbox" value="true" @(Model.Annotated != null && Model.Annotated.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Admin</label>
            <div class="col-md-8">
                <input class="form-control" id="Admin" maxlength="50" name="Admin" title="" type="text" value="@Model.Admin" />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Completed as Part of Holiday Cover</label>
            <div class="col-md-8">
                <input id="HolidayCoverage" name="HolidayCoverage" type="checkbox" value="true" @(Model.HolidayCoverage != null && Model.HolidayCoverage.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Additional Fees Billed</label>
            <div class="col-md-8">
                <input id="AdditionalFee" name="AdditionalFee" type="checkbox" value="true" @(Model.AdditionalFee != null && Model.AdditionalFee.Value ? "checked=\"checked\"" : "") />
                <br />
                <span>were additional fees billed</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Reason for Additional Fee</label>
            <div class="col-md-8">
                <input class="form-control" id="ReasonForAdditionalFee" maxlength="100" name="ReasonForAdditionalFee" title="" type="text" value="@Model.ReasonForAdditionalFee" />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Fee Amount(excl. VAT)</label>
            <div class="col-md-8">
                <input class="form-control" id="FeeAmount" name="FeeAmount" title="" type="text" onpaste="return false;"  onkeypress="return isNumberKey(event)" maxlength="10" value="@Model.FeeAmount" />
                <br />
                <span> Enter Net Fee(Not Including VAT)</span>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">VAT Due</label>
            <div class="col-md-8">
                <input class="form-control" id="VATDue" name="VATDue" onpaste="return false;"  title="" type="text" onkeypress="return isNumberKey(event)" maxlength="10" value="@Model.VATDue" />
                <br />
                <span> If VAT is due, enter amount, i.e. 20% of Net Fee </span>
            </div>
        </div>
        <div class="row form-group" id="divedit">
            <div class="offset-md-5">
                @if (getRoleId != objGenericUtility.Read_Operations && getRoleId != objGenericUtility.Read_Gen && ViewBag.EditViewType != "View")
                {
                    <button type="button" id="btnEdit" class="btn btn-primary">
                        <span>  Edit  </span>
                    </button>
                }

                <a href="@Url.Action(ViewBag.ActionName,"TaskLawyer", new{ TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, @ViewName = Session["TaskLawyerViewName"] })" class="btn btn-info"> Cancel</a>

            </div>
        </div>

        <div class="row form-group" id="divsave" style="display:none">
            <div class="offset-md-5">


                <button type="submit" id="btnsave" name="command" value="Save" class="btn btn-primary ">
                    <span>  Save  </span>
                </button>
                <a href="@Url.Action("GetReviewTaskLawyer","TaskLawyer", new{TrackerId=ViewBag.TrackerId, ProcessorId=ViewBag.ProcessorId,@ViewName = Session["TaskLawyerViewName"]  })" class="btn btn-info"> Close</a>

            </div>
        </div>





    }
</div>
<script type="text/javascript">

    $(function () {

    });


    $(".row input,textarea").not("input[type=checkbox],input[type=radio],input[type=file],select").attr("readonly", "readonly");
    $(".row input[type=checkbox],input[type=file],input[type=radio],select").attr("disabled", "disabled");

    $("#btnEdit").click(function () {

        $(".row input,textarea").not("input[type=checkbox],input[type=file],select").removeAttr("readonly", "readonly");
        $(".row input[type=checkbox],input[type=file],input[type=radio],select").removeAttr("disabled", "disabled");

        
        $("#divedit").hide();
        $("#divsave").show();
    });

    $('.selectpicker').on('hide.bs.select', function () {
        $(this).trigger("focusout");
    });



    $('#StartTime').change(function () {
        CheckDates('start')


    });
    $('#EndTime').change(function () {

        CheckDates('end')


    });


    function CheckDates(type) {
        var startDate = new Date($('#StartTime').val());

        var endDate = new Date($('#EndTime').val());

        if (endDate != null && startDate != null && (endDate < startDate)) {

            ShowMessage("End Time should be greater than Start Time");
            if (type == 'start') {
                $("#StartTime").val(null);
            }
            else {
                $("#EndTime").val(null);
            }

            return false;
        } else {
            return true;
        }

    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>