﻿@using System.Data
@model DataTable


@{
    ViewBag.Title = "GetDeleteThirdPartyCompliants";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    DateTime dt;


}

<link href="~/css/DatatableCustomStyle.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
<script src="~/JS/DynamicTable.js"></script>

<h2>Deleted: 3rd Party Complaints Tracker</h2>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}


<div class="table-responsive">
    <input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />

    <input type="hidden" id="GridCount" value="@ViewBag.GridCount" name="GridCount" />

    <table class="table table-bordered table-condensed table-striped table-hover sortable dynamicTableClass" id="ThirdPartyTable">
        @if (Model.Rows.Count == 0 || ViewBag.GridCount == 1)
        {
            <tr>
                @if (Model.Rows.Count == 0)
                {
                    <td colspan="10">No Record's found.</td>
                }
                else
                {
                    <td colspan="10">No view configured for Delete screen.Please configure atleast one view</td>
                }
            </tr>

        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th><input name="select_all" value="1" class="selectAllCheckBox" id="ThirdPartyTable-select-all" type="checkbox" /></th>

                    @{ int count = 0;
                        foreach (DataColumn col in Model.Columns)
                        {


                            if (count > 0)
                            {
                                <th>@col.ColumnName</th>

                            }
                            count++;

                        }

                    }


                    <th>Actions</th>

                </tr>
            </thead>
            <tdata>

                @foreach (DataRow row in Model.Rows)
                {


                    <tr>
                        @{ int columnCount = 0;
                            foreach (DataColumn col in Model.Columns)
                            {

                                if (columnCount == 0)
                                {
                                    <td>
                                        <input type="checkbox" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">

                                    </td>
                                }
                                else
                                {

                                    if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                    {

                                        bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                        if (isDate == true)
                                        {

                                            string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                            <td><span>@getDateValue</span>@row[col.ColumnName]</td>

                                        }
                                        else
                                        {

                                            <td>@row[col.ColumnName]</td>

                                        }
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }




                                }
                                columnCount++;

                            }

                            <td>

                                <a href="@Url.Action("EditThirdPartyCompliants", "ThirdPartyCompliants", new { id = row.Field<string>("Id"), TrackerId =ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId,EditViewType="View" })">   View</a>


                            </td>
                        }

                    </tr>
                }


            </tdata>
        }


    </table>

    <div style="margin-left:45%">
        <button type="button" id="btnDownload" class="btn btn-primary commonShowHideButton">
            <span>  Download  </span>
        </button>
        <button type="button" id="btnActive" class="btn btn-primary commonShowHideButton">
            <span>Make Active</span>
        </button>
    </div>

</div>

<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($("#GridCount").val() == 1 || PageCount == 0) {

            HideButtons();
        }
        else {
            applyDataTable(PageCount);

        }


        $("#btnDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnActive").click(function () {

            DownloadOrDeleteOperations("Active");
        });

          function DownloadOrDeleteOperations(operationType) {

            const [selectedData, selectedCount] = checkedRecordsorNot();

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                  document.location = '@Url.Action("DownloadThirdPartyCompliants", "ThirdPartyCompliants")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }
                else {
                    $("#btnDownload").attr("disabled", "disabled");
                    document.location = '@Url.Action("DeleteThirdPartyCompliantsRecords", "ThirdPartyCompliants")?selectedData=' + selectedData + '&DeleteType=Active&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }

            }

        }

    });
</script>