﻿
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.InterestPayableOCModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
@if (ViewBag.Message != null)
{
<script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    <h1>
        Interest Payable OC : New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewInterestPayableTracker", "InterestPayableOC", FormMethod.Post, new {id="NewInterestPayable", enctype = "multipart/form-data" }))
    {


        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

               
                @if (ViewBag.MatterNumber != "")
                {

                    <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" value="@Model.MatterNumber" readonly="readonly" placeholder="Matter Number" title="" type="text" />

                }
                else
                {
                    <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" required="required" value="@Model.MatterNumber" readonly="readonly" placeholder="Matter Number" title="" type="text" onkeypress="return preventEmptyChars(event)" />
                }
            </div>
        </div>
        <div class=" row form-group required">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8 dropdown">
                @if (Model.CenterID != 0)
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(m => m.CenterID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.CenterID, Model.CenterList, "Select Centre", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Centre')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })

                }
            </div>
        </div>

        <div class=" row form-group required">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @if (Model.TeamID != 0)
                {
                    @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @disabled = "disabled", @class = "form-control selectpicker" })
                    @Html.HiddenFor(m => m.TeamID)
                }
                else
                {
                    @Html.DropDownListFor(M => M.TeamID, Model.TeamList, "Select Team", new { @oninvalid = "this.setCustomValidity('Please Select Team')", @oninput = "this.setCustomValidity('')", required = "required", @class = "form-control selectpicker" })


                }
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Date funds received</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="DateFundsRevd" name="DateFundsRevd" oninvalid="this.setCustomValidity('Please Enter Date funds received')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" onkeydown="return false;" placeholder="Select Date" value="@(Convert.ToDateTime(Model.DateFundsRevd).ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Payment Date</label>

            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" id="PaymentDate" name="PaymentDate" oninvalid="this.setCustomValidity('Please Enter Payment Date')" oninput="this.setCustomValidity('')" required="required" min="2000-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")"  onkeydown="return false;" placeholder="Select Date" value="@(Convert.ToDateTime(Model.PaymentDate).ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Funds held</label>
            <div class="col-md-8">

                <input class="form-control" id="FundsHeld" name="FundsHeld" placeholder="Enter Funds held" oninvalid="this.setCustomValidity('Please Enter Funds held')" oninput="this.setCustomValidity('')" required="required" title="" type="number" min="0" onkeypress="return isNumberKey(event)" value="@Model.FundsHeld" />
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label required">Reason for interest payment</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="ReasonForInterestPayment" name="ReasonForInterestPayment"  oninvalid="this.setCustomValidity('Please Enter Reason for interest payment')" oninput="this.setCustomValidity('')" required="required" rows="10" onkeypress="return preventEmptyChars(event)">@Model.ReasonForInterestPayment</textarea>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Posted(CA Only)</label>
            <div class="col-md-8">
                <input id="Posted" name="Posted" type="checkbox" value="true" @(Model.Posted != null && Model.Posted.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>
<script type="text/javascript">
    $("#DateFundsRevd").val("");
    $("#PaymentDate").val("");
    $("#FundsHeld").val("");
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function preventEmptyChars(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 32 && evt.target.value.length == 0)
            return false;
        return true;
    }
    $('#PaymentDate').change(function(){
        CheckDates();

    });
    $('#DateFundsRevd').change(function () {
        CheckDates();

    });
    function CheckDates() {
        var paymentDate = new Date($('#PaymentDate').val());

        var dateFundsReceived = new Date($('#DateFundsRevd').val());

        if (paymentDate != null && dateFundsReceived != null && (paymentDate < dateFundsReceived)) {

            ShowMessage("\"Payment Date\" should be same or greater than \"Date funds received\"")
           $("#PaymentDate").val(null);
           
                return false;
            } else {
                return true;
            }

    }
</script>