﻿@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.OutOfHoursId.OutOfHoursIdCheckModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


@*<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>*@
@*<script type='text/javascript' src='//code.jquery.com/jquery-2.1.1.min.js'></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>*@
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
      $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<div class="container">
    <h1>
        Out Of Hours Id Check Process: New Item
    </h1>
    <br />

    @using (Html.BeginForm("NewOutOfhoursIdTracker", "OutOfHoursIdCheck", FormMethod.Post, new { id = "NewOutOfhoursIdTrackerForm", enctype = "multipart/form-data" }))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Attach File:</label>
            .,
            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Date & Time To Call</label>
            <div class="col-sm-4 col-md-8 input-group date">

                <input type="date" class="form-control inputstl" required="required" id="Datetimetocall" oninvalid="this.setCustomValidity('Please Enter Date & Time To Call')" oninput="this.setCustomValidity('')" onkeydown="return false;" name="Datetimetocall" placeholder="Select Date" value="@(Model.Datetimetocall.ToString("yyyy-MM-dd"))"><span class="input-group-addon"><em data-date-icon="icon-calendar"></em></span>
                @Html.DropDownListFor(M => M.TimeSlotId, Model.TimeSlotList, "Select Time Slot", new { @required = "required", @oninvalid = "this.setCustomValidity('Please Select Time Slot')", @oninput = "this.setCustomValidity('')", @class = "form-control selectpicker" })
                <label>Please ensure there are no more than 2 requests in the same hour already booked. Also stress to OC that this is an approximate time</label>
            </div>
        </div>

        <div class="row form-group required">
            <label class="col-md-4 control-label">Matter Number</label>
            <div class="col-md-8">

                <input class="form-control" id="MatterNumber" name="MatterNumber" oninvalid="this.setCustomValidity('Please Enter Matter number')" oninput="this.setCustomValidity('')" @(Model.MatterNumber != null ? "readonly=\"readonly\"" : "") required="required" placeholder="Enter Matter number" title="" type="text" value="@Model.MatterNumber" />

            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Person(s) needing AML Check</label>
            <div class="col-md-8">

                <input class="form-control" id="PersonNeedingAMLCheck" name="PersonNeedingAMLCheck" placeholder="Enter Person  needing AML Check" oninvalid="this.setCustomValidity('Please Enter Person  needing AML Check')" oninput="this.setCustomValidity('')" required="required" title="" type="text" value="@Model.PersonNeedingAMLCheck" />
                <label>Full names please. Don't just state "Mr"</label>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Best number(s) to call</label>
            <div class="col-md-8">

                <input class="form-control" id="BestNumberToCall" name="BestNumberToCall" placeholder="Enter Best number to call" oninvalid="this.setCustomValidity('Please Enter Best number to call')" oninput="this.setCustomValidity('')" required="required" title="" type="text" value="@Model.BestNumberToCall" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Additional Instructions</label>
            <div class="col-md-8">

                <textarea class="form-control rounded-0" id="AdditionalInstructions" name="AdditionalInstructions" rows="10">@Model.AdditionalInstructions</textarea>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-md-4 control-label">Property lawyer's email address</label>
            <div class="col-md-8">

                <input type="email" class="form-control" id="PropertyLawyerEmailAddress" name="PropertyLawyerEmailAddress" placeholder="Enter Property lawyer email address" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please Enter Property Lawyer Email Address')" required="required" title="" value="@Model.PropertyLawyerEmailAddress" />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Your email address</label>
            <div class="col-md-8">

                <input class="form-control" id="EmailAddressYours" name="EmailAddressYours" placeholder="Enter Your email address" title="" type="email" value="@Model.EmailAddressYours" />
                <label>If different from PL's address above</label>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">AML Call Successful?</label>
            <div class="col-md-8">

                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.AMLCallSuccessfull, "true") Yes</label>

                </div>
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.AMLCallSuccessfull, "false") No</label>
                    <br />
                    <label>To be completed by OOH only</label>

                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Consultant</label>
            <div class="col-md-8">
                <div class="radio d-flex align-items-center">
                    @Html.RadioButtonFor(M => M.ConsultantID, 1, new { @checked = "true", @class = "mr-1" })
                    @Html.DropDownListFor(m => m.ConsultantDropdown, new List<SelectListItem>{

                    new SelectListItem{ Text="Sahil", Value = "Sahil" },
                    new SelectListItem{ Text="Tiane", Value = "Tiane" },
                    new SelectListItem{ Text="Abu",   Value = "Abu" },
                    new SelectListItem{ Text="Martin",Value = "Martin" },
                    new SelectListItem{ Text="Other", Value = "Other" }
                    }, "Select Consultant", new { @class = "form-control selectpicker dropdownConsultant" })


                </div>

                <br />
                <div class="radio">

                    <label>@Html.RadioButtonFor(M => M.ConsultantID, 0) Specify your own value:</label>
                    <br />
                    <input class="form-control textConsultant" id="ConsultantText" name="ConsultantText" placeholder="Enter Value" title="" type="text" value="@Model.ConsultantText" />
                    <label>To be completed by AML consultant only</label>
                </div>
            </div>
        </div>

        <div class="row form-group ">
            <label class="col-md-4 control-label">OOH notes</label>
            <div class="col-md-8">

                <textarea class="form-control rounded-0" id="OOHNotes" name="OOHNotes" rows="10">@Model.OOHNotes</textarea>
                <br />
                <label>To be completed by OOH only</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>
<script type="text/javascript">
    $(function () {
        $(':radio[name=ConsultantID]').change(function () {
            setRequiredValidation(this.value);
        });
        $('.dropdownConsultant').prop("disabled", false);
        $(".textConsultant").attr("disabled", true);
        $('#Datetimetocall').change(function () {
            ValidateTimeSlot();

        });

        $('#TimeSlotId').change(function () {
            ValidateTimeSlot();
        });
        $("#btnSubmit").click(function () {
            var isValid = true;
            var propertyLawyerEmail = $('#PropertyLawyerEmailAddress').val();
            var yourEmail = $('#EmailAddressYours').val();
            var propertyLawyerResult = validateEmail(propertyLawyerEmail);
            var yourEmailResult = validateEmail(yourEmail);
            
          
            if (propertyLawyerResult == false) {
                isValid = false;
                ShowMessage("Please enter valid property lawyer email address");
                $('#PropertyLawyerEmailAddress').val(' ');
            }

            else if (yourEmailResult == false) {
                isValid = false;
                ShowMessage("Please enter valid your email address");
                $('#EmailAddressYours').val(' ');
            }

            return isValid;
        });
    });
   function setRequiredValidation(value) {
        if (value == '1') {

            $('.dropdownConsultant').prop("disabled", false);

            $('.textConsultant').val('');
            $(".textConsultant").attr("disabled", true);
        }
        else {
            console.log(value)
            $('.textConsultant').prop("disabled", false);

            $('.dropdownConsultant').prop('selectedIndex', 0);
            $('.dropdownConsultant').prop("disabled", true);
        }
    }
    function validateEmail(email) {

        if (email.length == 0) return true;
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        
    if (regex.test(email)) {
            return true;
        }
        else {
            return false;
            
        }
}
    function ValidateTimeSlot()
        {

        let datetimetocall = new Date($('#Datetimetocall').val());
        let timeSlotId = $('#TimeSlotId').val();
        if (datetimetocall != null && (timeSlotId != null && timeSlotId.length > 0)) {
            $.ajax({
                url: "@Url.Action("CheckExistingTimeSlots", "OutOfHoursIdCheck")",
                data: { datetimetocall: datetimetocall.toDateString(), timeSlotId: timeSlotId },
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data == true) {
                            ShowMessage("Selected Time Slot already Blocked!!");
                            $("#Datetimetocall").val(null);
                            $('#TimeSlotId').val('');
                        }
                    }

                });
            }
    }




</script>