﻿@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

@model CountryWide.Models.CallCoachingLogModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (ViewBag.Message != null)
{
<script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
</script>
}


<div class="container">
    <h1>
        Call Coaching Log: New Item
    </h1>
    <br />


    @using (Html.BeginForm("NewCallCoachingForm", "CallCoachingLog", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row form-group">
            <label class="col-md-4 control-label">Attach a file:</label>

            <div class="col-md-6 dropdown">

                <input type="file" id="myfile" name="myfile">
            </div>
        </div>


        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <div class="row form-group">
            <label class="col-md-4 control-label">Feedback delivered by CET</label>
            <div class="col-md-8">

                <input id="FeedbackdeliveredbyCET" name="FeedbackdeliveredbyCET" type="checkbox" value="true" @(Model.FeedbackdeliveredbyCET != null && Model.FeedbackdeliveredbyCET.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>


        <div class="row form-group required">
            <label class="col-md-4 control-label">Month</label>
            <div class="col-md-8">
                @Html.DropDownListFor(M => M.Month, Model.NewCompliantModel.MonthList, "Select Month", new { @required = "required", @class = "form-control selectpicker", @oninvalid = "this.setCustomValidity('Please select month')", @oninput = "this.setCustomValidity('')" })
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">PL/LA Name</label>
            <div class="col-md-8">
                <input class="form-control" id="PL_LAName" name="PL_LAName" placeholder="Enter PL/LA Name" maxlength="50" title="" type="text" value="@Model.PL_LAName" />
            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Role</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.RoleID, Model.NewCompliantModel.RoleList, "Select Role", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Centre</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.CentreID, Model.NewCompliantModel.CenterNameList, "Select Center", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">Team</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TeamID, Model.NewCompliantModel.TeamList, "Select Team", new { @class = "form-control selectpicker" })

            </div>
        </div>
        <div class=" row form-group">
            <label class="col-md-4 control-label">TM</label>
            <div class="col-md-8 dropdown">
                @Html.DropDownListFor(M => M.TMID, Model.NewCompliantModel.TMList, "Select TM", new { @class = "form-control selectpicker" })

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Number of calls</label>
            <div class="col-md-8">
                <input class="form-control" id="Numberofcalls" name="Numberofcalls" placeholder="Enter Number of calls" title="" type="number" min="0" onkeypress="return isNumberKey(event)" value="@Model.Numberofcalls" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Reason for observation</label>
            <div class="col-md-8">
                <div class="radio">
                    <label> @Html.RadioButtonFor(M => M.Reasonforobservation, 1, new { @checked = "true" }) Reason for observation: Choose Option</label>

                    <br />
                    @Html.DropDownListFor(M => M.ReasonforobservationDropdown, Model.NewCompliantModel.ReasonforObservationsList, "Select Reason", new { @class = "form-control selectpicker dropdownReason" })

                </div>
                <br />
                <div class="radio">

                    <label>@Html.RadioButtonFor(M => M.Reasonforobservation, 0) Specify your own value:</label>
                    <br />
                    <input class="form-control textReason" id="ReasonforobservationText" name="ReasonforobservationText" placeholder="Enter Value" title="" type="text" value="@Model.ReasonforobservationText" maxlength="50" />
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">STOP - Jargon.</label>
            <div class="col-md-8">

                <input id="STOP_Jargon" name="STOP_Jargon" type="checkbox" value="true" @(Model.STOP_Jargon != null && Model.STOP_Jargon.Value ? "checked=\"checked\"" : "") />
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">STOP - Being defensive / argumentative.</label>
            <div class="col-md-8">
                <input id="STOP_Beingdefensive_argumentative" name="STOP_Beingdefensive_argumentative" type="checkbox" value="true" @(Model.STOP_Beingdefensive_argumentative != null && Model.STOP_Beingdefensive_argumentative.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">STOP - Refusing transferred calls.</label>
            <div class="col-md-8">
                <input id="STOP_RefusingTransferredCalls" name="STOP_RefusingTransferredCalls" type="checkbox" value="true" @(Model.STOP_RefusingTransferredCalls != null && Model.STOP_RefusingTransferredCalls.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">STOP - Using informal language.</label>
            <div class="col-md-8">
                <input id="STOP_UsingInformalLanguage" name="STOP_UsingInformalLanguage" type="checkbox" value="true" @(Model.STOP_UsingInformalLanguage != null && Model.STOP_UsingInformalLanguage.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">STOP - Criticising EA / FS / OL.</label>
            <div class="col-md-8">
                <input id="STOP_CriticisingEA_FS_OL" name="STOP_CriticisingEA_FS_OL" type="checkbox" value="true" @(Model.STOP_CriticisingEA_FS_OL != null && Model.STOP_CriticisingEA_FS_OL.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">STOP - Freetext</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="STOP_Freetext" name="STOP_Freetext" rows="10">@(Model.STOP_Freetext)</textarea>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">START - DPA on all calls.</label>
            <div class="col-md-8">
                <input id="START_DPAOnAllCalls" name="START_DPAOnAllCalls" type="checkbox" value="true" @(Model.START_DPAOnAllCalls != null && Model.START_DPAOnAllCalls.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Check understanding.</label>
            <div class="col-md-8">
                <input id="START_CheckUunderstanding" name="START_CheckUunderstanding" type="checkbox" value="true" @(Model.START_CheckUunderstanding != null && Model.START_CheckUunderstanding.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Ask any further questions?</label>
            <div class="col-md-8">
                <input id="START_AskAnyFurtherQuestions" name="START_AskAnyFurtherQuestions" type="checkbox" value="true" @(Model.START_AskAnyFurtherQuestions != null && Model.START_AskAnyFurtherQuestions.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Explain next steps.</label>
            <div class="col-md-8">
                <input id="START_ExplainNextSteps" name="START_ExplainNextSteps" type="checkbox" value="true" @(Model.START_ExplainNextSteps != null && Model.START_ExplainNextSteps.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Explain unavoidable jargon.</label>
            <div class="col-md-8">
                <input id="START_ExplainUnavoidableJargon" name="START_ExplainUnavoidableJargon" type="checkbox" value="true" @(Model.START_ExplainUnavoidableJargon != null && Model.START_ExplainUnavoidableJargon.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Give DDI.</label>
            <div class="col-md-8">
                <input id="START_GiveDDI" name="START_GiveDDI" type="checkbox" value="true" @(Model.START_GiveDDI != null && Model.START_GiveDDI.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Sound confident.</label>
            <div class="col-md-8">
                <input id="START_SoundConfident" name="START_SoundConfident" type="checkbox" value="true" @(Model.START_SoundConfident != null && Model.START_SoundConfident.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Adjust delivery to suit caller.</label>
            <div class="col-md-8">
                <input id="START_AdjustDeliveryToSuitCaller" name="START_AdjustDeliveryToSuitCaller" type="checkbox" value="true" @(Model.START_AdjustDeliveryToSuitCaller != null && Model.START_AdjustDeliveryToSuitCaller.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">START - Freetext</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="START_Freetext" name="START_Freetext" rows="10">@(Model.START_Freetext)</textarea>
            </div>
        </div>



        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - DPA on all calls.</label>
            <div class="col-md-8">
                <input id="CONTINUE_DPAOnAllCalls" name="CONTINUE_DPAOnAllCalls" type="checkbox" value="true" @(Model.CONTINUE_DPAOnAllCalls != null && Model.CONTINUE_DPAOnAllCalls.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Check understanding.</label>
            <div class="col-md-8">
                <input id="CONTINUE_CheckUnderstanding" name="CONTINUE_CheckUnderstanding" type="checkbox" value="true" @(Model.CONTINUE_CheckUnderstanding != null && Model.CONTINUE_CheckUnderstanding.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Ask any further questions.</label>
            <div class="col-md-8">
                <input id="CONTINUE_AskAnyFurtherQuestions" name="CONTINUE_AskAnyFurtherQuestions" type="checkbox" value="true" @(Model.CONTINUE_AskAnyFurtherQuestions != null && Model.CONTINUE_AskAnyFurtherQuestions.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>



        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Explain next steps.</label>
            <div class="col-md-8">
                <input id="CONTINUE_ExplainNextSteps" name="CONTINUE_ExplainNextSteps" type="checkbox" value="true" @(Model.CONTINUE_ExplainNextSteps != null && Model.CONTINUE_ExplainNextSteps.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Explain unavoidable jargon.</label>
            <div class="col-md-8">
                <input id="CONTINUE_ExplainUnavoidableJargon" name="CONTINUE_ExplainUnavoidableJargon" type="checkbox" value="true" @(Model.CONTINUE_ExplainUnavoidableJargon != null && Model.CONTINUE_ExplainUnavoidableJargon.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Give DDI.</label>
            <div class="col-md-8">
                <input id="CONTINUE_GiveDDI" name="CONTINUE_GiveDDI" type="checkbox" value="true" @(Model.CONTINUE_GiveDDI != null && Model.CONTINUE_GiveDDI.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Sound confident.</label>
            <div class="col-md-8">
                <input id="CONTINUE_SoundConfident" name="CONTINUE_SoundConfident" type="checkbox" value="true" @(Model.CONTINUE_SoundConfident != null && Model.CONTINUE_SoundConfident.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Adjust delivery to suit caller.</label>
            <div class="col-md-8">
                <input id="CONTINUE_AdjustDeliveryToSuitCaller" name="CONTINUE_AdjustDeliveryToSuitCaller" type="checkbox" value="true" @(Model.CONTINUE_AdjustDeliveryToSuitCaller != null && Model.CONTINUE_AdjustDeliveryToSuitCaller.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Empathy.</label>
            <div class="col-md-8">
                <input id="CONTINUE_Empathy" name="CONTINUE_Empathy" type="checkbox" value="true" @(Model.CONTINUE_Empathy != null && Model.CONTINUE_Empathy.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Build rapport.</label>
            <div class="col-md-8">
                <input id="CONTINUE_BuildRapport" name="CONTINUE_BuildRapport" type="checkbox" value="true" @(Model.CONTINUE_BuildRapport != null && Model.CONTINUE_BuildRapport.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Use positive language.</label>
            <div class="col-md-8">
                <input id="CONTINUE_UsePositiveLanguage" name="CONTINUE_UsePositiveLanguage" type="checkbox" value="true" @(Model.CONTINUE_UsePositiveLanguage != null && Model.CONTINUE_UsePositiveLanguage.Value ? "checked=\"checked\"" : "") />

            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">CONTINUE - Freetext</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="CONTINUE_Freetext" name="CONTINUE_Freetext" rows="10">@(Model.CONTINUE_Freetext)</textarea>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">History notes?</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Historynotes" name="Historynotes" rows="10">@(Model.HistoryNotes)</textarea>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">General observations</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="Generalobservations" name="Generalobservations" rows="10">@(Model.GeneralObservations)</textarea>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Feedback from Res Team</label>
            <div class="col-md-8">
                <textarea class="form-control rounded-0" id="FeedbackfromResTeam" name="FeedbackfromResTeam" rows="10">@(Model.FeedbackFromResTeam)</textarea>
            </div>
        </div>


        <div class="row form-group">
            <div class="offset-md-5">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                    <span>  Ok</span>
                </button>


                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                    <span>Cancel</span>
                </button>
            </div>
        </div>



    }

</div>




<script type="text/javascript">


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('.form-group label').on('mousedown', function (e) {
        e.preventDefault();
    });
    $(function () {
       
        $(':radio[name=Reasonforobservation]').change(function () {
            setRequiredValidation(this.value);
        });
        $('.dropdownReason').prop("disabled", false);
        $(".textReason").attr("disabled", true); 
    });
    function setRequiredValidation(value) {
        if (value == '1') {
            
            $('.dropdownReason').prop("disabled", false);
          
            $('.textReason').val('');
            $(".textReason").attr("disabled", true); 
        }
        else {
            $('.textReason').prop("disabled", false);
       
            $('.dropdownReason').prop('selectedIndex', 0);
            $('.dropdownReason').prop("disabled", true);
        }
    }

</script>



