﻿@using System.Data
@using CountryWide.Utility
@using CountryWide.Models.CompletionDiary
@model DataTable


@{
    ViewBag.Title = "GetDeleteCompletionDiary";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

    DateTime dt;

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
       $(document).ready(function () {
        ShowMessage('@ViewBag.Message');
    });
    </script>
}
<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 9px 16px !important;
    }

    #CompletionDairyTable span {
        display: none;
    }
    th, td {
        white-space: nowrap;
    }
</style>

<h2>Deleted: Completion Diary</h2>


<input type="hidden" name="ProcessId" id="ProcessId" value="@ViewBag.ProcessorId" />
<input type="hidden" name="Trackerid" id="Trackerid" value="@ViewBag.Trackerid" />
<input type="hidden" name="DateInterval" id="DateInterval" value="@ViewBag.DateInterval" />



<input type="hidden" id="Pagecount" value="@Model.Rows.Count" name="Pagecount" />
<input type="hidden" id="GridCount" value="@ViewBag.GridCount" name="GridCount" />

<table class="table table-bordered table-condensed table-striped table-hover sortable" id="CompletionDairyTable" style="width:100%;overflow:auto;display:block;border-collapse:collapse">
    @if (Model.Rows.Count == 0 || ViewBag.GridCount == 1)
    {
        <tr>
            @if (Model.Rows.Count == 0)
            {
                <td colspan="10">No Record's found.</td>
            }
            else
            {
                <td colspan="10">No view configured for Delete screen.Please configure atleast one view</td>
            }
        </tr>
    }
    else
    {
        <thead class="thead-dark">
            <tr>
                @*<th><input name="select_all" value="1" id="CompletionDairyTable-select-all" type="checkbox" /></th>*@
                <th></th>

                @{ int count = 0;
                    foreach (DataColumn col in Model.Columns)
                    {
                        if (count > 0)
                        {
                            <th>@col.ColumnName</th>

                        }
                        count++;
                    }
                }
                <th>Actions</th>

            </tr>
        </thead>
        <tdata>

            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    @{ int columnCount = 0;
                        foreach (DataColumn col in Model.Columns)
                        {

                            if (columnCount == 0)
                            {
                                <td>
                                    <input type="radio" id="@row[col.ColumnName]" name="@row[col.ColumnName]" value="@row[col.ColumnName]">
                                </td>
                            }
                            else
                            {

                                if (!string.IsNullOrEmpty(@row[col.ColumnName].ToString()))
                                {

                                    bool isDate = DateTime.TryParse(@row[col.ColumnName].ToString(), out dt);

                                    if (isDate == true)
                                    {
                                        string getDateValue = Convert.ToDateTime(@row[col.ColumnName]).ToString("yyyyMMdd");

                                        <td><span>@getDateValue</span>@row[col.ColumnName]</td>
                                    }
                                    else
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }
                                }
                                else
                                {
                                    <td>@row[col.ColumnName]</td>
                                }
                            }
                            columnCount++;

                        }

                        <td>
                            <a href="@Url.Action("EditCompletionDiary", "CompletionDiary", new { Id = row.Field<string>("Id"), TrackerId = ViewBag.TrackerId, ProcessorId = ViewBag.ProcessorId, EditViewType="View",DateInterval = ViewBag.DateInterval })">  View</a>

                        </td>
                    }

                </tr>
            }
        </tdata>
    }


</table>
<div class="table-responsive">

    <div style="margin-left:45%">
        <button type="button" id="btnDownload" class="btn btn-primary">
            <span>  Download  </span>
        </button>
        <button type="button" id="btnActive" class="btn btn-primary">
            <span>Make Active</span>
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {

        var PageCount = $("#Pagecount").val();

        if ($("#GridCount").val() == 1 || PageCount == 0) {

            $("#btnDownload,#btnActive").hide();
        }
        else {

            var columnCount = $('#CompletionDairyTable th').length - 1;
            $('#CompletionDairyTable').DataTable({
                pageLength: 20,
                order:[],
                columnDefs:[{ orderable: false, targets:[0, columnCount] }]
            });

            $(".dataTables_length").css("display", "block");
            $("#CompletionDairyTable_length label").remove();

            $("#CompletionDairyTable_length").append("<span>Total Count : " + PageCount + '</span>');

         }
        //$('#CompletionDairyTable-select-all').on('click', function () {

        //    // Check/uncheck all checkboxes in the table
        //    var rows = $("#CompletionDairyTable tdata tr").find("input[type='checkbox']").prop('checked', this.checked);

        //    $('input[type="checkbox"]').prop('checked', this.checked);
        //});



        //$('#CompletionDairyTable tbody').on('change', 'input[type="checkbox"]', function () {

        //    var tableRow = $("#CompletionDairyTable tbody tr");
        //    var tdataCount = tableRow.length;
        //    var checkCount = 0;
        //    if (this.checked) {


        //        $('#CompletionDairyTable  tbody tr').each(function () {

        //            $(this).find('input:checked').each(function () {
        //                checkCount += 1;
        //            });
        //        });

        //        if (tdataCount == checkCount) {
        //            $('#CompletionDairyTable-select-all').prop("checked", true);

        //        }
        //    }
        //    else {
        //        $('#CompletionDairyTable-select-all').prop("checked", false);
        //    }
        //});

        $('#CompletionDairyTable_paginate').hide();
        $('#CompletionDairyTable_info').hide();

         $('#CompletionDairyTable tbody').on('change', 'input[type="radio"]', function () {


             if (this.checked) {

                    $('#CompletionDairyTable  tbody tr').each(function () {

                        $(this).find('input[type="radio"]').prop("checked", false);

                    });

                 //the current one making as selected.
                 $(this).prop("checked", true);
             }


        });

        $("#btnDownload").click(function () {

            DownloadOrDeleteOperations("Download");
        });
        $("#btnActive").click(function () {

            DownloadOrDeleteOperations("Active");
        });

          function DownloadOrDeleteOperations(operationType) {

            var selectedData = [];
              let selectedCount = 0;
              var getselectedId;

              $('#CompletionDairyTable tbody tr').each(function () {

                $(this).find('input:checked').each(function () {
                    selectedCount += 1;
                    var getValueId = $(this).val();
                    selectedData.push(getValueId);
                    getselectedId = $(this).val();

                });
            });

            if (selectedCount == 0) {
                ShowMessage("Please select atleast one Record.");
                return false;
            }
            else {
                if (operationType == "Download") {
                  document.location = '@Url.Action("DownloadCompletionDairy", "CompletionDiary")?selectedData=' + selectedData + '&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                }
                else {

                    var ldata;
                    $.ajax({
                        url: "@Url.Action("MatterNumberAndMatterTypeActiveRecordExistOrNot", "CompletionDiary")",
                        data: { Id: getselectedId},
                        type: 'GET',
                        dataType: "json",
                        success: function (response) {
                            var ischecked = "";
                            ldata = parseInt(response);
                            if (ldata > 0) {
                                result = false;
                            }
                            else {
                                result = true;
                            }
                        },
                        async: false
                    });

                    if (result == false) {
                        ShowMessage("Duplicate entry exists in active records with same Matter Number and Matter Type combination of selected record. Please update existing active record with required details or delete duplicate active record and activate the one which is more relevant going forward");
                    }
                    else {

                        $("#btnDownload").attr("disabled", "disabled");
                        document.location = '@Url.Action("DeleteCompletionDiary", "CompletionDiary")?selectedData=' + selectedData + '&DeleteType=Active&Trackerid=' + @ViewBag.TrackerId + '&ProcessId=' + @ViewBag.ProcessorId;

                    }
                    return result;



                }

            }

        }

    });
</script>
