﻿@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/ajaxjquery-1.10.0.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    $(document).ready(function () {
            ShowMessage('@ViewBag.Message');
    });
    </script>
}


@if (ViewBag.TotalCount != null)
{
    <script type="text/javascript">
    $(document).ready(function () {

           ImportMessage('@ViewBag.TotalCount','@ViewBag.ValidRecordsCount','@ViewBag.InValidRecordsCount');

    });
    </script>
}


<div class="container">
    <h1>
        Completion Diary : New Item
    </h1>
    <br />
    <div class="AutoPopulateData">

        <div class="row form-group required">
            <label class="col-md-4 control-label">Customer Matter Number</label>
            <div class="col-md-8">
                <input class="form-control" id="AutoMatterNumber" name="Matter_Number" placeholder="Enter Customer Matter Number" required="required" title="" type="text" />
                <input type="hidden" id="hfAutoMatterNumber" name="SelectedMatterNumber" />
            </div>
        </div>

        <div class="row form-group">
            <div class="offset-md-5">
                <button type="button" id="btnProceed" class="btn btn-primary">
                    <span>  Proceed  </span>
                </button>
                <button type="button" id="btnSkip" class="btn btn-primary">
                    <span>  Skip  </span>
                </button>
                <button type="button" id="btncancel" class="btn btn-info">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        <br/>
        @*@using (Html.BeginForm("UploadBulkDataFile", "CompletionDiary", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row form-group">
                <label class="col-md-4 control-label">Attach file:</label>
                <div class="col-md-6 dropdown">
                    <input type="file" id="myfile" name="myfile">
                </div>
            </div>
            <br />
            <div class="row form-group">
                <div class="offset-md-6">
                    <button type="submit" id="btnUpload" class="btn btn-primary">
                        <span> Import  </span>
                    </button>
                </div>
            </div>

        }*@
    </div>
</div>


<button type="button" style="display:none" id="btnAlertInfo" class="btn btn-info" data-toggle="modal" data-target="#CompletiondiaryModel" data-backdrop="static" data-keyboard="false">
    <span>Alert</span>
</button>
@* This modal popup we are using for common alert messages across apllication instead of showing as javscript alert box.*@
<div class="modal fade" id="CompletiondiaryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:400px;margin-left:40%">
        <div class="modal-content">
            <div class="modal-header" style="background-color: gold; ">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <label class="control-label" id="TotalCount" style=" font-size: 1.2em;"></label>
                <br />
                <label class="control-label" id="ValidRecordsCount" style=" font-size: 1.2em;"></label>
                <br />
                <label class="control-label" id="InValidRecordsCount" style=" font-size: 1.2em;"></label>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnOkay" style="margin-top: 0px;" class="btn btn-info" data-dismiss="modal"> Ok </button>
                <button type="button" id="Download" style="margin-top:0px;margin-right:100px;" class="btn btn-info"> Download </button>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    $(function () {

        @*$("#AutoMatterNumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("MatterNumberAutoComplete", "Compliments")",
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfAutoMatterNumber").val(i.item.val);
            },
            minLength: 1
        });*@


         $('#btncancel').click(function () {
        document.location = '@Url.Action("Index","Home")';
          });



        $('#btnSkip').click(function () {
                   document.location = '@Url.Action("NewCompletionDiary", "CompletionDiary")?MatterNumber=';
          });


        $('#btnProceed').click(function () {

            var getMatterNumber = $("#AutoMatterNumber").val().trim();

            if (getMatterNumber != "") {
                             var ldata;

                    $.ajax({
                        url: "@Url.Action("Verifyfields", "Compliments")",
                        data: { Matternumber: getMatterNumber},
                        type: 'GET',
                        dataType: "json",
                        success: function (response) {
                            ldata = parseInt(response);
                            VerifyfieldsExisted(ldata, getMatterNumber);
                        }
                    });
            }
            else {
                ShowMessage("Please enter Matter Number.");
                return false;
            }
        });

        $("#btnUpload").click(function () {

            var getFileName = $("#myfile").val();

            if (getFileName == "") {
                ShowMessage("Please Upload a File");
                return false;
            }
            else {
                var getFileExtension = $("#myfile").val().split(".")[1];

                if (getFileExtension != "csv") {
                    ShowMessage("Please Upload only csv file.");
                    return false;

                }
            }

        });

        $("#Download").click(function () {

            document.location = '@Url.Action("DownloadImportFile", "CompletionDiary")';

        });
    });



    function VerifyfieldsExisted(countNumber, MatterNumber) {
        if (countNumber == 1) {
            console.log(MatterNumber);
            document.location = '@Url.Action("NewCompletionDiary", "CompletionDiary")?MatterNumber=' + MatterNumber;
        }
        else {
            ShowMessage("Please enter valid Matter Number.");
            return false;
        }

    }


    function ImportMessage(TotalCount, ValidRecordsCount, InValidRecordsCount) {
        $("#TotalCount").text("Total Records: "+TotalCount);
        $("#ValidRecordsCount").text("Total Records Processed: " +ValidRecordsCount);
        $("#InValidRecordsCount").text("Total Records Invalid: " + InValidRecordsCount);

        if (InValidRecordsCount == 0) {
            $("#btnOkay").css("margin-right", "170px");
            $("#Download").hide();
        } else {
            $("#Download").show();

        }
        $("#btnAlertInfo").trigger('click');
    }



</script>